<template>
    <div class="p-2">
        <p class="mb-1 f-bold fs-1">{{ item }}</p>
        <!-- <p class="mb-0 text-grey">{{ item.name }}</p> -->
    </div>
</template>

<script>
    export default {
        props: {
            item: { required: true },
            searchText: { required: true }
        }
    }
</script>
