<template>
    <div>
        <!-- <div class="separator"></div> -->
        <div class="container">
            <div class="booking-bc">
                <div class="booking-bc-item" v-on:click="goToPage(1)" v-bind:class="{'active': latestStep(1), 'show': showStep(1)}">
                    1 SELECT
                </div>
                <div class="booking-bc-item" v-on:click="goToPage(2)" v-if="carRental" v-bind:class="{'active': latestStep(2), 'show': showStep(2)}">
                    2 CAR RENTAL
                </div>
                <div class="booking-bc-item" v-on:click="goToPage(3)" v-bind:class="{'active': latestStep(3), 'show': showStep(3)}">
                    {{ !carRental ? '2' : '3' }} REVIEW
                </div>
                <div class="booking-bc-item" v-on:click="goToPage(4)" v-bind:class="{'active': latestStep(4), 'show': showStep(4)}">
                    {{ !carRental ? '3' : '4' }} PASSENGER
                </div>
                <div class="booking-bc-item" v-on:click="goToPage(5)" v-bind:class="{'active': false, 'show': showStep(5)}">
                    {{ !carRental ? '4' : '5' }} PAYMENT
                </div>
            </div>
            <div class="booking-container">
                <div class="row">
                    <div class="col-12 col-xl d-flex flex-column">
                        <div class="mb-4">
                            <step-one :bookingData="bookingData" :adultPrice="adultPrice" :infantPrice="infantPrice" :surcharge="surcharge" :terminalFee="terminalFee" :wifiPrice="wifiPrice" :wifiRefundableDeposit="wifiRefundableDeposit" v-on:updateBookingData="updateBookingData" v-bind:bus="bus" v-show="showStep(1)"></step-one>
                            <step-two :bookingData="bookingData" :car5Price="car5Price" :car10Price="car10Price" v-on:updateBookingData="updateBookingData" v-bind:bus="bus" v-if="carRental" v-show="showStep(2)"></step-two>
                            <booking-review :bookingData="bookingData" v-show="showStep(3)"></booking-review>
                            <step-three :bookingData="bookingData" v-bind:bus="bus" :contactPerson="contactPerson" :user="user" :passengers="passengers" v-on:updateBookingData="updateBookingData" v-on:updatePassenger="updatePassenger" v-on:updateObjectPassenger="updateObjectPassenger" v-on:updateContactPerson="updateContactPerson" v-show="showStep(4)"></step-three>
                        </div>
                        <div class="d-flex justify-content-between mb-5">
                            <a @click="back" v-if="backable" class="btn-arrow px-4 left pointer">Back</a>
                            <a v-else class="btn-arrow px-4 left disabled">Back</a>
                            
                            <a @click="skipCar" class="btn-arrow px-4 right pointer btn-skip-car" v-if="currentPage == 2">Skip</a>

                            <a @click="next" v-if="passable" class="btn-arrow px-4 right pointer">{{ currentPage == 3 && !this.user ? 'Continue as guest' : 'Next' }}</a>
                            <a v-else class="btn-arrow px-4 right disabled">{{ currentPage == 3 && !this.user ? 'Continue as guest' : 'Next' }}</a>
                        </div>
                    </div>
                    <div class="col-12 col-xl booking-summary">
                        <booking-summary
                            :bookingData="bookingData"
                            :adultPrice="adultPrice"
                            :infantPrice="infantPrice"
                            :terminalFee="terminalFee"
                            :surcharge="surcharge"
                            :wifiPrice="wifiPrice"
                            :wifiRefundableDeposit="wifiRefundableDeposit"
                            :car5Price="car5Price"
                            :car10Price="car10Price"
                        ></booking-summary>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import BookingStepOneComponent from './BookingStepOneComponent.vue';
    import BookingStepTwoComponent from './BookingStepTwoComponent.vue';
    import BookingStepThreeComponent from './BookingStepThreeComponent.vue';
    import BookingSummaryComponent from './BookingSummaryComponent.vue';
    import BookingReviewComponent from './BookingReviewComponent.vue';
    import PassengerCollection from '../../collections/PassengerCollection'
    import Passenger from '../../models/Passenger'
    import ContactPerson from '../../models/ContactPerson'

    export default {
        props: ['user', 'token', 'bus'],
        data() {
            let bookingData = sessionStorage.getItem('bookingData') ? JSON.parse(sessionStorage.getItem('bookingData')) : '';

            return {
                bookingData: bookingData,
                currentPage: sessionStorage.getItem('currentPage') ? Number(sessionStorage.getItem('currentPage')) : 1,
                latestPage: sessionStorage.getItem('latestPage') ? Number(sessionStorage.getItem('latestPage')) : 1,
                carRental: bookingData.carRental,
                totalPage: 4,
                passengers: bookingData ? new PassengerCollection(bookingData.passengers) :  new PassengerCollection,
                contactPerson: bookingData ? new ContactPerson(bookingData.contactPerson) : new ContactPerson,
                adultPrice: 0,
                infantPrice: 0,
                terminalFee: 0,
                surcharge: 0,
                businessClassPrice: 0,
                wifiPrice: 0,
                wifiRefundableDeposit: 0,
                car5Price: 0,
                car10Price: 0,
                stepOneErrors: []
            }
        },
        computed: {
            passable: function() {
                // let currentPage = !this.carRental && this.currentPage > 3 ? this.currentPage + 1 : this.currentPage;
                switch (this.currentPage) {
                    case 1:
                        return this.validatePageOne();
                        break;
                    case 2:
                        return this.validatePageTwo();
                        break;
                    case 3:
                        return true;
                        break;
                    case 4:
                        return this.validatePageThree();
                        break;
                    default:
                        return false;
                        break;
                }
            },
            backable: function() {
                return true
                // return this.currentPage > 1 ? true : false
            },
            errorMessage: function() {
                let message = "";
                this.stepOneErrors.forEach(function(item) {
                    message += `<p class="mb-0 text-left">${item}</p>`;
                });
                return message;
            }
        },
        created() {
            this.bus.$on('reserveError', this.reserveError);
            if (!this.bookingData) {
                this.$router.push({ name: 'dashboard'});
            }
            this.getTicketPrice(this.bookingData.bookingType, this.bookingData.bookingClass);
        },
        mounted() {
            // 
        },
        methods: {
            showStep(page) {
                // if (this.carRental) return this.currentPage == page;
                // if (this.currentPage > 3) {
                //     return (this.currentPage + 1) == page;
                // } else {
                //     return this.currentPage == page;
                // }
                return this.currentPage == page;
            },
            latestStep(page) {
                // if (this.carRental) return this.latestPage == page;
                // if (this.latestPage > 3) {
                //     return (this.latestPage + 1) == page;
                // } else {
                //     return this.latestPage == page;
                // }
                return this.latestPage == page;
            },
            reserveError(error) {
                // callback on reserve error
            },
            next: function() {
                if (this.currentPage == this.totalPage) {
                    this.bus.$emit('reserve');
                } else if (this.currentPage < this.totalPage) {
                    this.currentPage++;
                    if (this.currentPage == 2 && !this.carRental) this.currentPage++;
                    this.updateLatestPage();
                    sessionStorage.setItem('currentPage', this.currentPage);

                    // this.currentPage++;
                    // if (this.currentPage === 2 && !this.carRental) {
                    //     this.currentPage++;
                    // }
                }
                
                let dropdown = $('.dropdown-toggler.login, .dropdown-toggler.logged-in, .dropdown-toggler.signup');
                dropdown.removeClass('open');
            },
            back: function() {
                if (this.currentPage > 1) {
                    this.currentPage--;
                    if (this.currentPage == 2 && !this.carRental) this.currentPage--;
                    this.updateLatestPage();
                    sessionStorage.setItem('currentPage', this.currentPage);
                    // this.currentPage--;
                    // if (this.currentPage === 2 && !this.carRental) {
                    //     this.currentPage--;
                    // }
                } else if (this.currentPage == 1) {
                    this.$router.push({ name: 'dashboard'});
                }
                
                let dropdown = $('.dropdown-toggler.login, .dropdown-toggler.logged-in, .dropdown-toggler.signup');
                dropdown.removeClass('open');
            },
            goToPage: function(val) {
                // if (!this.carRental && val > 3) val--;
                if (val <= this.latestPage) {
                    this.currentPage = val;
                    sessionStorage.setItem('currentPage', this.currentPage);
                }
                
                let dropdown = $('.dropdown-toggler.login, .dropdown-toggler.logged-in, .dropdown-toggler.signup');
                dropdown.removeClass('open');
            },
            updateLatestPage: function() {
                if (this.latestPage < this.currentPage) {
                    this.latestPage = this.currentPage;
                    sessionStorage.setItem('latestPage', this.latestPage);
                }
            },
            updateBookingData(field, val) {
                this.bookingData[field] = val;
                sessionStorage.setItem('bookingData', JSON.stringify(this.bookingData));
            },
            updateContactPerson(field, val) {
                this.bookingData.contactPerson[field] = val;
                sessionStorage.setItem('bookingData', JSON.stringify(this.bookingData));
            },
            updateObjectPassenger(index, val) {
                // this.bookingData.passengers[index] = val;
                // this.bookingData.passengers[index].type = 1;
                this.bookingData.passengers[index].passportNumber = val.passportNumber,
                this.bookingData.passengers[index].name = val.name,
                this.bookingData.passengers[index].nationality = val.nationality,
                this.bookingData.passengers[index].gender = val.gender,
                this.bookingData.passengers[index].dobDay = val.dobDay,
                this.bookingData.passengers[index].dobMonth = val.dobMonth,
                this.bookingData.passengers[index].dobYear = val.dobYear,
                this.bookingData.passengers[index].passportExpiryDay = val.passportExpiryDay,
                this.bookingData.passengers[index].passportExpiryMonth = val.passportExpiryMonth,
                this.bookingData.passengers[index].passportExpiryYear = val.passportExpiryYear,
                this.bookingData.passengers[index].issuingCountry = val.issuingCountry,
                this.bookingData.passengers[index].passportIssueDay = val.passportIssueDay,
                this.bookingData.passengers[index].passportIssueMonth = val.passportIssueMonth,
                this.bookingData.passengers[index].passportIssueYear = val.passportIssueYear,
                this.bookingData.passengers[index].type = val.type,

                sessionStorage.setItem('bookingData', JSON.stringify(this.bookingData));
            },
            updatePassenger(index, field, val) {
                this.bookingData.passengers[index][field] = val;
                // this.passengers.models[index][field] = val;
                sessionStorage.setItem('bookingData', JSON.stringify(this.bookingData));
            },
            validatePageOne() {
                let pass = true;
                this.stepOneErrors = [];

                if (!this.bookingData.departTimeId) {
                    this.stepOneErrors.push("Depart schedule not chosen.");
                    pass = false;
                }
                if (this.bookingData.bookingType == 0 && !this.bookingData.returnTimeId) {
                    this.stepOneErrors.push("Return schedule not chosen.");
                    pass = false;
                }
                if (this.bookingData.wifiRental && !this.bookingData.agreeRisks) {
                    pass = false;
                }
                if (!this.bookingData.agreeTerms) {
                    pass = false;
                }
                if (this.bookingData.departTime && this.isPastSchedule(this.bookingData.departDate, this.bookingData.departTime, this.bookingData.departRouteId == 2)) {
                    this.stepOneErrors.push("Depart schedule not available, please reload and choose again.");
                    pass = false;
                }
                if (this.bookingData.bookingType == 0) {
                    if (this.bookingData.returnTime && this.isPastSchedule(this.bookingData.returnDate, this.bookingData.returnTime, this.bookingData.departRouteId == 2)) {
                        this.stepOneErrors.push("Return schedule not available, please reload and choose again.");
                        pass = false;
                    }
                }

                return pass;
            },
            validatePageTwo(){
                let pass = true;

                // if (this.bookingData.carRental) {
                //     console.log('in')
                //     if (!this.bookingData.selectedCar) {
                //         pass = false;
                //         console.log('1', pass);
                //     }
                //     if (!this.bookingData.carRentalDate || this.bookingData.carRentalDate.length != 2) {
                //         pass = false;
                //         console.log('2', pass);
                //     }
                //     if (!this.bookingData.pickUpAt) {
                //         pass = false;
                //         console.log('3', pass);
                //     }
                // }
                return pass;
            },
            validatePageThree(){
                let pass = true;

                if (!this.contactPerson.validate()) {
                    pass = false;
                };

                if (!this.passengers.validate()) {
                    pass = false;
                };
                return pass;
            },
            camelCaseKeysToUnderscore(obj){
                if (typeof(obj) != "object") return obj;

                for(var oldName in obj){

                    // Camel to underscore
                    let newName = oldName.replace(/([A-Z])/g, function($1){return "_"+$1.toLowerCase();});

                    // Only process if names are different
                    if (newName != oldName) {
                        // Check for the old property name to avoid a ReferenceError in strict mode.
                        if (obj.hasOwnProperty(oldName)) {
                            obj[newName] = obj[oldName];
                            delete obj[oldName];
                        }
                    }

                    // Recursion
                    if (typeof(obj[newName]) == "object") {
                        obj[newName] = this.camelCaseKeysToUnderscore(obj[newName]);
                    }

                }
                return obj;
            },
            // validEmail: function (email) {
            //     var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            //     return re.test(email);
            // },
            getTicketPrice(bookingType, bookingClass) {
                let twoWay = bookingType == 0 ? 1 : 0;
                window.axios.get(this.$root.api.getTicketPrice + `?two_way=${twoWay}&type=${bookingClass}`)
                    .then((response)  =>  {
                        let res = response.data;
                        
                        if (this.bookingData.departRouteId == 1) {
                            this.adultPrice = res.data.local_adult;
                            this.infantPrice = res.data.local_infant;
                            this.wifiPrice = res.data.wifi_price_sg;
                        } else {
                            this.adultPrice = res.data.adult_sg;
                            this.infantPrice = res.data.infant_sg;
                            this.wifiPrice = res.data.wifi_price_batam;
                        }
                        this.terminalFee = res.data.terminal_fee;
                        this.surcharge = res.data.surcharge;
                        this.businessClassPrice = res.data.upgrade_business_class;
                        this.wifiRefundableDeposit = res.data.wifi_refundable_deposit;
                        
                        if (this.bookingData.bookingType == 0) {
                            this.businessClassPrice = Number(this.businessClassPrice) * 2;
                        }

                        if (this.bookingData.bookingClass == 1) {
                            this.adultPrice = Number(this.adultPrice) + Number(this.businessClassPrice);
                            this.infantPrice = Number(this.infantPrice) + Number(this.businessClassPrice);
                        }

                        this.car5Price = res.data.car_5_seater;
                        this.car10Price = res.data.car_10_seater;
                    }, (error) => {
                    });
            },
            isPastSchedule(dateStr, timeStr, sgTime) {
                let now = sgTime ? moment.tz('Asia/Singapore') : moment.tz('Asia/Jakarta');
                let date = moment(dateStr);
                let time = moment(timeStr, 'HH:mm');
                date.set({
                    hour: time.get('hour'),
                    minute: time.get('minute'),
                    second: time.get('second')
                });

                date.subtract(30, 'minutes');

                return now.format() > date.format();
                // return now.isAfter(date);
            },
            skipCar() {
                this.updateBookingData('carRental', 0);
                this.carRental = 0;
                this.currentPage = 3;
                this.updateLatestPage();
                sessionStorage.setItem('currentPage', this.currentPage);
            }
        },
        components: {
            'step-one': BookingStepOneComponent,
            'step-two': BookingStepTwoComponent,
            'step-three': BookingStepThreeComponent,
            'booking-summary':  BookingSummaryComponent,
            'booking-review':  BookingReviewComponent,
        }
    }
</script>
