<template>
    <div>
        <p class="f-secondary fs-3xl text-blue">Review Itinerary</p>
        <div class="row">
            <div class="col-12 col-lg-6 mb-3">
                <div class="border border-blue">
                    <div class="bg-table-cream border-bottom border-blue p-3 text-center">
                        <p class="text-red fs-xxl f-secondary mb-1">DEPART</p>
                        <p class="text-blue mb-1"><b>{{ bookingData.departDate | moment("ddd, DD MMM YYYY") }}</b></p>
                        <div class="d-inline-flex align-items-center">
                            <p class="text-blue mb-0"><b>{{ departRoute.placeCode }}</b> {{ departRoute.portName }}</p>
                            <p class="mb-0 text-red fs-5 mx-3">
                                <font-awesome-icon icon="caret-right"></font-awesome-icon>
                            </p>
                            <p class="text-blue mb-0"><b>{{ returnRoute.placeCode }}</b> {{ returnRoute.portName }}</p>
                        </div>
                    </div>
                    <div class="py-3 px-4">
                        <div class="row">
                            <div class="col-6">
                                <p class="text-blue f-super-bold mb-1">Departs</p>
                                <p class="text-blue mb-1">{{ departRoute.portName }}</p>
                                <p class="text-red f-super-bold mb-0">{{ bookingData.departDate | moment('HH:mm') }} ({{ bookingData.departRouteId == 1 ? 'ID time' : 'SG time' }})</p>
                            </div>
                            <div class="col-6">
                                <p class="text-blue f-super-bold mb-1">Arrives (ETA)</p>
                                <p class="text-blue mb-1">{{ returnRoute.portName }}</p>
                                <p class="text-blue mb-0">{{ bookingData.departDate | moment('add', '1 hour', 'HH:mm') }} <span class="text-red f-super-bold">({{ bookingData.departRouteId == 1 ? 'ID time' : 'SG time' }})</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-3" v-if="bookingData.bookingType == 0">
                <div class="border border-blue">
                    <div class="bg-table-cream border-bottom border-blue p-3 text-center">
                        <p class="text-red fs-xxl f-secondary mb-1">RETURN</p>
                        <p class="text-blue mb-1"><b>{{ bookingData.returnDate | moment("ddd, DD MMM YYYY") }}</b></p>
                        <div class="d-inline-flex align-items-center">
                            <p class="text-blue mb-0"><b>{{ returnRoute.placeCode }}</b> {{ returnRoute.portName }}</p>
                            <p class="mb-0 text-red fs-5 mx-3">
                                <font-awesome-icon icon="caret-right"></font-awesome-icon>
                            </p>
                            <p class="text-blue mb-0"><b>{{ departRoute.placeCode }}</b> {{ departRoute.portName }}</p>
                        </div>
                    </div>
                    <div class="py-3 px-4">
                        <div class="row">
                            <div class="col-6">
                                <p class="text-blue f-super-bold mb-1">Departs</p>
                                <p class="text-blue mb-1">{{ returnRoute.portName }}</p>
                                <p class="text-red f-super-bold mb-0">{{ bookingData.returnDate | moment('HH:mm') }} ({{ bookingData.returnRouteId == 1 ? 'ID time' : 'SG time' }})</p>
                            </div>
                            <div class="col-6">
                                <p class="text-blue f-super-bold mb-1">Arrives (ETA)</p>
                                <p class="text-blue mb-1">{{ departRoute.portName }}</p>
                                <p class="text-blue mb-0">{{ bookingData.returnDate | moment('add', '1 hour', 'HH:mm') }} <span class="text-red f-super-bold">({{ bookingData.returnRouteId == 1 ? 'ID time' : 'SG time' }})</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="bookingData.wifiRental || bookingData.carRental" class="row">
            <div class="col-12">
                <div class="border border-blue p-3">
                    <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
                        <div v-if="bookingData.wifiRental" class="d-flex align-items-center">
                            <div class="mr-3">
                                <img src="/assets/icons/wifi.png" width="38" alt="">
                            </div>
                            <div>
                                <p class="text-blue f-super-bold mb-1">Wifi Rental</p>
                                <p class="text-red f-super-bold mb-0">{{ daysBetween(bookingData.wifiRentalDate[0], bookingData.wifiRentalDate[1]) }} days unlimited</p>
                            </div>
                        </div>
                        <div v-if="bookingData.carRental" class="d-flex align-items-center" :class="{'mt-4 mt-md-0 ml-md-5': bookingData.wifiRental}">
                            <div class="mr-3">
                                <img src="/assets/icons/car.png" width="38" alt="">
                            </div>
                            <div>
                                <p class="text-blue f-super-bold mb-1">Car Rental</p>
                                <p class="text-red f-super-bold mb-0">{{ bookingData.carRentalDate[0] | moment("DD/MM/YYYY") }} - {{ bookingData.carRentalDate[1] | moment("DD/MM/YYYY") }} ({{ daysBetween(bookingData.carRentalDate[0], bookingData.carRentalDate[1]) }}days)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['bookingData'],
        data() {
            let departRoute = this.$root.ferryRoutes.find(item => item.id == this.bookingData.departRouteId);
            let returnRoute = this.$root.ferryRoutes.find(item => item.id == this.bookingData.returnRouteId);

            return {
                departRoute: departRoute,
                returnRoute: returnRoute,
            }
        },
        methods: {
            daysBetween(date1, date2) {
                var a = moment(date1);
                var b = moment(date2);
                return b.diff(a, 'days') + 1
            },
        }
    }
</script>
