<template>
    <div class="sticky-summary">
        <div class="border border-red mb-5">
            <div class="bg-light-red py-1 px-4">
                <p class="text-center f-secondary text-blue f-bold mb-0 fs-5">Summary</p>
            </div>
            <div class="p-3">
                <div class="mb-4">
                    <div>
                        <p class="f-bold text-blue mb-2">Ferry ticket(s)</p>
                        <div class="d-flex justify-content-between mb-1">
                            <p class="text-blue mb-0">Passengers(s)</p>
                            <p class="mb-0">{{ totalAdults }} Adult(s)</p>
                        </div>
                        <div v-if="totalInfants > 0" class="d-flex justify-content-between mb-1">
                            <p class="text-blue mb-0"></p>
                            <p class="mb-0">{{ totalInfants }} Infant(s)</p>
                        </div>
                        <div class="d-flex justify-content-between mb-1">
                            <p class="text-blue mb-0">Ticket price</p>
                            <p class="mb-0">{{ totalTicketPrice | currency('S$', 2) }}</p>
                        </div>
                        <div class="d-flex justify-content-between mb-1">
                            <p class="text-blue mb-0">Surcharge(s)</p>
                            <p class="mb-0">{{ totalSurcharge | currency('S$', 2) }}</p>
                        </div>
                        <div class="d-flex justify-content-between mb-1">
                            <p class="text-blue mb-0">Terminal Fee(s)</p>
                            <p class="mb-0">{{ totalTerminalFee | currency('S$', 2) }}</p>
                        </div>
                    </div>
                    <template v-if="bookingData.wifiRental">
                        <hr>
                        <div>
                            <p class="f-bold text-blue mb-2">Wifi Rental</p>
                            <div class="d-flex justify-content-between mb-1">
                                <p class="text-blue mb-0">{{ daysBetween(bookingData.wifiRentalDate[0], bookingData.wifiRentalDate[1]) }} days unlimited</p>
                                <p class="mb-0">{{ totalWifiPrice | currency('S$', 2) }}</p>
                            </div>
                            <div class="d-flex justify-content-between mb-1">
                                <p class="text-blue mb-0">No. of devices</p>
                                <p class="mb-0">{{ bookingData.noOfDevices }}</p>
                            </div>
                            <!-- <div v-if="wifiRefundableDeposit != 0" class="d-flex justify-content-between mb-1">
                                <p class="text-red mb-0">Refundable Deposit</p>
                                <p class="text-red mb-0">{{ wifiRefundableDeposit | currency('S$', 2) }}</p>
                            </div> -->
                        </div>
                    </template>
                    <template v-if="bookingData.carRental">
                        <hr>
                        <div>
                            <p class="f-bold text-blue mb-2">Car Charter ({{ this.bookingData.selectedCar == 'car_5_seater' ? '5' : '10' }} seater)</p>
                            <div class="d-flex justify-content-between mb-1">
                                <p class="text-blue mb-0">{{ daysBetween(bookingData.carRentalDate[0], bookingData.carRentalDate[1]) }} days (10 hrs/day)</p>
                                <p class="mb-0">{{ totalCarPrice | currency('S$', 2) }}</p>
                            </div>
                        </div>
                    </template>
                </div>
                <div class="bg-red text-white p-3 mb-4 d-flex align-items-center justify-content-center">
                    <div class="mr-1 f-bold">TOTAL</div>
                    <div class="f-secondary fs-3xl mx-1">{{ total | currency('S$', 2) }}</div>
                </div>
                <div>
                    <div class="mb-4">
                        <p class="f-super-bold text-blue mb-2">DEPART TRIP <span class="text-black f-bold">({{ bookingData.departRouteId == 1 ? 'ID time' : 'SG time' }})</span></p>
                        <p class="f-bold mb-1">
                            {{ bookingData.departDate | moment("ddd, DD MMM YYYY") }}
                        </p>
                        <div class="mb-0">
                            <span class="f-bold">
                                <span v-if="bookingData.departTimeId">
                                    {{ bookingData.departDate | moment('HH:mm') }}
                                </span>
                                <span v-else>--:--</span>
                            </span>
                            <span class="label label-red"><span class="f-bold">{{ departRoute.placeCode }}</span> {{ departRoute.portName }}</span>
                        </div>
                        <p class="mb-1 text-red fs-5 text-center">
                            <font-awesome-icon icon="caret-down"></font-awesome-icon>
                        </p>
                        <p class="mb-1">
                            <span class="f-bold">
                                <span v-if="bookingData.departTimeId">
                                    {{ bookingData.departDate | moment('add', '1 hour', 'HH:mm') }}
                                </span>
                                <span v-else>--:--</span>
                            </span>
                            <span class="label label-red"><span class="f-bold">{{ returnRoute.placeCode }}</span> {{ returnRoute.portName }}</span>
                        </p>
                        <p class="mb-1">Class {{ bookingClassString }}</p>
                    </div>
                    <div v-if="bookingData.bookingType == 0" class="">
                        <p class="f-super-bold text-blue mb-2">RETURN TRIP <span class="text-black f-bold">({{ bookingData.returnRouteId == 1 ? 'ID time' : 'SG time' }})</span></p>
                        <p class="f-bold mb-1">
                            {{ bookingData.returnDate | moment("ddd, DD MMM YYYY") }}
                        </p>
                        <p class="mb-0">
                            <span class="f-bold">
                                <span v-if="bookingData.returnTimeId">
                                    {{ bookingData.returnDate | moment('HH:mm') }}
                                </span>
                                <span v-else>--:--</span>
                            </span>
                            <span class="label label-red"><span class="f-bold">{{ returnRoute.placeCode }}</span> {{ returnRoute.portName }}</span>
                        </p>
                        <p class="mb-1 text-red fs-5 text-center">
                            <font-awesome-icon icon="caret-down"></font-awesome-icon>
                        </p>
                        <p class="mb-1">
                            <span class="f-bold">
                                <span v-if="bookingData.returnTimeId">
                                    {{ bookingData.returnDate | moment('add', '1 hour', 'HH:mm') }}
                                </span>
                                <span v-else>--:--</span>
                            </span>
                            <span class="label label-red"><span class="f-bold">{{ departRoute.placeCode }}</span> {{ departRoute.portName }}</span>
                        </p>
                        <p class="mb-1">Class {{ bookingClassString }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { library } from '@fortawesome/fontawesome-svg-core'
    import { faCaretDown } from '@fortawesome/free-solid-svg-icons/faCaretDown'

    library.add(faCaretDown)

    export default {
        props: ['bookingData', 'adultPrice', 'infantPrice', 'terminalFee', 'surcharge', 'wifiPrice', 'wifiRefundableDeposit', 'car5Price', 'car10Price'],
        data() {
            let bookingClassString = 'ECONOMY';
            switch (this.bookingData.bookingClass) {
                case '0':
                    bookingClassString = 'ECONOMY';
                    break;
                case '1':
                    bookingClassString = 'BUSINESS';
                    break;
                case '2':
                    bookingClassString = 'VIP';
                    break;
                default:
                    break;
            };

            let departRoute = this.$root.ferryRoutes.find(item => item.id == this.bookingData.departRouteId);
            let returnRoute = this.$root.ferryRoutes.find(item => item.id == this.bookingData.returnRouteId);

            return {
                departRoute: departRoute,
                returnRoute: returnRoute,
                bookingClassString: bookingClassString,
                bookingClassString: bookingClassString,
            }
        },
        computed: {
            totalAdults: function() {
                let result = this.bookingData.passengers.filter(passenger => passenger.type == 0).length;
                return result;
            },
            totalInfants: function() {
                let result = this.bookingData.passengers.filter(passenger => passenger.type == 1).length;
                return result;
            },
            totalTicketPrice: function() {
                let result = (this.totalAdults * this.adultPrice) + (this.totalInfants * this.infantPrice);
                return result;
            },
            totalSurcharge: function() {
                let result = Number(this.surcharge * (this.totalAdults + this.totalInfants));
                if (this.bookingData.bookingType == 0) result *= 2;
                return result;
            },
            totalTerminalFee: function() {
                let result = Number(this.terminalFee * (this.totalAdults + this.totalInfants));
                if (this.bookingData.bookingType == 0) result *= 2;
                return result;
            },
            totalWifiPrice: function() {
                return this.bookingData.noOfDevices * this.wifiPrice * this.daysBetween(this.bookingData.wifiRentalDate[0], this.bookingData.wifiRentalDate[1])
            },
            totalCarPrice: function() {
                let price = this.car10Price;
                if (this.bookingData.selectedCar == 'car_5_seater') price = this.car5Price;
                return price * this.daysBetween(this.bookingData.carRentalDate[0], this.bookingData.carRentalDate[1])
            },
            total: function() {
                let result = Number(this.totalTicketPrice) + Number(this.totalTerminalFee) + Number(this.totalSurcharge);
                if (this.bookingData.wifiRental) result += Number(this.totalWifiPrice);
                if (this.bookingData.carRental) result += Number(this.totalCarPrice);
                return result
            },
        },
        mounted() {
            // console.log(this.bookingData.passengers.filter(passenger => passenger.type == 1));
        },
        methods: {
            daysBetween(date1, date2) {
                var a = moment(date1);
                var b = moment(date2);
                return b.diff(a, 'days') + 1
            },
        }
    }
</script>
