<template>
    <div>
        <p class="f-secondary fs-3xl text-blue mb-0">Batam Private Car Charter</p>
        <p class="text-cream">Rent a car with driver for flexibility and convenience</p>
        <div class="mb-4 position-relative">
            <img class="booking-car" src="/assets/images/booking/cars.png">
            <div class="car-price seater5">
                <div>5 Seater</div>
                <div>${{ car5Price }} SGD / DAY</div>
            </div>
            <div class="car-price seater10">
                <div>10 Seater</div>
                <div>${{ car10Price }} SGD / DAY</div>
            </div>
        </div>
        <div class="row align-items-center mb-4">
            <div class="col-6 col-xl-3">
                <div class="d-flex align-items-center">
                    <img class="booking-car-icon" src="/assets/icons/booking/free.png">
                    <p class="text-blue mb-0 ml-2">Free Cancelation <br> - 48 Hrs Notice</p>
                </div>
            </div>
            <div class="col-6 col-xl-3">
                <div class="d-flex align-items-center">
                    <img class="booking-car-icon" src="/assets/icons/booking/car.png">
                    <p class="text-blue mb-0 ml-2">Private <br> Transfer</p>
                </div>
            </div>
            <!-- <div class="col-6 col-xl-3">
                <div class="d-flex align-items-center">
                    <img class="booking-car-icon" src="/assets/icons/booking/eng.png">
                    <p class="text-blue mb-0 ml-2">English</p>
                </div>
            </div> -->
        </div>
        <ul class="pl-4">
            <li class="py-1">See Batam with no tour groups, no itineraries, and no schedules - the best value way to see the island at your own pace!</li>
            <li class="py-1">Plan your own perfect day: take in the best spots, restaurants, spas, and activities on the island!</li>
            <li class="py-1">Most Batam itineraries and tours can be arranged with your private car and driver, so mix and match to your heart’s content</li>
            <li class="py-1">Ride in comfort and safety, with a local driver/guide who can navigate the confusing roads and traffic on the island</li>
            <li class="py-1">Stay cool in modern vehicles with air conditioning for all passengers</li>
        </ul>
        <img class="img-fluid mb-4" width="100%" src="/assets/images/booking/batam.jpg" />
        <div class="mb-4 border border-cream p-4 bg-light-cream-2">
            <div class="d-inline-flex mb-3">
                <select v-model="selectedCar" v-on:change="updateBookingData('selectedCar', $event.target.value)" class="form-control horizon grey f-bold">
                    <option value="car_5_seater">5 Seater SGD {{ car5Price }} per day</option>
                    <option value="car_10_seater">10 Seater SGD {{ car10Price }} per day</option>
                </select>
            </div>
            <div class="d-flex mb-3">
                <div class="d-flex flex-column mr-4">
                    <p class="mb-1 text-blue f-bold">Inclusive Of:</p>
                    <p class="mb-1 text-blue">10 hours full day private car rental</p>
                    <p class="mb-1 text-blue">Driver fees</p>
                    <p class="mb-1 text-blue">Hotel pick up and drop off</p>
                </div>
                <div class="d-flex flex-column">
                    <p class="mb-1 text-blue f-bold">Not Inclusive Of:</p>
                    <p class="mb-1 text-blue">Toll fees</p>
                    <p class="mb-1 text-blue">Tips for the driver(optional)</p>
                    <p class="mb-1 text-blue">Overtime fee(IDR 50,000 per hour)</p>
                </div>
            </div>
            <div class="d-flex flex-column flex-xl-row mb-3">
                <div class="d-flex d-xl-inline-flex flex-column flex-xl-row mb-3 mb-xl-0 custom-date-picker">
                    <div class="select-block grey mb-3 mb-xl-0 d-flex align-items-center justify-content-center">
                        <span class="f-bold text-blue">From</span>
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 200 200" class="custom-calendar-icon mx-2">
                            <rect x="13" y="29" rx="14" ry="14" width="174" height="158" fill="transparent" />
                            <line x1="46" x2="46" y1="8" y2="50" />
                            <line x1="154" x2="154" y1="8" y2="50" />
                            <line x1="13" x2="187" y1="70" y2="70" />
                            <text x="50%" y="135" font-size="90" stroke-width="1" text-anchor="middle" dominant-baseline="middle">{{new Date().getDate()}}</text>
                        </svg>
                        <span>{{ this.carRentalDate[0] | moment("D/M/YYYY") }}</span>
                        <font-awesome-icon class="ml-2" icon="angle-down"></font-awesome-icon>
                    </div>
                    <div class="select-block grey ml-xl-3 d-flex align-items-center justify-content-center">
                        <span class="f-bold text-blue">To</span>
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 200 200" class="custom-calendar-icon mx-2">
                            <rect x="13" y="29" rx="14" ry="14" width="174" height="158" fill="transparent" />
                            <line x1="46" x2="46" y1="8" y2="50" />
                            <line x1="154" x2="154" y1="8" y2="50" />
                            <line x1="13" x2="187" y1="70" y2="70" />
                            <text x="50%" y="135" font-size="90" stroke-width="1" text-anchor="middle" dominant-baseline="middle">{{new Date().getDate()}}</text>
                        </svg>
                        <span>{{ this.carRentalDate[1] | moment("D/M/YYYY") }}</span>
                        <font-awesome-icon class="ml-2" icon="angle-down"></font-awesome-icon>
                    </div>
                    <date-picker range v-model="carRentalDate" @change="updateBookingData('carRentalDate', $event)" :not-before="notBefore" :not-after="notAfter" :lang="'en'" :editable="false" :clearable="false">
                        <template slot="header">
                            <p class="text-center text-white mb-0 f-bold fs-2 mx-custom-header">Car Rental Date Range</p>
                        </template>
                    </date-picker>
                </div>
                <span class="f-bold ml-xl-3 text-blue align-self-center text-center">Total price:
                    <span class="text-red">
                        {{ totalCarPrice }} SGD 
                    </span>
                </span>
            </div>
            <div class="d-flex flex-column flex-xl-row align-items-xl-center">
                <div class="d-flex flex-column flex-xl-row align-items-xl-center mb-3 mb-xl-0">
                    <span class="f-bold mb-2 mb-xl-0 text-center text-blue">Pick up at</span>
                    <label class="select-block grey mx-xl-3 default with-input">
                        <input class="text-center" type="text" v-model="checkpoint" @change="updateBookingData('checkpoint', $event.target.value)" spellcheck="false" />
                    </label>
                </div>
                <div class="d-flex flex-column flex-xl-row align-items-xl-center">
                    <span class="f-bold mb-2 mb-xl-0 text-center text-blue">at:</span>
                    <div class="select-block grey ml-xl-3 custom-date-picker">
                        <span class="f-bold">WIB {{ pickUpAt | moment('HH:mm') }}</span>
                        <font-awesome-icon class="ml-2" icon="angle-down"></font-awesome-icon>
                        <date-picker
                            type="time"
                            v-model="pickUpAt"
                            @change="updateBookingData('pickUpAt', $event)"
                            :format="'HH:mm'"
                            :time-picker-options="timePickerOptions"
                            :lang="'en'"
                            :editable="false"
                            :clearable="false"
                        ></date-picker>
                    </div>
                </div>
            </div>
        </div>
        <p class="f-bold text-blue">Overtime fees of IDR50,000 per hour will apply if you exceed the duration of this charter <br> service, payable directly to the driver.</p>
        <p class="f-bold text-blue">For pick ups between 12:00am - 6:00am there will be a surchage of IDR250,000 payable <br> directly in cash to the driver</p>
        <p class="f-bold">Confirmation:</p>
        <p>You will receive a confirmation email instantly upon booking</p>
        <p>In the event that you do not receive an email from us, please check your Spam folder or <br> notify us via email. Driver contact details will be send to you 5 days before your travel date.</p>
        <p class="f-bold">Cancelation Policy</p>
        <p>A admin charge of SGD 5 will be charged for any cancelations. Cancelation need to be made at least 72 hours prior to the activity, if not the full amount will be charged.</p>
    </div>
</template>

<script>
    import DatePicker from 'vue2-datepicker'
    import { library } from '@fortawesome/fontawesome-svg-core'
    import { faAngleDown } from '@fortawesome/free-solid-svg-icons/faAngleDown'

    library.add(faAngleDown)

    export default {
        props: ['bookingData', 'car5Price', 'car10Price'],
        data() {
            return {
                selectedCar: this.bookingData.selectedCar,
                carRentalDate: this.bookingData.carRentalDate,
                pickUpAt: this.bookingData.pickUpAt,
                checkpoint: this.bookingData.checkpoint,
                timePickerOptions: () => [
                    {
                        label: '00:00 (with surcharge)',
                        value: {hours: 0, minutes: 0}
                    },
                    {
                        label: '01:00 (with surcharge)',
                        value: {hours: 1, minutes: 0}
                    },
                    {
                        label: '03:00 (with surcharge)',
                        value: {hours: 3, minutes: 0}
                    },
                    {
                        label: '04:00 (with surcharge)',
                        value: {hours: 4, minutes: 0}
                    },
                    {
                        label: '05:00 (with surcharge)',
                        value: {hours: 5, minutes: 0}
                    },
                    {
                        label: '06:00 (with surcharge)',
                        value: {hours: 6, minutes: 0}
                    },
                    {
                        label: '07:00',
                        value: {hours: 7, minutes: 0}
                    },
                    {
                        label: '08:00',
                        value: {hours: 8, minutes: 0}
                    },
                    {
                        label: '09:00',
                        value: {hours: 9, minutes: 0}
                    },
                    {
                        label: '10:00',
                        value: {hours: 10, minutes: 0}
                    },
                    {
                        label: '11:00',
                        value: {hours: 11, minutes: 0}
                    },
                    {
                        label: '12:00',
                        value: {hours: 12, minutes: 0}
                    },
                    {
                        label: '13:00',
                        value: {hours: 13, minutes: 0}
                    },
                    {
                        label: '14:00',
                        value: {hours: 7, minutes: 0}
                    },
                    {
                        label: '15:00',
                        value: {hours: 15, minutes: 0}
                    },
                    {
                        label: '16:00',
                        value: {hours: 16, minutes: 0}
                    },
                    {
                        label: '17:00',
                        value: {hours: 17, minutes: 0}
                    },
                    {
                        label: '18:00',
                        value: {hours: 18, minutes: 0}
                    },
                    {
                        label: '19:00',
                        value: {hours: 19, minutes: 0}
                    },
                    {
                        label: '20:00',
                        value: {hours: 20, minutes: 0}
                    },
                    {
                        label: '21:00',
                        value: {hours: 21, minutes: 0}
                    },
                    {
                        label: '22:00',
                        value: {hours: 22, minutes: 0}
                    },
                    {
                        label: '23:00',
                        value: {hours: 23, minutes: 0}
                    },
                ],
                notBefore: this.bookingData.carNotBefore,
                notAfter: this.bookingData.returnDate
            }
        },
        mounted() {
        },
        computed: {
            totalCarPrice: function() {
                let price = this.car10Price;
                if (this.bookingData.selectedCar == 'car_5_seater') price = this.car5Price;
                return price * this.daysBetween(this.bookingData.carRentalDate[0], this.bookingData.carRentalDate[1])
            },
        },
        methods: {
            updateBookingData: function(field, val) {
                this.$emit('updateBookingData', field, val);
            },
            daysBetween(date1, date2) {
                var a = moment(date1);
                var b = moment(date2);
                return b.diff(a, 'days') + 1
            },
        },
        components: {
            DatePicker
        }
    }
</script>
