<template>
    <div class="loading-icon" :class="[customClass, {'fullscreen': fullscreen}]">
        <div class="bounce">
            <div></div>
            <div></div>
        </div>
        <div v-if="showText" class="loading-text">
            <p class="text-center mb-0" v-html="text ? text : 'Loading...'"></p>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['text', 'showText', 'customClass', 'fullscreen'],
        mounted() {
        }
    }
</script>
