<template>
    <footer class="footer py-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-7 text-center text-xl-left">
                    <a href="mailto:EDWARD.POH@HORIZONFASTFERRY.COM" target="_blank" class="d-block mb-2 f-secondary fs-5 text-white">ADVERTISE ON OUR SITE/FERRY/TERMINAL</a>
                    <p class="mb-1">
                        <router-link :to="{ name: 'about-us' }" class="text-white">About Horizon Fast Ferry</router-link> / 
                        Partners / 
                        <router-link :to="{ name: 'terms' }" class="text-white">Terms & Conditions</router-link> / 
                        <router-link :to="{ name: 'privacy' }" class="text-white">Privacy Policy</router-link> / 
                        <router-link :to="{ name: 'faq' }" class="text-white">FAQ</router-link> / 
                        <router-link :to="{ name: 'contact-us' }" class="text-white">Contact Us</router-link>
                    </p>
                    <p class="my-3 mt-xl-0">Copyright &copy; {{ new Date().getFullYear() }}. All Rights Reserved.</p>
                </div>
                <div class="col-12 col-xl-5 text-center text-xl-right">
                    <p class="mb-2 f-secondary fs-5">Have Questions?</p>
                    <p class="mb-1">+65 6276 6711</p>
                    <p class="mb-1">hff@horizonfastferry.com</p>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        mounted() {
            // console.log('Component mounted.')
        }
    }
</script>
