<template>
    <header class="header relative-top d-flex flex-column navbar navbar-expand-xl">
        <div class="d-none d-xl-block bg-dark-blue w-100">
            <div class="container d-flex invisible">
                <p class="text-white mb-0 py-2">Rewards Horizon</p>
                <p class="text-white mb-0 py-2 ml-3">Corporate & Tour Agent</p>
            </div>
        </div>
        <div class="container">
            <router-link :to="{ name: 'dashboard' }" class="d-flex align-items-center my-auto">
                <div class="navbar-brand logo mr-0"></div>
            </router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon d-inline-flex text-white">
                    <font-awesome-icon :icon="['fas', 'ellipsis-v']" class="m-auto"></font-awesome-icon>
                </span>
            </button>
            <div class="navbar-collapse collapse justify-content-xl-between navbar-content pl-xl-4" id="navigation">
                <div class="d-flex flex-column flex-xl-row align-items-center tab-list flex-1">
                    <router-link :to="{ name: 'dashboard' }" :exact-active-class="'active'" class="h-100 d-flex align-items-center"> 
                        <p class="mb-0">HOME</p> 
                    </router-link>
                    <a href="/blog" :exact-active-class="'active'" class="h-100 d-flex align-items-center"> 
                        <p class="mb-0">BATAM HIGHLIGHTS</p> 
                    </a>
                    <!-- <router-link :to="{ name: 'batam-highlights' }" :exact-active-class="'active'" class="h-100 d-flex align-items-center"> 
                        <p class="mb-0">BATAM HIGHLIGHTS</p> 
                    </router-link> -->
                    <router-link :to="{ name: 'travel-information' }" :exact-active-class="'active'" class="h-100 d-flex align-items-center"> 
                        <p class="mb-0">TRAVEL INFORMATION</p> 
                    </router-link>
                    <router-link :to="{ name: 'contact-us' }" :exact-active-class="'active'" class="h-100 d-flex align-items-center"> 
                        <p class="mb-0">CONTACT US</p> 
                    </router-link>
                </div>
                <hr class="d-block d-xl-none mobile-divider">
                <div class="d-flex flex-column flex-xl-row align-self-xl-stretch">
                    <div class="d-flex flex-column flex-xl-row">
                        <template v-if="isLoggingIn || isReloading">
                            <div class="h-100 px-3 dropdown dropdown-toggler logged-in">
                                <div class="h-100 d-flex align-items-center no-select text-red">
                                    <font-awesome-icon :icon="['fas', 'circle-notch']" size="lg" spin></font-awesome-icon>
                                </div>
                            </div>
                        </template>
                        <template v-else-if="user">
                            <div class="dropdown dropdown-toggler logged-in">
                                <div class="d-flex align-items-center logged-in-div" @click.stop="openLogin">
                                    <font-awesome-icon class="fs-2 mr-2" icon="user"></font-awesome-icon>
                                    <p class="mb-0">{{ user.first_name ? user.first_name : user.email }}</p><font-awesome-icon class="ml-2" icon="chevron-down"></font-awesome-icon>
                                </div>
                                <ul>
                                    <li class="dropdown-list">
                                        <router-link :to="{ name: 'my-account.account' }" class="d-inline-flex align-items-center">
                                            <font-awesome-icon class="fs-2 mr-3" icon="user-circle"></font-awesome-icon><span>My Account</span>
                                        </router-link>
                                    </li>
                                    <li class="dropdown divider"></li>
                                    <li class="dropdown-list">
                                        <a class="d-inline-flex align-items-center pointer" @click="logout">
                                            <font-awesome-icon class="fs-2 mr-3" icon="key"></font-awesome-icon><span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </template>
                        <template v-else>
                            <div class="dropdown dropdown-toggler login">
                                <div class="d-flex align-items-center login-and-signup" @click.stop="openLogin">
                                    <font-awesome-icon class="fs-2 mr-2 d-none d-xl-inline-block" icon="user"></font-awesome-icon><p class="mb-0">LOGIN</p>
                                </div>
                                <ul class="fixed">
                                    <div class="px-4 py-3 my-auto">
                                        <div class="d-flex d-xl-none justify-content-between align-items-center dropdown-title">
                                            <p class="fs-7 mb-0">Login</p>
                                            <div @click.stop="closeDropdown">
                                                <font-awesome-icon class="fa-2x" icon="times"></font-awesome-icon>
                                            </div>
                                        </div>
                                        <login-component v-on:loggedIn="loggedIn" v-on:error="error" v-bind:user="user" v-bind:token="token" v-bind:bus="bus"></login-component>
                                    </div>
                                </ul>
                            </div>
                            <div class="dropdown dropdown-toggler signup">
                                <div class="d-flex align-items-center login-and-signup" @click.stop="openSignup">
                                    <p class="mb-0">SIGN UP</p>
                                </div>
                                <ul class="fixed">
                                    <div class="px-4 py-3 my-auto">
                                        <div class="d-flex d-xl-none justify-content-between align-items-center dropdown-title">
                                            <p class="fs-7 mb-0">Sign Up</p>
                                            <div @click.stop="closeDropdown">
                                                <font-awesome-icon class="fa-2x" icon="times"></font-awesome-icon>
                                            </div>
                                        </div>
                                        <register-pop-up-component v-on:error="error" v-bind:user="user" v-bind:token="token" v-bind:bus="bus"></register-pop-up-component>
                                    </div>
                                </ul>
                            </div>
                            <!-- <router-link :to="{ name: 'register' }" class="h-100 d-flex align-items-center px-3 text-green f-bold"> 
                                <p class="mb-0">SIGN UP</p> 
                            </router-link> -->
                        </template>
                    </div>
                    <!-- <div class="d-flex align-items-center ml-5 pl-5">
                        <a class="h-100 d-flex align-items-center px-3 text-blue" href="#">
                            <font-awesome-icon class="fs-3" icon="search"></font-awesome-icon>
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="line bg-dark-blue"></div>
    </header>
</template>

<script>
    import LoginComponent from './Auth/LoginComponent';
    import RegisterPopUpComponent from './Auth/RegisterPopUpComponent';
    import { mapState, mapActions } from 'vuex'

    export default {
        props: ['user', 'token', 'bus'],
        computed: {
            ...mapState('account', ['isLoggedIn', 'isLoggingIn', 'isRefreshing', 'isReloading'])
        },
        mounted() {
        },
        methods: {
            openLogin(event) {
                var dropdown = $('.dropdown-toggler.login, .dropdown-toggler.logged-in');
                if (dropdown.siblings('.open').length) dropdown.siblings().removeClass('open');
                dropdown.toggleClass('open');
            },
            openSignup(event) {
                var dropdown = $('.dropdown-toggler.signup');
                if (dropdown.siblings('.open').length) dropdown.siblings().removeClass('open');
                dropdown.toggleClass('open');
            },
            closeDropdown(event) {
                var dropdown = $('.dropdown-toggler.login, .dropdown-toggler.logged-in');
                if (dropdown.siblings('.open').length) dropdown.siblings().removeClass('open');
                dropdown.removeClass('open');
                $('.navbar-collapse').collapse('hide');
            },
            logout() {
                let self = this;
                self.loading = true;
                this.$store.dispatch('account/logout')
                    .then((res) => {
                        self.loading = false;
                        self.$router.push({ name: 'dashboard' });
                    }, (error) => {
                        self.bus.$emit('error', error);
                        self.loading = false;
                    });
            },
            loggedIn(token, user) {
                this.bus.$emit('loggedIn', token, user);
            },
            error(error) {
                this.bus.$emit('error', error);
            }
        },
        watch: {
            $route (to, from) {
                var dropdown = $('.dropdown-toggler.login, .dropdown-toggler.logged-in, .dropdown-toggler.signup');
                dropdown.removeClass('open');
                $('.navbar-collapse').collapse('hide');
            }
        },
        components: {
            LoginComponent,
            RegisterPopUpComponent,
            // 'font-awesome-icon': FontAwesomeIcon,
        }
    }
</script>
