<style scoped>
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}
</style>

<template>
    <!-- is loading user -->
    <div id="loader" v-if="isReloading || isRefreshing || isLoading"></div>
    <div class="home" v-else :class="{ 'auth': $route.path==='/register' || $route.path==='/login' }">
        <header-component v-bind:user="user" v-bind:token="token" v-bind:bus="bus"></header-component>
        <router-view class="view" v-bind:user="user" v-bind:token="token" v-bind:bus="bus"></router-view>
        <!-- <div class="fullscreen-loading">
            <loading-component :customClass="'lg cream'" :showText="true" :text="'Loading...'"></loading-component>
        </div> -->
        <footer-component></footer-component>
    </div>
</template>

<script>
    import HeaderComponent from './HeaderComponent.vue';
    import FooterComponent from './FooterComponent.vue';
    import LoadingComponent from './Loading/LoadingComponent.vue';
    import { mapState, mapActions } from 'vuex'

    export default {
        data() {
            return {
                bus: new Vue(),
                mute: false,
                // token: "",
                // user: null,
                timezone: "",
                refreshed: false
            }
        },
        computed: {
            ...mapState('account', ['isLoggedIn', 'isLoggingIn', 'isRefreshing', 'isReloading', 'user', 'token']),
            ...mapState('loading', ['isLoading'])
        },
        created() {
            this.timezone = window.moment.tz.guess();
            this.parseTokenToUser();
            this.bus.$on('success', this.success);
            this.bus.$on('error', this.error);
            this.bus.$on('loggedIn', this.loggedIn);
            this.bus.$on('loggedOut', this.loggedOut);
            this.bus.$on('fsLoading', this.fsLoading);
        },
        mounted() {
        },
        methods: {
            success(m, t) {
                let message = m || "Action successfully completed";
                let title = t || "Success";

                this.$toasted.show(message, {
                    icon: 'check',
                    type: 'success',
                });
                this.mute = false;
            },
            error(err) {
                // Error
                let message = "Unknown error";
                let title = "Oops";
                let showToast = true;

                if (typeof err === 'object') {
                    if (err.hasOwnProperty('response')) {
                        // The request was made and the server responded with a status code
                        // that falls out of the range of 2xx
                        // console.log(err.response.data);
                        // console.log(err.response.status);
                        // console.log(err.response.headers);
                        if (err.response.data.message) {
                            message = err.response.data.message;
                        }
                        if (err.response.status == 401) {
                            showToast = false;
                            if (!this.refreshed) {
                                this.refreshToken();
                            }
                        } else if (err.response.status == 500) {
                            showToast = false;
                            console.log(err.response);
                            console.log(err.response.data.message);
                        }
                        // if (err.response)
                    } else if (err.hasOwnProperty('request')) {
                        // The request was made but no response was received
                        // `err.request` is an instance of XMLHttpRequest in the browser and an instance of
                        // http.ClientRequest in node.js
                        console.log(err.request);
                    } else if (err.hasOwnProperty('message')) {
                        message = err.message;
                    }
                } else if (typeof err === 'string') {
                    message = err;
                }
                console.log('Error', message);
                if (showToast) {
                    this.$toasted.show(message, {
                        icon: 'error_outline',
                        type: 'error',
                    });
                }
                this.mute = false;
            },
            // isLoggedIn() {
            //     return this.user ? true : false;
            // },
            loggedIn(token, user) {
                this.setTokenHeader(token);
                localStorage.setItem('token', token);
                this.token = token;
                this.user = user;
            },
            loggedOut() {
                this.setTokenHeader();
                localStorage.removeItem('token');
                this.token = "";
                this.user = null;
            },
            parseTokenToUser() {
                let token = localStorage.getItem('token');
                if (token) {
                    // this.token = token;
                    // this.setTokenHeader(token);
                    this.mute = true;
                    this.refreshUser(token);
                }
            },
            setTokenHeader(token) {
                let bearerToken = token ? "Bearer " + token : "";
                window.axios.defaults.headers.common['Authorization'] = bearerToken;
            },
            refreshToken() {
                this.mute = true;
                this.refreshed = true;
                this.$store.dispatch('account/refresh')
                    .then((res)  =>  {
                        // let token = res.data.token;
                        // let user = res.data.user;
                        // this.loggedIn(token, user);
                        this.mute = false;
                    }, (error) => {
                        // this.loggedOut();
                        this.error(error);
                    });
            },
            refreshUser(token) {
                this.mute = true;
                this.$store.dispatch('account/reload', { token })
                    .then((res)  =>  {
                        // let user = res.data.user;
                        // this.loggedIn(this.token, user);
                        this.mute = false;
                    }, (error) => {
                        this.refreshed = false;
                        this.error(error);
                    });
            },
            fsLoading(act) {
                this.$store.dispatch('loading/setLoading', { act });
                // console.log(act);
            }
        },
        watch: {
            mute: function(val) {
                let el = document.getElementById('mute');
                if (el) {
                    el.className = val ? "on" : "on done";
                }
            },
            // token: function(val) {
            //     this.setTokenHeader(val);
            //     windwoinstance.defaultConfig.headers.authorization = 'foo bar'
            // }
        },
        components: {
            HeaderComponent,
            FooterComponent,
            LoadingComponent,
        }
    }
</script>