<template>
    <div>
        Not Found 404
    </div>
</template>

<script>
    export default {
        props: ['hideFooter'],
        mounted() {
            // console.log('Component mounted.')
        }
    }
</script>
