<template>
    <div>
        <template v-if="!this.user">
            <div class="d-flex py-5">
                <loading-component :show-text="true" :text="'Loading'"></loading-component>
            </div>
        </template>
        <template v-else>
            <div class="d-flex">
                <div class="sidebar">
                    <div class="profile-picture text-center">
                        <div class="picture" style="background-image: url(/assets/images/profile.png)"></div>
                        <p class="text-blue f-bold name">{{ this.user.first_name }}</p>
                        <p class="text-grey mb-0">CHANGE DETAILS</p>
                    </div>
                    <div class="bar-container">
                        <router-link :to="{ name: 'my-account.account' }" :exact-active-class="'active'" class="bar">
                            <div class="fs-5 icon">
                                <font-awesome-icon :icon="['fas','address-card']"></font-awesome-icon>
                            </div>
                            <div class="text">
                                <p class="mb-0">ACCOUNT</p>
                            </div>
                        </router-link>
                        <router-link :to="{ name: 'my-account.my-booking' }" :exact-active-class="'active'" class="bar">
                            <div class="fs-5 icon">
                                <font-awesome-icon :icon="['far','calendar-alt']"></font-awesome-icon>
                            </div>
                            <div class="text">
                                <p class="mb-0">MY BOOKING</p>
                            </div>
                        </router-link>
                        <div class="bar">
                            <div class="fs-5 icon">
                                <font-awesome-icon :icon="['fas','gift']"></font-awesome-icon>
                            </div>
                            <div class="text">
                                <p class="mb-0">HORIZON REWARD</p>
                            </div>
                        </div>
                        <div class="bar">
                            <div class="fs-5 icon">
                                <font-awesome-icon :icon="['fas','user-plus']"></font-awesome-icon>
                            </div>
                            <div class="text">
                                <p class="mb-0">INVITE FRIENDS</p>
                            </div>
                        </div>
                        <div class="bar pointer" @click="logout">
                            <div class="fs-5 icon">
                                <font-awesome-icon :icon="['fas','sign-out-alt']"></font-awesome-icon>
                            </div>
                            <div class="text">
                                <p class="mb-0">SIGN OUT</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-100 flex-1">
                    <router-view v-bind:user="user" v-bind:token="token" v-bind:bus="bus"></router-view>
                    <!-- <account-component v-bind:user="user" v-bind:token="token" v-bind:bus="bus"></account-component> -->
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import LoadingComponent from '../Loading/LoadingComponent.vue'
    import { library } from '@fortawesome/fontawesome-svg-core'
    import { faAddressCard } from '@fortawesome/free-solid-svg-icons/faAddressCard'
    import { faCalendarAlt } from '@fortawesome/free-regular-svg-icons/faCalendarAlt'
    import { faGift } from '@fortawesome/free-solid-svg-icons/faGift'
    import { faUserPlus } from '@fortawesome/free-solid-svg-icons/faUserPlus'
    import { faSignOutAlt } from '@fortawesome/free-solid-svg-icons/faSignOutAlt'
    
    library.add(faAddressCard, faCalendarAlt, faGift, faUserPlus, faSignOutAlt)

    export default {
        props: ['user', 'token', 'bus'],
        mounted() {
        },
        watch: {
            user: function(val, oldVal) {
                console.log(this.user);
            }
        },
        methods: {
            logout() {
                let self = this;
                self.loading = true;
                this.$store.dispatch('account/logout')
                    .then((res) => {
                        self.loading = false;
                        self.$router.push({ name: 'dashboard' });
                    }, (error) => {
                        self.bus.$emit('error', error);
                        self.loading = false;
                    });
            },
        },
        components: {
            LoadingComponent,
        }
    }
</script>
