<template>
    <div class="my-account">
        <div class="background-cover"></div>
        <div class="account-admin-container">
            <div class="my-profile">
                <div class="edit-profile-picture">
                    <div class="picture-container">
                        <div class="picture" style="background-image: url(/assets/images/profile.png)"></div>
                    </div>
                    <div class="update-btn-container">
                        <div class="update-dim">
                            <div class="update-btn">
                                <div class="update-icon">
                                    <font-awesome-icon :icon="['fas','camera']"></font-awesome-icon>
                                </div>
                                <div class="update-dropdown">
                                    <div>Change profile picture</div>
                                    <div>Remove</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-name">
                    <span class="text-white f-bold fs-7">{{ this.user.first_name }}</span>
                </div>
            </div>
        </div>
        <div class="account-admin-container">
            <div class="section profile">
                <div class="section-title">
                    <p class="fs-2 text-blue f-bold mb-0">Profile</p>
                    <div>
                        <button v-on:click="editProfile" v-if="!edit" class="btn btn-red f-bold fs-0">
                            <font-awesome-icon class="mr-1" icon="pencil-alt"></font-awesome-icon> Edit
                        </button>
                        <template v-else>
                            <button v-on:click="edit = false;" v-if="edit" class="btn btn-red f-bold fs-0">
                                Cancel
                            </button>
                            <button v-on:click="saveProfile" :disabled="loading" class="btn btn-blue f-bold fs-0">
                                <span v-show="!loading">Save changes</span><span v-show="loading"><font-awesome-icon icon="circle-notch" spin></font-awesome-icon></span>
                            </button>
                        </template>
                    </div>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="data-container">
                                <label for="firstName" class="text-grey mb-2 fs-0">First name</label>
                                <p v-if="!edit" class="mb-0">{{ this.user.first_name }}</p>
                                <div v-else class="form-group mb-0 vuelidate" :class="{ 'form-group-error': $v.firstName.$error }">
                                    <input v-model.trim="$v.firstName.$model" :disabled="loading" id="firstName" class="form-control horizon" type="text">
                                    <p v-if="!$v.firstName.required" class="status-text">{{ $t('vue-validation.required', {attribute: 'First name'}) }}</p>
                                    <p v-if="!$v.firstName.alpha" class="status-text">{{ $t('vue-validation.alpha', {attribute: 'First name'}) }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="data-container">
                                <label for="lastName" class="text-grey mb-2 fs-0">Last name</label>
                                <p v-if="!edit" class="mb-0">{{ this.user.last_name }}</p>
                                <div v-else class="form-group mb-0 vuelidate" :class="{ 'form-group-error': $v.lastName.$error }">
                                    <input v-model.trim="$v.lastName.$model" :disabled="loading" id="lastName" class="form-control horizon" type="text">
                                    <p v-if="!$v.lastName.alpha" class="status-text">{{ $t('vue-validation.alpha', {attribute: 'Last name'}) }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="data-container">
                                <p class="text-grey mb-2 fs-0">Email</p>
                                <p class="mb-0">{{ this.user.email }}</p>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="data-container">
                                <label for="phoneNumber" class="text-grey mb-2 fs-0">Phone number</label>
                                <p v-if="!edit" class="mb-0">{{ this.user.phone_number }}</p>
                                <div v-else>
                                    <div class="row no-gutters">
                                        <div class="col-3">
                                            <div class="form-group mb-0 vuelidate" :class="{ 'form-group-error': $v.countryCode.$error }">
                                                <select v-model.trim="$v.countryCode.$model" :disabled="loading" id="countryCode" class="form-control horizon bordered">
                                                    <option value="" selected disabled>Code</option>
                                                    <option value="+65">+65</option>
                                                    <option value="+62">+62</option>
                                                </select>
                                                <p class="status-text"></p>
                                            </div>
                                        </div>
                                        <div class="col-9">
                                            <div class="form-group vuelidate ml-1" :class="{ 'form-group-error': $v.phoneNumber.$error }">
                                                <div class="d-flex align-items-center position-relative">
                                                    <input v-model.trim.lazy="$v.phoneNumber.$model" :disabled="loading" id="phoneNumber" class="form-control horizon" type="text" placeholder="8xxxxxxxxxx">
                                                    <font-awesome-icon v-show="checkUnique" :icon="['fas', 'circle-notch']" spin class="ml-1 check-unique"></font-awesome-icon>
                                                </div>
                                                <p v-if="!$v.phoneNumber.required" class="status-text">{{ $t('vue-validation.required', {attribute: 'Phone number'}) }}</p>
                                                <p v-if="!$v.phoneNumber.numeric" class="status-text">{{ $t('vue-validation.numeric', {attribute: 'Phone number'}) }}</p>
                                                <p v-if="!$v.phoneNumber.exists" class="status-text">Phone number already used</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="data-container">
                                <label for="gender" class="text-grey mb-2 fs-0">Gender</label>
                                <p v-if="!edit" class="mb-0">{{ GenderEnum.getString(this.user.gender) }}</p>
                                <div v-else class="form-group mb-0 vuelidate" :class="{ 'form-group-error': $v.gender.$error }">
                                    <select v-model.trim="$v.gender.$model" :disabled="loading" type="text" id="gender" class="form-control horizon bordered">
                                        <option v-for="(gender, i) in GenderEnum.getArray()" v-bind:key="i" :value="i">{{ gender }}</option>
                                    </select>
                                    <p v-if="!$v.gender.required" class="status-text">{{ $t('vue-validation.required', {attribute: 'Gender'}) }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="data-container">
                                <label for="dob" class="text-grey mb-2 fs-0">Date of birth</label>
                                <p v-show="!edit" class="mb-0">{{ this.user.dob }}</p>
                                <div v-show="edit">
                                    <div class="d-flex">
                                        <div class="form-group vuelidate mb-0" :class="{ 'form-group-error': $v.dob.date.$error }">
                                            <select v-model.trim="$v.dob.date.$model" :disabled="loading" id="dob" class="form-control horizon bordered">
                                                <option value="" selected disabled>Date</option>
                                                <option v-for="(n, i) in 31" v-bind:key="i" :value="n >= 0 && n <= 9 ? '0' + n : n">{{ n }}</option>
                                            </select>
                                        </div>
                                        <div class="form-group vuelidate mb-0 ml-1" :class="{ 'form-group-error': $v.dob.month.$error }">
                                            <select v-model.trim="$v.dob.month.$model" :disabled="loading" class="form-control horizon bordered">
                                                <option value="" selected disabled>Month</option>
                                                <option v-for="month in months" v-bind:key="month.value" :value="month.value">{{ month.text }}</option>
                                            </select>
                                        </div>
                                        <div class="form-group vuelidate mb-0 ml-1" :class="{ 'form-group-error': $v.dob.year.$error }">
                                            <select v-model.trim="$v.dob.year.$model" :disabled="loading" id="dobYear" class="form-control horizon bordered">
                                                <option value="" selected disabled>Year</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section security">
                <div class="section-title">
                    <p class="fs-2 text-blue f-bold mb-0">Security</p>
                </div>
                <div class="section-content" v-if="!isSocialLogin()">
                    <p class="f-bold">Change password</p>
                    <change-password-component v-bind:user="user" v-bind:token="token" v-bind:bus="bus"></change-password-component>
                </div>
                <div class="section-content" v-else>
                    <p class="f-bold">
                        Login with <font-awesome-icon :icon="['fab', 'google']" v-if="user.google"></font-awesome-icon> <font-awesome-icon :icon="['fab', 'facebook']" v-if="user.facebook"></font-awesome-icon>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Gender from '../../../enums/Gender.js'
    import LoadingComponent from '../../Loading/LoadingComponent.vue'
    import API from '../../../api'
    import { required, numeric, alpha } from 'vuelidate/lib/validators'
    import ChangePasswordComponent from './ChangePasswordComponent.vue'
    import { library } from '@fortawesome/fontawesome-svg-core'
    import { faPencilAlt } from '@fortawesome/free-solid-svg-icons/faPencilAlt'
    import { faCamera } from '@fortawesome/free-solid-svg-icons/faCamera'
    import { faCircleNotch } from '@fortawesome/free-solid-svg-icons/faCircleNotch'
    
    library.add(faPencilAlt, faCamera, faCircleNotch)

    const checkExists = function(field, value, vueComponent) {
        if (value === '') return true;
        vueComponent.checkUnique = true;
        let data = {
            field: field,
            value: value
        };
        return new Promise((resolve, reject) => {
            window.axios.post(API.checkExists, data)
                .then((response)  =>  {
                    let res = response.data;
                    vueComponent.checkUnique = false;
                    resolve(!res.data.exists);
                }, (error) => {
                    vueComponent.checkUnique = false;
                    reject(error);
                });
        });
    };


    export default {
        props: ['user', 'token', 'bus'],
        data() {
            let dob = this.user.dob ? moment(this.user.dob) : null;
            let countryCode = this.user.phone_number ? this.user.phone_number.substring(0, 3) : '';
            let phoneNumber = this.user.phone_number ? this.user.phone_number.substring(3) : '';
    
            return {
                firstName: this.user.first_name,
                lastName: this.user.last_name,
                countryCode: countryCode,
                phoneNumber: phoneNumber,
                gender: this.user.gender,
                dob: {
                    date: dob ? dob.format('DD') : null,
                    month: dob ? dob.format('MM') : null,
                    year: dob ? dob.format('YYYY') : null,
                },

                GenderEnum: Gender,
                edit: false,
                loading: false,
                checkUnique: false,
                months: [
                    {value: '01', text: 'January'},
                    {value: '02', text: 'February'},
                    {value: '03', text: 'March'},
                    {value: '04', text: 'April'},
                    {value: '05', text: 'May'},
                    {value: '06', text: 'June'},
                    {value: '07', text: 'July'},
                    {value: '08', text: 'August'},
                    {value: '09', text: 'September'},
                    {value: '10', text: 'October'},
                    {value: '11', text: 'November'},
                    {value: '12', text: 'December'}
                ],
                year: moment().format('YYYY'),
                options: [],
            }
        },
        computed: {
            fullPhoneNumber: function() {
                if (!this.phoneNumber) return '';
                return this.countryCode + this.phoneNumber;
            }
        },
        validations: {
            firstName: {
                required,
                alpha
            },
            lastName: {
                alpha
            },
            countryCode: {
                required,
                exists: function (value) {
                    let self = this;
                    return checkExists('phone_number', self.fullPhoneNumber, self)
                }
            },
            phoneNumber: {
                required,
                numeric,
                exists: function (value) {
                    let self = this;
                    return checkExists('phone_number', self.fullPhoneNumber, self)
                }
            },
            dob: {
                date: { required },
                month:  { required },
                year:  { required },
            },
            gender:  { required },
        },
        methods: {
            isSocialLogin() {
                return !this.user.password && (this.user.google || this.user.facebook);
            },
            editProfile() {
                this.edit = true;
            },
            saveProfile: function() {
                if (this.validateForm()) return;
                let data = {
                    first_name: this.firstName,
                    last_name : this.lastName,
                    phone_number: this.fullPhoneNumber,
                    gender: this.gender,
                    dob: this.dob.year + '-' + this.dob.month + '-' + this.dob.date
                }
                this.loading = true;

                this.$store.dispatch('account/updateProfile', { data })
                    .then((res) => {
                        this.bus.$emit('success', res.message);
                        this.edit = false;
                        this.loading = false;
                    }, (error) => {
                        this.bus.$emit('error', error);
                        this.edit = false;
                        this.loading = false;
                    });
            },
            validateForm: function() {
                this.$v.$touch()
                return this.$v.$invalid
            },
        },
        mounted() {
            // CREATED FOR LAGGING ISSUE
            for (let i = 0; i <= 120; i++) {
                if (i === 0) {
                    let asd = $("<option></option>").attr("value", this.year).text(this.year)
                    this.options.push(asd);
                } else {
                    let asd = $("<option></option>").attr("value", this.year - i).text(this.year - i)
                    this.options.push(asd);
                }
            }
            $('#dobYear').append(this.options);

            $('.update-icon').on('click', function() {
                $(this).parents('.update-btn').toggleClass('open');
            });
        },
        components: {
            LoadingComponent,
            ChangePasswordComponent
        }
    }
</script>
