<template>
    <div>
        <form class="change-password" @submit="post">
            <div class="form-group vuelidate" :class="{ 'form-group-error': $v.currentPassword.$error }">
                <label for="currentPassword" class="text-dark-grey fs-0 f-bold">Current password</label>
                <input id="currentPassword" v-model.trim="$v.currentPassword.$model" class="form-control horizon" type="password">
                <p v-if="!$v.currentPassword.required" class="status-text">{{ $t('vue-validation.required', {attribute: 'Current password'}) }}</p>
            </div>
            <div class="form-group vuelidate" :class="{ 'form-group-error': $v.newPassword.$error }">
                <label for="newPassword" class="text-dark-grey fs-0 f-bold">New password</label>
                <input id="newPassword" v-model.trim="$v.newPassword.$model" class="form-control horizon" type="password">
                <p v-if="!$v.newPassword.required" class="status-text">{{ $t('vue-validation.required', {attribute: 'New password'}) }}</p>
                <p v-if="!$v.newPassword.minLength" class="status-text">{{ $t('vue-validation.gte.string', {attribute: 'New password', value: '6'}) }}</p>
            </div>
            <button type="submit" class="btn btn-blue f-bold fs-0" :disabled="loading">
                <span v-show="!loading">Save changes</span><span v-show="loading"><font-awesome-icon icon="circle-notch" spin></font-awesome-icon></span>
            </button>
        </form>
    </div>
</template>

<script>
    import { required, minLength } from 'vuelidate/lib/validators';
    import { library } from '@fortawesome/fontawesome-svg-core'
    import { faCircleNotch } from '@fortawesome/free-solid-svg-icons/faCircleNotch'
    
    library.add(faCircleNotch)

    export default {
        props: ['token', 'user', 'bus'],
        data() {
            return {
                currentPassword: '',
                newPassword: '',

                loading: false
            }
        },
        validations: {
            currentPassword: {
                required
            },
            newPassword: {
                required,
                minLength: minLength(6)
            },
        },
        methods: {
            post: function(e) {
                let self = this;
                e.preventDefault();

                if (this.loading) return;
                if (this.validateForm()) return;

                let data = {
                    password: this.currentPassword,
                    new_password: this.newPassword,
                };

                this.loading = true;
                window.axios.post(this.$root.api.changePassword, data)
                    .then((response)  =>  {
                        let res = response.data;
                        self.bus.$emit('success', res.message);
                        this.clearForm();
                        this.loading = false;
                    }, (error) => {
                        let response = error.response;
                        self.bus.$emit('error', error);
                        this.loading = false;
                    });
            },
            validateForm: function() {
                this.$v.$touch();
                return this.$v.$invalid
            },
            clearForm() {
                this.$v.$reset();
                this.currentPassword = '';
                this.newPassword = '';
            }
        }
    }
</script>
