<template>
    <div class="my-booking">
        <template v-if="loading">
            Loading
        </template>
        <template v-else>
            <div v-if="orders.length == 0">
                <h4>Nothing</h4>
            </div>
            <div v-else>
                <div v-for="order in orders" class="row border rounded m-3 p-2">
                    <div class="col-md-10">
                        <h4>{{ order.reference_number }}</h4>
                        <p>{{ order.status_string }}</p>
                    </div>
                    <div class="col-md-2 text-center my-auto">
                        <button @click="viewDetail(order.reference_number, order.contact_person.email)" class="btn btn-primary">Detail</button>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    export default {
        props: ['user', 'token', 'bus'],
        data() {
            return {
                loading: false,
                orders: []
            }
        },
        methods: {
            loadOrder() {
                this.loading = true;
                window.axios.get(this.$root.api.getOwnedOrder)
                    .then((response)  =>  {
                        let res = response.data;
                        this.orders = res.data.orders;
                        this.loading = false;
                    }, (error) => {
                        this.loading = false;
                        this.bus.$emit('error', error);
                    });
            },
            viewDetail(referenceNumber, email) {
                this.$router.push({ name: 'order', query: { reference_number: referenceNumber, email: email }});
            }
        },
        mounted() {
            this.loadOrder();
        },
        components: {
        }
    }
</script>
