<template>
    <div class="about-us">
        <section class="h-100vh position-relative">
            <div class="banner-img"></div>
        </section>
        <section>
            <div class="container">
                <div class="caption-wrapper">
                    <div class="text-wrapper fs-2 line-height-4">
                        <img class="image-1" src="/assets/images/about-us/1.jpg" alt="">
                        <p class="text-blue f-secondary fs-48px mb-1">Horizon Fast Ferry</p>
                        <p>Horizon Fast Ferry was previously known as Prima Ferries. We are renamed as Horizon Fast Ferry upon the arrival of the newly build vessels which introduce both cost efficiency and new comfort for our passengers.</p>
                        <p>With the inspiration and wise vision of the Horizon Fast Ferry Founder, he aims to provide a privilege ferry ride experience for all.</p>
                        <p>To begin with, Horizon secured the most competitive route in Southeast Asia between Singapore and Indonesian island of Batam; therefore offering the most cost efficient choice to travel to the city of Batam. Quoting from a World Boat Magazine which will be featuring our new vessels in their December issue, "instead of simply competing on ticket prices, Horizon has chosen to differentiate itself from the other ferry operators through the innovative, efficient and economical design of its Flex Ferries."</p>
                        <img class="image-2" src="/assets/images/about-us/2.jpg" alt="">
                        <p class="pt-5 text-right">Indeed, Horizon team was determined to go for the extra mile; we engaged reputable designer all the way from UK, BMT Nigel Gee, to aid us to completion.</p>
                        <p class="text-right">Having the slogan, "Horizon, your comfort choice"</p>
                        <p class="text-cream f-italic text-right">The element of the design focuses on the onboard experience; we aim to have our passengers to find their ride with us cozy and spacious</p>
                        <br><br>
                        <p>The breakthrough of all innovative is that Horizon Ferry has designed an exclusive seating plan on the upper deck, the Business class, which ensures a comfortable ambience with low noise level even at its high speeds. On top of all the spacious legroom and ergonomics seats, passengers get to enjoy the vast horizon view and friendly services on board. Passengers are also entitle to upgrade themselves to VIP room where they can find more privacy.</p>
                        <img class="image-3" src="/assets/images/about-us/3.jpg" alt="">
                        <p>Most importantly, passengers from the business class and VIP room will get the privillege to board and disembark the ferry in priority.</p>
                        <p>On 5th November this year, Horizon introduced to the public with the first vessel Horizon 9 to begin her operation.<br>These newly build vessels namely,</p>
                        <p class="text-cream f-italic">the "Horizon 9", "Horizon 8", "Horizon 7" and "Horizon 6" have a capacity for 238 passengers, including a main deck seating for 208 passengers, an exclusive upper deck for 30 passengers and a private saloon for 4 VIPs.</p>
                        <p>Now with all these sophisticated designs, Horizon Ferry is confident to bring our passenger a different sea ride experience. Horizon Ferry makes your trip a way luxury and privilege one. Horizon, is your comfort choice.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                
            }
        },
    }
</script>
