<template>
    <div class="batam-highlights">
        <template v-if="loading">
            <loading-component :show-text="true" :text="'Loading'"></loading-component>
        </template>
        <template v-else>
            <template v-if="highlightedArticles.length > 0 || articles.length > 0">
                <section class="full-vh-carousel bg-white d-flex flex-column">
                    <carousel class="custom-owl-theme inside-pagination" :perPage="1" :autoplay="true" :loop="true" :autoplayTimeout="5000" :autoplayHoverPause="true" :easing="'cubic-bezier(0.5,0.5,0,1)'" :paginationEnabled="true" :navigationEnabled="true" :navigationNextLabel="navigationNextLabel" :navigationPrevLabel="navigationPrevLabel">
                        <slide v-for="highlightedArticle in highlightedArticles" v-bind:key="highlightedArticle.id">
                            <div class="slider-container">
                                <router-link :to="{ name: 'article-detail', params: {slug: highlightedArticle.slug} }" class="big-article">
                                    <div class="article-img">
                                        <div class="slider-img" :style="`background-image: url('${highlightedArticle.cover_url}')`"></div>
                                    </div>
                                    <div class="article-caption container">
                                        <div class="caption">
                                            <p class="text-white f-secondary big-title line-height-1">{{ highlightedArticle.title }}</p>
                                            <p class="text-cream big-date mb-0">{{ highlightedArticle.publisher_name }} - {{ highlightedArticle.created_at | moment("DD/MM/YY") }}</p>
                                        </div>
                                    </div>
                                </router-link>
                            </div>
                        </slide>
                    </carousel>
                </section>
                <template v-if="!loadingOtherArticles">
                    <div class="position-relative">
                        <div class="container">
                            <div class="social-media-container d-flex">
                                <social-media-component :class="'px-4 py-5'"></social-media-component>
                            </div>
                            <div class="row py-4 py-xl-5">
                                <div class="col-xl-8">
                                    <div class="article-list">
                                        <div v-for="article in articles" v-bind:key="article.id" class="article-highlight mb-5">
                                            <p class="mb-1 text-uppercase text-grey">{{ article.tags.replace(/,/g, ', ') }}</p>
                                            <p class="mb-0 text-blue f-secondary fs-xl line-height-1">{{ article.title }}</p>
                                            <p class="text-cream fs-3">{{ article.publisher_name }} - {{ article.created_at | moment("MMMM D, YYYY") }}</p>
                                            <img class="cover" :src="article.cover_url">
                                            <p class="description fs-2">{{ article.intro }}</p>
                                            <router-link :to="{ name: 'article-detail', params: {slug: article.slug} }" class="btn btn-readmore btn-lg">Read more</router-link>
                                        </div>
                                    </div>
                                    <pagination :class="'justify-content-center'" :data="laravelData" :show-disabled="true" @pagination-change-page="getArticles">
                                        <span slot="prev-nav">&lt; Previous</span>
                                        <span slot="next-nav">Next &gt;</span>
                                    </pagination>
                                </div>
                                <!-- <div class="col-xl-4">
                                    <div class="py-5">
                                        <div class="mb-4">
                                            <p class="text-cream f-secondary fs-3 mb-1">Horizon Ferry</p>
                                            <p>Sophia is a long time coffee enthusiast and blogger, so the project started naturally five years ago. You can find useful information about coffee typees, plantations, equipment and even tips and tricks or fun facts.</p>
                                        </div>
                                        <div class="mb-4">
                                            <p class="text-cream f-secondary fs-3 mb-2">Don't miss</p>
                                            <div v-for="i in 5" v-bind:key="i" class="mb-3">
                                                <p class="mb-0">Instant coffe was invented by a brilliant man</p>
                                                <div>
                                                    <span class="f-bold fs-0">Sophia Green - <span class="text-grey f-normal">January 25, 2018</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </template>
                <template v-else>
                    <loading-component :class="'my-5'" :show-text="true" :text="'Loading other article(s)...'"></loading-component>
                </template>
            </template>
            <template v-else>
                <p class="text-center fs-5 text-dark-grey py-5 my-auto px-4">We are out of article, please come back later</p>
            </template>
        </template>
    </div>
</template>

<script>
    import { Carousel, Slide } from 'vue-carousel'
    import LoadingComponent from '../Loading/LoadingComponent.vue'
    import SocialMediaComponent from './SocialMediaComponent.vue'
    import pagination from 'laravel-vue-pagination'

    export default {
        data() {
            return {
                highlightedArticles: [],
                articles: [],
                loading: false,
                navigationNextLabel: '<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-angle-right fa-w-8"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z" class=""></path></svg>',
                navigationPrevLabel: '<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-angle-left fa-w-8"><path fill="currentColor" d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z" class=""></path></svg>',
                laravelData: {},
                loadingOtherArticles: false,
            }
        },
        mounted() {
        },
        created() {
            this.getArticles();
        },
        methods: {
            getArticles(page = 1) {
                if (this.highlightedArticles.length == 0 && page == 1) {
                    this.loading = true;
                } else {
                    this.loadingOtherArticles = true;
                }
                window.axios.get(this.$root.api.getArticles+`?page=${page}`)
                    .then((response)  =>  {
                        let res = response.data;
                        this.laravelData = res.data.articles;
                        this.articles = this.laravelData.data;

                        if (this.highlightedArticles.length == 0 && page == 1) {
                            this.highlightedArticles = this.laravelData.data.slice(0, 5);
                            this.loading = false;
                        } else {
                            this.loadingOtherArticles = false;
                        }
                    }, (error) => {
                        if (this.highlightedArticles.length == 0 && page == 1) {
                            this.loading = false;
                        } else {
                            this.loadingOtherArticles = false;
                        }
                    });
            }
        },
        components: {
            LoadingComponent,
            Carousel,
            Slide,
            SocialMediaComponent,
            pagination
        }
    }
</script>
