<template>
    <div class="batam-highlights">
        <template v-if="loading">
            <loading-component :show-text="true" :text="'Loading'"></loading-component>
        </template>
        <template v-else>
            <div class="position-relative">
                <div class="container">
                    <div class="social-media-container d-flex">
                        <social-media-component :class="'px-4 py-5'"></social-media-component>
                    </div>
                    <form action="POST" class="contact-us" @submit="submit">
                        <div class="py-5 travel-info fs-2">
                            <p class="fs-7 f-secondary f-bold text-blue">We look forward to hearing from you</p>
                            <div class="row">
                                <div class="col-xl-2">
                                    <div class="form-group vuelidate" :class="{ 'form-group-error': $v.name.$error }">
                                        <input v-model.trim="$v.name.$model" type="text" class="form-control" placeholder="*Name">
                                        <p v-if="!$v.name.required" class="status-text">{{ $t('vue-validation.required', {attribute: 'Name'}) }}</p>
                                        <p v-if="!$v.name.alpha" class="status-text">{{ $t('vue-validation.alpha', {attribute: 'Name'}) }}</p>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="form-group vuelidate" :class="{ 'form-group-error': $v.email.$error }">
                                        <input v-model.trim="$v.email.$model" type="email" class="form-control" placeholder="*Email">
                                        <p v-if="!$v.email.required" class="status-text">{{ $t('vue-validation.required', {attribute: 'Email'}) }}</p>
                                        <p v-if="!$v.email.email" class="status-text">{{ $t('vue-validation.email', {attribute: 'Email'}) }}</p>
                                    </div>
                                </div>
                            </div>
                            <p class="fs-5 f-secondary f-bold">Enquiry</p>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group vuelidate" :class="{ 'form-group-error': $v.enquiry.$error }">
                                        <textarea v-model.trim="$v.enquiry.$model" class="form-control" rows="20"></textarea>
                                        <p v-if="!$v.enquiry.required" class="status-text">{{ $t('vue-validation.required', {attribute: 'Enquiry'}) }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group vuelidate" :class="{ 'form-group-error': $v.token.$error }">
                                <div class="g-recaptcha" id="recaptcha"></div>
                                <p v-if="!$v.token.required" class="status-text">Please check the Captcha</p>
                            </div>
                            <button type="submit" class="btn btn-blue">Submit</button>
                        </div>
                    </form>
                    <div class="mb-5">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <p class="f-secondary text-cream fs-7">Singapore Ticketing & Check-in Counter</p>
                                <p class="mb-1"><b>Address:</b> 1 Maritime Square #03-47, Harbourfront Centre, Singapore 099253</p>
                                <p class="mb-1"><b>Operation Hours:</b> 7.00am to 9.35pm</p>
                                <p class="mb-1"><b>Phone:</b> +65 6276 6711</p>
                                <p class="mb-1"><b>Email:</b> hff@horizonfastferry.com</p>
                            </div>
                            <div class="col-12 col-lg-4">
                                <p class="f-secondary text-cream fs-7">Batam Ticketing & Check-in Counter</p>
                                <p class="mb-1"><b>Address:</b> 2nd Level, Bayfront @Harbour Bay, Unit 02-10</p>
                                <p class="mb-1"><b>Operation Hours (ID Time):</b> 5.30am to 9.00pm</p>
                                <p class="mb-1"><b>Phone:</b> +62 778 741 5100</p>
                                <p class="mb-1"><b>Email:</b> batam@horizonfastferry.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import LoadingComponent from '../Loading/LoadingComponent.vue'
    import SocialMediaComponent from './SocialMediaComponent.vue'
    import { required, alpha, email } from 'vuelidate/lib/validators';

    export default {
        props: ['bus'],
        data() {
            return {
                name: '',
                email: '',
                enquiry: '',
                token: '',

                loading: false,
                siteKey: '6Le6rYwUAAAAAL2kG-KT2VRdlZuQJgkLtdFe4dT8',
            }
        },
        validations: {
            name: {
                required,
                alpha
            },
            email: {
                required,
                email
            },
            enquiry: {
                required
            },
            token: {
                required
            },
        },
        mounted() {
            var self = this;
            $(document).ready(function() {
                self.initReCaptcha();
            });
        },
        methods: {
            initReCaptcha: function() {
                var self = this;
                setTimeout(function() {
                    if (!grecaptcha || typeof grecaptcha.render != 'function') {
                        self.initReCaptcha();
                    } else {
                        grecaptcha.render('recaptcha', {
                            sitekey: self.siteKey,
                            callback: self.setToken
                        });
                    }
                }, 500);
            },
            setToken: function(token) {
                this.token = token;
            },
            submit: function(e) {
                e.preventDefault();
                if (this.validateForm()) return;
                let data = {
                    name: this.name,
                    email: this.email,
                    enquiry: this.enquiry,
                    token: this.token,
                }
                
                this.loading = true;
                window.axios.post(this.$root.api.sendEnquiry, data)
                    .then((response)  =>  {
                        this.success();
                        
                        this.resetForm();
                        this.loading = false;
                        this.initReCaptcha();
                    }, (error) => {
                        this.error(error);
                        
                        this.loading = false;
                        this.token = '';
                        this.initReCaptcha();
                    });
            },
            validateForm: function() {
                this.$v.$touch()
                return this.$v.$invalid
            },
            resetForm: function() {
                this.name = '';
                this.email = '',
                this.enquiry = '';
                this.token = '';
            },
            success() {
                this.bus.$emit('success');
            },
            error(error) {
                this.bus.$emit('error', error);
            },
        },
        components: {
            LoadingComponent,
            SocialMediaComponent
        }
    }
</script>
