<template>
    <div class="batam-highlights">
        <template v-if="loading">
            <loading-component :show-text="true" :text="'Loading'"></loading-component>
        </template>
        <template v-else>
            <template v-if="faqs.length > 0">
                <div class="position-relative">
                    <div class="container">
                        <div class="social-media-container d-flex">
                            <social-media-component :class="'px-4 py-5'"></social-media-component>
                        </div>
                        <div class="py-5 travel-info">
                            <p class="fs-xxl f-secondary f-bold text-blue mb-4">Frequently Asked Questions</p>
                            <div v-for="(faq, i) in faqs" v-bind:key="i + 1">
                                <p class="fs-2 f-bold text-red mb-1">{{ (i + 1)+'. '+faq.question }}</p>
                                <p v-html="faq.answer"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <template v-else>
                <p class="text-center fs-7 text-dark-grey py-5 mt-5">We are out of faq, please come back later</p>
            </template>
        </template>
    </div>
</template>

<script>
    import LoadingComponent from '../Loading/LoadingComponent.vue'
    import SocialMediaComponent from './SocialMediaComponent.vue'

    export default {
        data() {
            return {
                loading: false,
                faqs: [],
            }
        },
        created() {
            this.getFaqs();
        },
        methods: {
            getFaqs() {
                this.loading = true;
                window.axios.get(this.$root.api.getFaqs)
                    .then((response)  =>  {
                        let res = response.data;
                        this.faqs = res.data.faqs;
                        
                        this.loading = false;
                    }, (error) => {
                        this.loading = false;
                    });
            },
        },
        components: {
            LoadingComponent,
            SocialMediaComponent
        }
    }
</script>
