<template>
    <div class="batam-highlights">
        <template v-if="loading">
            <loading-component :show-text="true" :text="'Loading'"></loading-component>
        </template>
        <template v-else>
            <div class="position-relative">
                <div class="container">
                    <div class="social-media-container d-flex">
                        <social-media-component :class="'px-4 py-5'"></social-media-component>
                    </div>
                    <div class="py-5 travel-info">
                        <p class="fs-7 f-secondary text-blue mb-4">Privacy Policy</p>
                        <div>
                            <p>Horizon Fast Ferry Pte Ltd is committed to protecting and respecting your privacy.</p>
                            <p>This policy (together with any other documents referred to in it) sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us. Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it.</p>
                            <p>If you are under 18, please do not send any personal data about yourself to us.</p>
                            <p class="fs-2 f-bold text-red">1. INFORMATION COLLECTION</p>
                            <p>1.1 In order to provide a better service to you, we may collect and process the following data about you:</p>
                            <p>a) information that you provide by filling in forms on our site: www.horizonfastferry.com ("our site"). This includes information provid-ed at the time of registering to use our site.</p>
                            <p>b) if you contact us, we may keep a record of that correspondence.</p>
                            <p>1.2 We only retain personal data for so long as it is necessary. Data may be archived as long as the purpose for which the data was used still exists.</p>
                            <p class="fs-2 f-bold text-red">2. USES MADE OF THE INFORMATION</p>
                            <p>The purposes for which information may be used by us in and outside Singapore include:</p>
                            <ol class="voa" type="a">
                                <li>ensuring that content from our site is presented in the most effective manner for you and for your computer;</li>
                                <li>carrying out our obligations arising from any contracts entered into between you and us;</li>
                                <li>allowing you to participate in interactive features of our service, when you choose to do so;</li>
                                <li>complying with laws and regulations applicable to us or any of our affiliates in or outside Singapore;</li>
                                <li>legal proceedings, including collecting overdue amounts and seeking professional advices; or</li>
                                <li>purposes directly related or incidental to the above.</li>
                            </ol>
                            <p class="fs-2 f-bold text-red">3. DISCLOSURE OF YOUR INFORMATION</p>
                            <p>3.1 We will keep the personal data we hold confidential but may provide information to:</p>
                            <ol class="voa" type="a">
                                <li>personnel, agents, advisers, auditors, contractors, financial institutions, and service providers in connection with our operations or services;</li>
                                <li>our overseas offices, affiliates, business partners and counterparts (if any);</li>
                                <li>persons under a duty of confidentiality to us;</li>
                                <li>persons to whom we are required to make disclosure under applicable laws and regulations in or outside Singapore; or</li>
                                <li>actual or proposed transferees or participants of our services in or outside Singapore.</li>
                            </ol>
                            <p class="fs-2 f-bold text-red">4. COOKIES</p>
                            <p>4.1 Our website uses cookies to distinguish you from other users of our website. This helps us to provide you with a good experience when you browse our website and also allows us to improve our site. By continuing to browse the site, you are agreeing to our use of cookies.</p>
                            <p>4.2 A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your computer if you agree. Cook-ies contain information that is transferred to your computer's hard drive.</p>
                            <p>4.2 A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your computer if you agree. Cook-ies contain information that is transferred to your computer's hard drive.</p>
                            <p>4.2 A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your computer if you agree. Cook-ies contain information that is transferred to your computer's hard drive.</p>
                            <p>4.3 We use the following cookies:</p>
                            <p>Strictly necessary cookies. These are cookies that are required for the operation of our website. They include, for example, cookies that enable you to log into secure areas of our website, use a shopping cart or make use of e-billing services.</p>
                            <p>4.4 Please note that third parties (including, for example, advertising networks and providers of external services like web traffic analy-sis services) may also use cookies, over which we have no control. These cookies are likely to be analytical/performance cookies or tar-geting cookies.</p>
                            <p>4.5 You block cookies by activating the setting on your browser that allows you to refuse the setting of all or some cookies. However, if you use your browser settings to block all cookies (including essential cookies) you may not be able to access all or parts of our site.</p>
                            <p class="fs-2 f-bold text-red">5. SECURITY</p>
                            <p>5.1 All information you provide to us is stored on our secure servers.</p>
                            <p>5.2 Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our site; any transmission is at your own risk and you agree not to hold us responsible for any breach of security while accessing the internet that is out of our control. Once we have re-ceived your information, we will use strict procedures and security features to try to prevent unauthorised access.</p>
                            <p class="fs-2 f-bold text-red">6. THIRD PARTY WEBSITES</p>
                            <p>Our website may contain links to other sites (the "Linked Sites"). We are not responsible for the privacy policies or practices of such other Linked Sites. We encourage our users to be aware when leaving our website to read the privacy policies or statements of each Linked Site that collects your personal data. You agree to waive any claim against us with respect to the Linked Sites.</p>
                            <p class="fs-2 f-bold text-red">7. CHANGES TO OUR PRIVACY POLICY</p>
                            <p>Any changes we may make to our Privacy Policy in the future will be posted on this page. Your continued use of our services consti-tutes your agreement to this Privacy Policy and any updates.</p>
                            <p class="fs-2 f-bold text-red">8. DATA TRANSFERS</p>
                            <p>We may hold your data on servers in Internal Server and any other territories as we see fit from time to time. We may also transfer your data to our overseas offices or to any people listed at Clause 3.1 above, who may be located in or outside of Singapore.</p>
                            <p class="fs-2 f-bold text-red">9. YOUR CONSENT AND RIGHTS</p>
                            <p>9.1 By using our service, making an application or visiting our website, you consent to the collection and use of your information and other activities as outlined in this policy.</p>
                            <p>9.2 Under the Personal Data Protection Act (the "PDPA"), individuals have the right:</p>
                            <ol class="voa" type="a">
                                <li>to check whether we hold personal data about you and to access such data;</li>
                                <li>to require us to correct as soon as reasonably practicable any data relating to you that is inaccurate;</li>
                                <li>to ascertain our policies and practices in relation to personal data and the kind of personal data held by us; and</li>
                                <li>to object to the use of your personal data for marketing purposes and we shall not use your personal data for marketing purposes after you communicate your objection to us.</li>
                            </ol>
                            <p>9.3 You may exercise your opt-out right by notifying us if you wish to object to the use of your personal data for direct marketing pur-poses. Please send requests for such objections, access to data, correction of data, information regarding policies and practices and kinds of data held, questions or complaints to:</p>
                            <div class="row mb-3">
                                <div class="col-1">
                                    <p class="mb-0">Name</p>
                                    <p class="mb-0">Address</p>
                                    <p class="mb-0">Tel</p>
                                    <p class="mb-0">Fax</p>
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col">
                                    <p class="mb-0">Customer Service Officer</p>
                                    <p class="mb-0">1 Maritime Square #03-47 Harbourfront Centre Singapore 099253</p>
                                    <p class="mb-0">+65 6276 6711</p>
                                    <p class="mb-0">+65 6276 6551 </p>
                                    <p class="mb-0">singapore@horizonfastferry.com</p>
                                </div>
                            </div>
                            <p class="fs-2 f-bold text-red">10. GOVERNING LAW AND JURISDICTION</p>
                            <p>Nothing in this Privacy Policy shall limit the rights of the data subject under the PDPA. This Privacy Policy shall be governed by the laws of Singapore. You agree to submit to the exclusive jurisdiction of the Singapore courts.</p>
                            <p>Last updated: 15 November 2017</p>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import LoadingComponent from '../Loading/LoadingComponent.vue'
    import SocialMediaComponent from './SocialMediaComponent.vue'

    export default {
        data() {
            return {
                loading: false,
            }
        },
        created() {
        },
        methods: {
        },
        components: {
            LoadingComponent,
            SocialMediaComponent
        }
    }
</script>
