<template>
    <div class="d-flex flex-column social-media-sticky">
        <!-- <a href="#" class="mb-4 text-center">
            <font-awesome-icon :icon="['fab', 'facebook-f']" class="text-blue fs-4"></font-awesome-icon>
        </a>
        <a href="#" class="mb-4 text-center">
            <font-awesome-icon :icon="['fab', 'twitter']" class="text-blue fs-4"></font-awesome-icon>
        </a>
        <a href="#" class="mb-4 text-center">
            <font-awesome-icon :icon="['fab', 'whatsapp']" class="text-blue fs-4"></font-awesome-icon>
        </a>
        <a href="#" class="mb-4 text-center">
            <font-awesome-icon :icon="['fab', 'google-plus-g']" class="text-blue fs-4"></font-awesome-icon>
        </a>
        <div class="mb-5 text-center">
            <div class="vertical-divider"></div>
        </div>
        <div class="vertical-text">
            <span class="text-blue f-super-bold">SOCIALS</span>
        </div> -->
    </div>
</template>

<script>
    import { library } from '@fortawesome/fontawesome-svg-core'
    import { faFacebookF } from '@fortawesome/free-brands-svg-icons/faFacebookF'
    import { faTwitter } from '@fortawesome/free-brands-svg-icons/faTwitter'
    import { faWhatsapp } from '@fortawesome/free-brands-svg-icons/faWhatsapp'
    import { faGooglePlusG } from '@fortawesome/free-brands-svg-icons/faGooglePlusG'

    library.add(faFacebookF, faTwitter, faWhatsapp, faGooglePlusG);
    export default {
        
    }
</script>
