<template>
    <div class="batam-highlights">
        <template v-if="loading">
            <loading-component :show-text="true" :text="'Loading'"></loading-component>
        </template>
        <template v-else>
            <div class="position-relative">
                <div class="container">
                    <div class="social-media-container d-flex">
                        <social-media-component :class="'px-4 py-5'"></social-media-component>
                    </div>
                    <div class="py-5 travel-info">
                        <p class="fs-7 f-secondary text-blue mb-4">Terms & Conditions</p>
                        <div>
                            <p>Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our Privacy Policy governing our relationship with you in relation to this website.<br>If you disagree with any part of these terms and conditions, please do not use our website.</p>
                            <p>Please take note of the following provisions which contain the terms & conditions exempting, excluding &/or limiting the liability of Horizon Fast Ferry Pte Ltd (HFF) in respect of, among others, death, personal injury & loss of or damage to all property, including baggage. These provisions shall form part of the carriage contract between you & HFF. HFF reserves the right to amend these provisions from time to time without notice to you. You are advised to re-read these terms and conditions and the privacy policy on a regular basis, and to purchase appropriate and adequate insurances to protect yourself and your properties.</p>
                            <p>Users of this Website and online booking platform must be at least 18 years old to access and utilize the services offered herein.</p>
                            <p class="fs-2 f-bold text-red">1. APPLICABILITY</p>
                            <p>All carriage of passengers on our ferries and all services undertaken by us are subject to the provisions herein.</p>
                            <p class="fs-2 f-bold text-red">2. FARES</p>
                            <p>Current fares are displayed on our website. These may be subjected to change without prior notice.</p>
                            <p class="fs-2 f-bold text-red">3. SEAT RESERVATION / BOOKING</p>
                            <p>3.1 Our obligation is only to carry you on published services, and only where there are available seats on that service. It is for you to ensure that you make all resen/ations in reasonably good time for any services on which you wish to travel, and we shall not be liable if you delay in making any reservations, or make reservations at the last minute, such that there.</p>
                            <p>3.2 Reservation may be done through our website, and full passport details are compulsory at the time of reservation. You are required to print the conﬁrmation copy and present it during check-in.</p>
                            <p>3.3 Without further notice, your booking will be cancelled if you do not collect your boarding pass at our counters within the stipulated time frame as follows;</p>
                            <p>For peak periods booking, please collect the boarding pass 2 days before the ferry departure date; otherwise Please collect the boarding pass 90 minutes before ferry departure time</p>
                            <p>3.4 Amendments to Reservation & Admin Charges:</p>
                            <p>Amendments are at the sole discretion of HFF</p>
                            <p>Change of travelling date &time must be email to singapore@horizonfastferry.com at least 2 days before the scheduled departure time, subject to seat availability.</p>
                            <p>
                                Admin charge per passenger for changing or amending any reservation: S$10.00<br>
                                Admin charge per passenger for changing or amending passport particulars: S$10.00<br>
                                Admin charge per passenger for the replacement of a lost boarding pass: S$5.00<br>
                                These charges are non-refundable unless the changing or amendment is due to our fault.
                            </p>
                            <p>3.5 Changing And/Or Cancelling Boarding Pass</p>
                            <p>If you have collected your boarding pass and want to change or cancel your reservation, you have to bring your boarding pass to our  counter 3 days before scheduled departure time in exchange for your ticket. There will be an admin fee of S$10.00 imposed per boarding pass.</p>
                            <p>If you have made your reservations through travel agents or other parties, you are advised to contact them directly.</p>
                            <p class="fs-2 f-bold text-red">4. CHECK-IN & BOARDING</p>
                            <p>You are advised to check-in and collect boarding passes at our Ticketing Counter within the stipulated time frame as mentioned in Clause 6.3, failing which your booking will be cancelled without further notice to you.</p>
                            <p>You must check your boarding pass for errors as soon as you receive it, and bring any errors to our attention. If you fail to inform us of any errors at the required time, then your boarding pass will be assumed to be correct. We will not be responsible for any loss, damage, liability, or cost arising due to the boarding pass error.</p>
                            <p>You are advised to clear the Immigration checking 30 minutes before the scheduled ferry departure.</p>
                            <p>When you miss your intended departure time, you will have to purchase new ticket on the next departure time (subject to seat availability).</p>
                            <p class="fs-2 f-bold text-red">5. TICKET</p>
                            <p>5.1 We will not be obliged to replace your ticket if it is lost, mislaid or stolen. You will be required to purchase a new valid ticket to enable you to travel.</p>
                            <p>5.2 If your ticket is defaced, damaged or tampered with, it will be invalidated. We reserve the right to refuse to issue a replacement ticket in such circumstances.</p>
                            <p>5.3 When your ticket expires, it is no longer valid for travel.</p>
                            <p>5.4 Your ticket does not guarantee you a seat. You would need to do a seat reservation/booking with us in order to secure a seat. And the seat is subject to availability.</p>
                            <p class="fs-2 f-bold text-red">6. ADDITIONAL CHARGES / SURCHARGE</p>
                            <p>We may charge an additional fare or surcharge for your ticket by website or counter notice of at least 3 days before you are booked to travel on any service. The types of surcharges currently practiced in the travel industry are peak period, fuel & security surcharges. If we ask for an additional fare or surcharge, your ticket will cease to be valid for travel until you pay that additional fare. If you do not agree to pay that additional fare, you may cancel your ticket by informing us at least 48 hours before you are to travel, in which case we will refund a reasonable amount of the fare you paid for your ticket relating to any unused portions or unexpired periods of validity of your ticket.</p>
                            <p class="fs-2 f-bold text-red">7. NO SHOWS</p>
                            <p>When you miss the ferry, it will be classiﬁed as "No Shor/If' case. The boarding pass and ticket automatically lapse and are void. No refund, amendment or re-issuance of ticket will be allowed</p>
                            <p class="fs-2 f-bold text-red">8. CANCELLATION AND/OR WITHDRAWAL OF SERVICES</p>
                            <p>We reserve the right to alter any timetables or suspend, cancel or withdraw services, or terminate a service once it has commenced, without notice whether before or after you have reserved a seat on the service, and to substitute an alternative service.</p>
                            <p>We shall not be liable for any loss, damage, liability, or cost suffered by you as a result of any cancellation or withdrawal of any service by us, or any delay to any service, or termination of any service, for any reason (including our breach of contract or negligence).</p>
                            <p>Our option for cancellations and withdrawals of services:</p>
                            <p>
                                Rebook you on the next available ferry departure without additional charges;<br>
                                If the delay is more than 6 hours, you may claim a refund of the full amount of the fare, if no portion ofthe ticket has been used, or if the outward part ofa return ticket has been used, 50% of the fare;<br>
                                Provide a substitute ferry, which may lack all of the advertised facilities, and the substitute ferry may not be owned by us.<br>
                                The foregoing constitutes your sole remedy against us for such circumstances.
                            </p>
                            <p class="fs-2 f-bold text-red">9. LOSS OF ENJOYMENT</p>
                            <p>We are a ferry operator, and do not have any knowledge of your purpose of travel. We accordingly do not accept any liability for loss of enjoyment or other losses.</p>
                            <p class="fs-2 f-bold text-red">10. REFUNDS</p>
                            <p>10.1 Refunds are solely at the discretion of HFF</p>
                            <p>10.2 Admin fee for refund (if allowed) is $10.00 per ticket or $3.00 per portable wifi rental</p>
                            <p>10.3 Refund may be allowed ifyou meet the following conditions:</p>
                            <p>
                                If you do not wish to travel due to trip delay, refund will only be given if the delay is more than 6 hours<br>
                                If you do not wish to travel clue to trip cancellation, refund will only be given if we are unable to provide alternative arrangements within 3 hours from the cancelled trip
                            </p>
                            <p>10.4 No refund for voluntary downgrade from VIP and/or Business Class seat to Economy Class seat</p>
                            <p>10.5 No refund will be given ifyou are denied entry by the Authorised Authority due to whatsoever reason</p>
                            <p>10.6 No refund for missed ferry & expired ticket</p>
                            <p>10.7 Where a seat reservation/booking is cancelled by us pursuant to Clause 18, there will be no refund of the ticket fare</p>
                            <p>10.8 Refunds (if allowed) will be processed within 2 to 4 weeks after the departure date by cheque issuance.</p>
                            <p>10.9 If payment is made through travel agents or other parties, you are advised to contact them directly</p>
                            <p class="fs-2 f-bold text-red">11. TRAVEL DOCUMENTS</p>
                            <p>11.1 It is your responsibility to ensure that your passport is valid for entry at the country of destination and that the passport must have a minimum of 6 months validity from the date oftravel</p>
                            <p>11.2 You should ensure that you comply with all travel and immigration requirements necessary in the country of destination and shall, if necessary, obtain all necessary visas, licences, permits, passes certiﬁcates or documents whether for health, immigration, customs or other purposes at your own cost and responsibility.</p>
                            <p>11.3 No refund will be given in the event ifyou are refused embarkation or entry into a countw of destination by reason Offailure to obtain and/or possess a valid passport or other necessary documents or approvals</p>
                            <p class="fs-2 f-bold text-red">12. BAGGAGE</p>
                            <p>12.1 Baggage is separately checked-in at the baggage counters that are managed by the respective ferry terminal operators.</p>
                            <p>12.2 You are required to check-in your baggage at least 40 minutes before departure time.</p>
                            <p>12.3 You may carry on-board 1 hand held baggage no larger than 50cm x 40cm x 20cm with weight per item not exceeding 10kg.</p>
                            <p>12.4 You are entitled to a total check-in baggage allowance of 20kg.</p>
                            <p>12.5 Excess baggage, up to a maximum of 20kg, will be charged in accordance with rate levied by the Company. There will also be additional charge for odd & oversize baggage.</p>
                            <p>12.6 Due to health and safety and quarantine reason, we do not carry animals/pets.</p>
                            <p>12.7 Foul smelling items are not allowed on-board the ferry.</p>
                            <p>12.8 HFF reserves the right to reject any baggage to be loaded onto the ferry if such baggage is deemed to be hazardous, to be a nuisance or to create an inconvenience to, or is dangerous to the life or safety of the Passengers and Ferry.</p>
                            <p>12.9 HFF shall not be responsible for any loss of the baggage handled by the baggage counters ofthe respective ferry terminal operators.</p>
                            <p>12.10 You are responsible for getting your baggage onto and offa ferry, unless there is a terminal operator at the point of departure/arrival who has assumed that responsibility. Our crew are not responsible for lifting your baggage on or off the ferries and any decision to do so on ajourney is at the discretion of the Captain/crew and done so at your risk. It is your responsibility to see your baggage put on and taken off a ferry, or checked-in at the terminal where check-in arrangements apply. Except for any baggage stored in the hold, you must also look after your baggage at all times, including at the terminal and your hand baggage whilst on board.</p>
                            <p>
                                12.11 For more information on the baggage check-in arrangements, please refer to ferry terminal operator website at:<br> https://www.singaporecruise.com.sg/index.php/Ieaving—Singapore/ferry/baggage-info/
                            </p>
                            <p class="fs-2 f-bold text-red">13. EXCLUSION / LIMITATION OF LIABILITY</p>
                            <p>13.1 HFF shall be exempt from all liability in respect of any:</p>
                            <p>
                                Detention, delay, loss (whether direct, consequential, economic or otherwise), expense or damage of or to any property and baggage, whenever or wherever occurring, however and by whomsoever caused and whether due to any act, neglect or default HFF or otherwise;<br>
                                Death, personal injury, illness, detention, delay, loss of or to any Passenger whenever or wherever occurring, howsoever and by whomsoever caused and whether due to any act, neglect or default of HFF.
                            </p>
                            <p>13.2 Limitation of liability for death or personal injury to the Passenger:</p>
                            <p>Further to and without derogating from or in any way depriving HFF ofthe beneﬁt of any exemptions and/or exclusions contained in the foregoing, or under any applicable law, iffor any reason whatsoever, HFF does not rely, is unable to rely or is precluded from relying on any ofthe provisions of Clause 13.1 above, in the event of death or personal injury to you, HFF shall be entitled to limit its liability in accordance with its P&I insurance policy. You are therefore advised to obtain appropriate and adequate insurance coverages</p>
                            <p>13.3 Occurrences not on-board the ferry/ services performed by independent contractors:</p>
                            <p>HFF accepts no responsibility for the acts and/or omissions of independent contractors who are not agents or employees of HFF. You agree that HFF shall not be liable whatsoever for injury, loss or damage to any person, baggage, property as a result of any act, omission or negligence of any of these contractors or any other person providing any of the off-ship services relating to the passage and you hereby release and discharge HFF from any claims for such injury, loss or damage.</p>
                            <p>13.4 Beneﬁts of Exclusion / Limitation of Liability Clause:</p>
                            <p>It is hereby expressly agreed that no servant, agent, employee or representative of HFF (including every sub-contractor of HFF) shall be under any liability whatsoever to you for any loss, damage or delay of whatsoever kind arising or resulting directly or indirectly from any act, neglect or default on his part while acting in the course of or in connection with his employment or agency and without prejudice to the generality ofthe foregoing provisions ofthis clause, every exemption, limitation, condition and liberty herein contained and every right, exemption from liability, defence and immunity of whatsoever nature applicable to HFF or to which HFF is entitled hereunder shall also be available to HFF's servants, agents, employees and representatives.</p>
                            <p class="fs-2 f-bold text-red">14. NOTICE OF CLAIM</p>
                            <p>Any claim for death or personal injury shall be notiﬁed to HFF’s personnel immediately upon disembarkation for assistance. If you are injured whilst on board, it is essential that you report to a crew member before you leave the vessel or else your claim may not be validated.</p>
                            <p class="fs-2 f-bold text-red">15. TIME LIMITS FOR ACTION</p>
                            <p>15.1 Any claim arising out of death or personal injury to you shall be time barred and HFF shall be discharged from all liability whatsoever after a period of three months, from the date ofyour disembarkation</p>
                            <p>15.2 Subject to Clause 16 (below), in no case shall an action or claim in tort be brought after the expiration ofa period of3 months from the date ofyour disembarkation</p>
                            <p class="fs-2 f-bold text-red">16. JURISDICTION AND GOVERNING LAW</p>
                            <p>The courts of Singapore shall have the exclusivejurisdiction to hear and adjudicate on any claim brought herein and these provisions shall be governed by and determined in accordance with the laws ofthe Republic of Singapore.</p>
                            <p class="fs-2 f-bold text-red">17. INDEMNITIES</p>
                            <p>17.1 Where you books a passage or otherwise deals with HFF through a sales agent, travel agent or other intermediary (hereinafter referred to as a "Travel Agent"), you agree and acknowledge that:</p>
                            <p>
                                the Travel Agent acts solely as your agent and is fully authorized to act for and on your behalf in any matter whatsoever including but not limited to entering into a carriage contract with HFF, collecting any boarding pass issued by HFF, making, amending or cancelling any reservation, signing any document whatsoever and paying and receiving any monies;<br>
                                all the terms and conditions herein shall form part of any carriage contract concluded by the Travel Agent for and on your behalf;<br>
                                HFF shall not be liable for any act, neglect or default of the Travel Agent;<br>
                                HFF shall not be liable to refund any monies paid by you to the Travel Agent for onward transmission to HFF or for other purposes which the Travel Agent failed to do or to re-issue any boarding pass, which has already been issued and delivered to the Travel Agent;<br>
                                In the event the Travel Agent fails to remit to HFF any monies paid to it by you for whatever reason, you shall be and will remain liable for the sums due to HFF.
                            </p>
                            <p>17.2 You shall reimburse and fully indemnify HFF and hold HFF harmless against all or any liabilities, losses, claims, damages, expenses and/or delay of whatever nature, sustained or incurred by, or made upon HFF, whether directly or indirectly by reason ofyour negligence, breach of duty or failure to comply with these terms and conditions.</p>
                            <p class="fs-2 f-bold text-red">18. FORCE MAJEURE EVENT</p>
                            <p>We shall have no liability for any delay or failure to carry you, or for breach of contract, where caused by a circumstance beyond our reasonable control. The following shall be considered to be circumstances beyond our reasonable control: war or threat ofwar, accidents causing delays on the service route, exceptional severe weather conditions, fire and/or damage at a terminal orjetty, compliance with requests of the police, customs or other government, officials and security services, deaths and accidents at sea, vandalism and terrorism, unforeseen traffic delays, strike/industrial action, riot or local disturbance or unrest, problems caused by other customers, the ferry being held or delayed by a police officer, customs official or governmental official, approval of relevant governmental department of the countries concerned being refused on grounds of national security etc, bankruptcy, insolvency or cessation oftrade of any carrier used by us including code-share carrier, and other circumstances affecting your safety.</p>
                            <p class="fs-2 f-bold text-red">19. PASSENGER'S BEHAVIOUR</p>
                            <p>Required behaviour and prohibited behaviour:</p>
                            <p>
                                You warrants that you are fit to proceed and that you will not in any way be a nuisance to other Passenger and/or that your conduct will not in any way cause any inconvenience, endanger or impair the health, safety or reasonable comfort of any person or persons whether on board the ferry or not, or endanger the safety of the ferry and her crew and/or her ﬁttings, furnishings, machinery, equipment or any part thereof.<br>
                                In the interest of security and safety at sea and in the public interest, you agree and hereby consent to a reasonable search being made of you and baggage and property whether physically, by wat of screening, scanning, or otherwise and to the conﬁscation of any item which may, in the opinion of the personnel conducting such screening or search, inconvenience or endanger the safety of the ferry and/or her ﬁttings, furnishings, machinery or equipment or any part thereof.
                                HFF and/or its agents shall be entitled at any time without giving reasons, be entitled to restrain you, remove you from the ferry or terminal, refuse your further passage, and take any other measures, who, in the opinion of HFF, is likely to inconvenience or endanger or impair the health, safety or reasonable comfort of any person or persons whether on board the ferry or not, or endanger or impair the safety of the ferry and/or her ﬁttings, furnishings, machinery, equipment or any part thereof, without incurring any liability whatsoever Whilst HFF will use reasonable efforts to control the behaviours of other passengers on a ferry or at a terminal, HFF will not be liable to you for any act or omission of any passenger on a ferry or at a terminal.
                            </p>
                            <p class="fs-2 f-bold text-red">20. FITNESS OF THE PASSENGER TO TRAVEL</p>
                            <p>20.1 Passengers who are pregnant, or have any form of sickness, disease, injury, inﬁrmity, disability or illness, whether mental, physical or otherwise which could affect their ﬁtness for travel shall:</p>
                            <p>
                                Disclose their pregnancy and the stage thereof, sickness, injury, infirmity, disability or illness, as the case may be, to HFF at the time of reservation of passage<br>
                                Submit to HFF prior to sailing a medical certiﬁcate certifying their ﬁtness for travel.<br>
                                If necessary, be accompanied and assisted by an able bodied person of their choice and costs, who shall be responsible for their health and safety at all times including the period of transit.<br>
                                Reimburse and fully indemnify HFF and hold HFF harmless against any losses, claims, damage, costs, expenses and /or delay, ofwhatever nature sustained by HFF, whether directly or indirectly, and arising out of or in connection with their pregnancy, sickness, disease, injury, infirmity, disability or illness, as the case may be.
                            </p>
                            <p>20.2 Passengers who are more than 28 weeks pregnant are prohibited from traveling on board the ferry unless a medical certificate certifying fitness to travel is provided.</p>
                            <p>20.3 Passengers who require special assistance or special arrangements to be made while on board the ferry shall inform HFF at least three days before departure. HFF will take all reasonable steps to comply with and/or accommodate the Passenger’s request but the provision of special assistance/arrangements is solely subject to availability and at the discretion of HFF.</p>
                            <p>20.4 HFF shall be entitled at any time, without giving reasons, to refuse passage to any Passenger who is pregnant, or has any form of sickness, disease, injury, inﬁrmity, disability or illness, whether mental, physical or otherwise or to cancel any reservation made by or for such Passenger, without any liability whatsoever to such a Passenger.</p>
                            <p class="fs-2 f-bold text-red">21. ENTIRE AGREEMENT CLAUSE</p>
                            <p>These terms and conditions are deemed part of the carriage contract and all prior understandings and agreements heretofore entered into between you and HFF, whether written or oral, are superseded by these terms and conditions, which alone fully and completely express the agreement between you and HFF.</p>
                            <p class="fs-2 f-bold text-red">22. SEVERABILITY</p>
                            <p>Each paragraph, sub-paragraph, clause, sub-clause, article, provision contained in these terms and conditions shall be severable and should any such paragraph, sub-paragraph, clause, sub-clause, article or provision shall be held to be invalid, void, unenforceable or inapplicable, the remaining paragraphs, sub-paragraphs, clauses, sub-clauses, articles and provisions shall nevertheless have full force and effect.</p>
                            <p class="fs-2 f-bold text-red">23. DISCOUNTS</p>
                            <p class="mb-0">23.1 Horizon Points</p>
                            <p>23.1.1 Horizon Points are points that are awarded to you and will be accumulated in your Horizon Account until expiry. Points are awarded on the actual participated and unrefunded activities purchased from Horizon’s platforms, based on the award program at the time of purchase. Except as otherwise stated, every 1 SGD or equivalent equals to 5 Horizon points.</p>
                            <p>23.1.2 Horizon points may be earned through the following means and the amount of Horizon points received may vary with each purchase and is at the sole discretion of Horizon Fast Ferry: (a) rebates from previous purchases (b) earning through any means authorized by Horizon at its sole discretion (c) submission of activity review after successfully completing any eligible Horizon activities you purchased</p>
                            <p>23.1.3 You will only receive Horizon points for the ﬁrst ten activities you have reviewed in any calendar month. lfyou have completed the same activity more than once in the same month, you will only receive Horizon points for the ﬁrst review you have submitted for that activity.</p>
                            <p>23.1.4 All Horizon points earned if remain unused for 2 years will expired and be deducted from your account.</p>
                            <p class="mb-0">23.2 Abuse of Discounts</p>
                            <p>23.2.1 In the event where it has come to Horizon’s attention that the Horizon’s Points were earned in a fraudulent manner, in a manner that violates this Terms of Use or in a manner otherwise not intended by Horizon Fast Ferry, Horizon reserves the right to the following: (a) Termination ofyour Horizon’s Account with immediate effect; or (b) Cancelation of all Horizon points previously accrued; or (c) Refusal ofthe provision of the Services to you; or (d) Any other measures as deemed appropriate by Horizon Fast Ferry at its sole discretion.</p>
                            <p class="fs-2 f-bold text-red">24. TERMINATION</p>
                            <p class="mb-0">24.1 Termination by Horizon Fast Ferry</p>
                            <p>24.1.1 This Terms of Use shall remain in full force and effect while you use this Websites or the Services. Horizon Fast Ferry may terminate or suspend your access to the Services or your membership at any time, for any reason, and without notice, which may result in the forfeiture and destruction of all information associated with your membership. Horizon Fast Ferry may also terminate or suspend any and all Services and access to this Website immediately, without prior notice or liability, ifyou breach any of the terms or conditions ofthis Terms of Use.</p>
                            <p class="mb-0">24.2 Effects of Termination</p>
                            <p>24.2.1 Upon termination ofyour Horizon Fast Ferry Account, your right to use the Services, access this Website, and any Content will immediately cease. All provisions of this Terms of Use which, by their nature, should survive termination, shall survive termination, including but not limited to ownership provisions, warranty disclaimers, and limitations of liability.</p>
                            <p>24.2.2 lfthis Terms of Use is terminated as a result ofyour breach, Horizon Fast Ferry reserves the right to cancel any outstanding Horizon points you may have purchased prior to said termination, without refund or liability to you.</p>
                            <br><br>
                            <p>
                                Copyright © 2018. All Rights Reserved.<br>
                                TERMS & CONDITIONS PRIVACY POLICY
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import LoadingComponent from '../Loading/LoadingComponent.vue'
    import SocialMediaComponent from './SocialMediaComponent.vue'

    export default {
        data() {
            return {
                loading: false,
            }
        },
        created() {
        },
        methods: {
        },
        components: {
            LoadingComponent,
            SocialMediaComponent
        }
    }
</script>
