<template>
    <div class="batam-highlights">
        <template v-if="loading">
            <loading-component :show-text="true" :text="'Loading'"></loading-component>
        </template>
        <template v-else>
            <div class="position-relative">
                <div class="container">
                    <div class="social-media-container d-flex">
                        <social-media-component :class="'px-4 py-5'"></social-media-component>
                    </div>
                    <div class="py-5 travel-info">
                        <ul class="nav nav-pills mb-4" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-one-tab" data-toggle="pill" href="#pills-one" role="tab" aria-controls="pills-one" aria-selected="true">
                                    <p class="fs-7 f-secondary text-blue mb-0">Visa Information</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-two-tab" data-toggle="pill" href="#pills-two" role="tab" aria-controls="pills-two" aria-selected="false">
                                    <p class="fs-7 f-secondary text-blue mb-0">Departure Locations</p>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-one" role="tabpanel" aria-labelledby="pills-one-tab">
                                <div class="mb-4">
                                    <p class="fs-2 f-bold text-red mb-0">Passports and Visas</p>
                                    <p class="">It is the passenger's responsibility to ensure they hold a valid passport and travelling documents (visas etc.) and comply with the entry, exit, transit or other requirements of the countries they are travelling to. Passengers may be refused entry into a country if they do not possess the rquired travel documents. Harbour Bay Ferry will not be liable in any way for any consequences arising out of your not having the rqeuired or valid travel documents.</p>
                                </div>
                                <div class="mb-4">
                                    <p class="fs-2 f-bold text-red mb-0">To Indonesia</p>
                                    <p class="mb-1"><b>Passport: </b>Your passport or travelling document must be valid at least six (6) months after the date of entry.</p>
                                    <p class=""><b>Visa: </b>Countries/Passports that DO NOT REQUIRE VISA for short visit.</p>
                                </div>
                                <p class="mb-4">If you are holding a passport issued by one of the following countries, visa is not required:</p>
                                <div class="mb-4 countries">
                                    <span>Albania</span>
                                    <span>Algeria</span>
                                    <span>Andorra</span>
                                    <span>Angola</span>
                                    <span>Antigua and Barbuda</span>
                                    <span>Argentina</span>
                                    <span>Armenia</span>
                                    <span>Australia</span>
                                    <span>Austria</span>
                                    <span>Azerbaijan</span>
                                    <span>Bahamas</span>
                                    <span>Bahrain</span>
                                    <span>Bangladesh</span>
                                    <span>Barbados</span>
                                    <span>Belarus</span>
                                    <span>Belgium</span>
                                    <span>Belize</span>
                                    <span>Benin</span>
                                    <span>Bhutan</span>
                                    <span>Bolivia</span>
                                    <span>Bosnia and Herzegovina</span>
                                    <span>Botswana</span>
                                    <span>Brazil</span>
                                    <span>Brunei</span>
                                    <span>Bulgaria</span>
                                    <span>Burkina Faso</span>
                                    <span>Burundi</span>
                                    <span>Cambodia</span>
                                    <span>Canada</span>
                                    <span>Cape Verde</span>
                                    <span>Chad</span>
                                    <span>Chile</span>
                                    <span>China</span>
                                    <span>Comoros</span>
                                    <span>Costa Rica</span>
                                    <span>Cote d'Ivoire (Ivory Coast)</span>
                                    <span>Croatia</span>
                                    <span>Cuba</span>
                                    <span>Cyprus</span>
                                    <span>Czech Republic</span>
                                    <span>Denmark</span>
                                    <span>Dominica (Commonwealth)</span>
                                    <span>Dominican Republic</span>
                                    <span>Ecuador</span>
                                    <span>Egypt</span>
                                    <span>El Salvador</span>
                                    <span>Estonia</span>
                                    <span>Fiji</span>
                                    <span>Finland</span>
                                    <span>France</span>
                                    <span>Gabon</span>
                                    <span>Gambia</span>
                                    <span>Georgia</span>
                                    <span>Germany</span>
                                    <span>Ghana</span>
                                    <span>Greece</span>
                                    <span>Grenada</span>
                                    <span>Guatemala</span>
                                    <span>Guyana</span>
                                    <span>Haiti</span>
                                    <span>Honduras</span>
                                    <span>Hong Kong (SAR)</span>
                                    <span>Hungary</span>
                                    <span>Iceland</span>
                                    <span>India</span>
                                    <span>Ireland</span>
                                    <span>Italy</span>
                                    <span>Jamaica</span>
                                    <span>Japan</span>
                                    <span>Jordan</span>
                                    <span>Kazakhstan</span>
                                    <span>Kenya</span>
                                    <span>Kiribati</span>
                                    <span>Kuwait</span>
                                    <span>Kyrgyzstan</span>
                                    <span>Laos</span>
                                    <span>Latvia</span>
                                    <span>Lebanon</span>
                                    <span>Lesotho</span>
                                    <span>Liechtenstein</span>
                                    <span>Lithuania</span>
                                    <span>Luxembourg</span>
                                    <span>Macau (SAR)</span>
                                    <span>Macedonia</span>
                                    <span>Madagascar</span>
                                    <span>Malawi</span>
                                    <span>Malaysia</span>
                                    <span>Maldives</span>
                                    <span>Mali</span>
                                    <span>Malta</span>
                                    <span>Marshall Islands</span>
                                    <span>Mauritania</span>
                                    <span>Mauritius</span>
                                    <span>Mexico</span>
                                    <span>Moldova</span>
                                    <span>Monaco</span>
                                    <span>Mongolia</span>
                                    <span>Morocco</span>
                                    <span>Mozambique</span>
                                    <span>Myanmar</span>
                                    <span>Namibia</span>
                                    <span>Nauru</span>
                                    <span>Nepal</span>
                                    <span>Netherlands</span>
                                    <span>New Zealand</span>
                                    <span>Nicaragua</span>
                                    <span>Norway</span>
                                    <span>Oman</span>
                                    <span>Palau</span>
                                    <span>Palestine</span>
                                    <span>Panama</span>
                                    <span>Papua New Guinea</span>
                                    <span>Paraguay</span>
                                    <span>Peru</span>
                                    <span>Philippines</span>
                                    <span>Poland</span>
                                    <span>Portugal</span>
                                    <span>Puerto Rico</span>
                                    <span>Qatar</span>
                                    <span>Romania</span>
                                    <span>Russia</span>
                                    <span>Rwanda</span>
                                    <span>Samoa</span>
                                    <span>San Marino</span>
                                    <span>Sao Tome and Principe</span>
                                    <span>Saudi Arabia</span>
                                    <span>Senegal</span>
                                    <span>Serbia</span>
                                    <span>Seychelles</span>
                                    <span>Singapore</span>
                                    <span>Slovakia</span>
                                    <span>Slovenia</span>
                                    <span>Solomon Islands</span>
                                    <span>South Africa</span>
                                    <span>South Korea</span>
                                    <span>Spain</span>
                                    <span>Sri Lanka</span>
                                    <span>St Kitts and Nevis</span>
                                    <span>St Lucia</span>
                                    <span>St Vincent and Grenadines</span>
                                    <span>Suriname</span>
                                    <span>Swaziland</span>
                                    <span>Sweden</span>
                                    <span>Switzerland</span>
                                    <span>Taiwan</span>
                                    <span>Tajikistan</span>
                                    <span>Tanzania</span>
                                    <span>Thailand</span>
                                    <span>Timor-Leste</span>
                                    <span>Togo</span>
                                    <span>Tonga</span>
                                    <span>Trinidad & Tobago</span>
                                    <span>Tunisia</span>
                                    <span>Turkey</span>
                                    <span>Turkmenistan</span>
                                    <span>Tuvalu</span>
                                    <span>Uganda</span>
                                    <span>Ukraine</span>
                                    <span>United Arab Emirates</span>
                                    <span>United Kingdom</span>
                                    <span>Uruguay</span>
                                    <span>United States of America</span>
                                    <span>Uzbekistan</span>
                                    <span>Vanuatu</span>
                                    <span>Vatican City</span>
                                    <span>Venezuela</span>
                                    <span>Vietnam</span>
                                    <span>Zambia</span>
                                    <span>Zimbabwe</span>
                                </div>
                                <div class="mb-4">
                                    <p class="fs-2 f-bold text-red mb-0">Visa on Arrival (VOA)</p>
                                    <p class="mb-1">The following nationalities are eligible for Visa On Arriva: Libya</p>
                                    <p class="mb-1">The Visa fee is <b>USD35</b> for up to <b>30 days stay</b> in Indonesia. Please make sure you have the following documents read, before applying for VOA:</p>
                                    <ol class="voa">
                                        <li><p class="mb-1">Passport with a minimum of 6 months' validity and contains at least one unused visa page for visa-on-arrival sticker</p></li>
                                        <li><p class="mb-1">Fill in the Arrival/Departure card</p></li>
                                        <li><p class="mb-1">Return or outward journey ticket</p></li>
                                        <li><p class="mb-1">Prepare the exact amount in USD for payment of VOA fees to ensure a smooth application process</p></li>
                                    </ol>
                                </div>
                                <p class="mb-4">For more updated information, please refer to your nearest Indonesian embassy or visit their website at VOA application counters are mostly located at immigration hall. You may approach our staff for directions.</p>
                                <p class="mb-4">Countries are not listed above will have to apply for Visa in advance at the the Indonesian Embassy which is located at</p>
                                <div class="mb-4">
                                    <p class="mb-1"><b>Address:</b></p>
                                    <p class="mb-1">7 Chatsworth Road Singapore 249761</p>
                                    <p class="mb-1">Tel: 6737 7422 Fax:6737 5037 , 6235 5783</p>
                                </div>
                                <div class="mb-4">
                                    <p class="mb-1"><b>Office Hours:</b></p>
                                    <p class="mb-1">Mon - Thurs: 8.30am - 1.00pm, 2.00pm - 5.00pm</p>
                                    <p class="mb-1">Fri: 8:30am - 12.30pm, 2.30pm - 5.00pm</p>
                                    <p class="mb-1">Sat: Closed</p>
                                </div>
                                <div class="mb-4">
                                    <p class="mb-1"><b class="f-italic">NOTE: </b>These are guidelines only. We recommends you to contact the Indonesian Embassy for more updated information. Visa requirements are subject to change without prior notice.</p>
                                </div>
                                <div class="mb-4">
                                    <p class="fs-2 f-bold text-red mb-0">To Singapore</p>
                                    <p class="mb-2">If you are holding an Indonesian Passport and are visiting for social reason, visa is not required.</p>
                                </div>
                                <div class="mb-4">
                                    <p class="mb-2">However, you are required to go through immigration clearance upon arrival into Singapore and must satisfy the following basic requirements:</p>
                                </div>
                                <div class="mb-4">
                                    <ul class="voa">
                                        <li><p class="mb-2">A passport with at least 6 months validity</p></li>
                                        <li><p class="mb-2">Sufficient funds to last for the intended period of stay in Singapore</p></li>
                                        <li><p class="mb-2">Confirmed outward/return tickets</p></li>
                                        <li><p class="mb-2">Entry facilities to their onward destinations e.g. Visas</p></li>
                                        <li><p class="mb-2">Completed disembarkation/embarkation card</p></li>
                                    </ul>
                                </div>
                                <div class="mb-4">
                                    <p class="mb-2">For other nationalities, you are advised to contact the nearest Singapore Embassy for more information or visit <b>www.ica.gov.sg</b> for more information.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-two" role="tabpanel" aria-labelledby="pills-two-tab">
                                <div class="mb-4">
                                    <GmapMap
                                        :center="{lat:1.2647775, lng:103.8205551}"
                                        :zoom="16"
                                        map-type-id="roadmap"
                                        :options="{
                                            mapTypeControl: false,
                                            streetViewControl: false,
                                            fullscreenControl: false,
                                        }"
                                        style="width: 500px; height: 300px"
                                    >
                                        <GmapMarker
                                            :position="{lat:1.2647775, lng:103.8205551}"
                                            :clickable="false"
                                            :draggable="false"
                                            :animation="google && google.maps.Animation.DROP"
                                        />
                                    </GmapMap>
                                </div>
                                <p>
                                    1 Maritime Square #03-47, Harbourfront Centre, Singapore 099253<br>
                                    Departure Hall is located on 2nd hall<br>
                                    Arrival Hall is located on 1st floor
                                </p>
                                <p class="fs-2 f-bold text-red">How to get there?</p>
                                <p class="fs-2 f-super-bold">By SBS Bus</p>
                                <p>
                                    <span class="f-bold">Bus service no 10, 30, 61, 97, 100, 131, 143, 145 & 166</span><br>
                                    Depending on your destination (South, West, Central, North, East) there are Bus Stops at either the Seas Im Road Bus Terminal, which is located opposite to the HarbourFront Centre or in front of the HarbourFront Centre.
                                </p>
                                <p class="fs-2 f-super-bold">By MRT</p>
                                <p>The HarbourFront Station sits on the North East Line (NEL), which starts/ends at HarbourFront Centre. The train gives you easy and quick access to tourist attractions at Chinatown, Clarke Quay and Little India.<br>If you wish to travel to the airport, take the train North from HarbourFront, and then change trains from the NEL to the East West Line (EWL) at Outram Stations. Outram Station is just one stop away from the HarbourFront Station.</p>
                                <p>The train journey to the airport takes about 40-50 minutes from HarbourFront, with transfers at Outram Station (NEL to EWL) and Tanah Merah (EWL to Airport) station respectively.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import LoadingComponent from '../Loading/LoadingComponent.vue'
    import SocialMediaComponent from './SocialMediaComponent.vue'
    import {gmapApi} from 'vue2-google-maps'

    export default {
        data() {
            return {
                loading: false,
            }
        },
        computed: {
            google: gmapApi
        },
        components: {
            LoadingComponent,
            SocialMediaComponent
        }
    }
</script>
