
// Fonts
@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';
