<template>
    <div>
        <template v-if="loading">
            <loading-component :show-text="true" :text="'Loading'"></loading-component>
        </template>
        <template v-else>
            <div class="m-auto">
                <div class="border border-cream p-5">
                    <p class="text-blue text-center f-bold fs-7 mb-5">Forgot Password</p>
                    <div class="alert alert-primary text-center" role="alert">
                        Enter your account email to receive <br> a link allowing you to reset your <br>password.
                    </div>
                    <form @submit="sendResetPasswordMail">
                        <div class="form-group vuelidate" :class="{ 'form-group-error': $v.email.$error }">
                            <label for="recoveryEmail" class="f-bold">We'll send a recovery link to</label>
                            <input v-model="$v.email.$model" type="email" name="email" id="recoveryEmail" class="form-control horizon">
                            <p v-if="!$v.email.required" class="status-text">{{ $t('vue-validation.required', { attribute: 'Email' }) }}</p>
                            <p v-if="!$v.email.email" class="status-text">{{ $t('vue-validation.email', { attribute: 'Email' }) }}</p>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-cream btn-block">Send recovery link</button>
                        </div>
                    </form>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import LoadingComponent from '../Loading/LoadingComponent'
    import { required, email } from 'vuelidate/lib/validators';

    export default {
        props: ['user', 'token', 'bus'],
        data() {
            return {
                loading: false,
                email: '',
                password: '',
                passwordConfirmation: '',
            }
        },
        validations: {
            email: {
                required,
                email
            }
        },
        mounted() {

        },
        methods: {
            validateForm() {
                this.$v.$touch();
                return this.$v.$invalid;
            },
            sendResetPasswordMail(e) {
                let self = this;
                e.preventDefault();

                if (!this.validateForm()) {
                    return;
                }

                let data = {
                    'email': this.email
                };

                self.loading = true;
                window.axios.post(this.$root.api.sendResetPasswordMail, data)
                    .then((response)  =>  {
                        let res = response.data;
                        self.bus.$emit('success', res.message);
                        self.loading = false;
                        this.$router.push({ name: 'dashboard' });
                    }, (error) => {
                        let response = error.response;
                        self.bus.$emit('error', error);
                        self.loading = false;
                    });
            }
        },
        components: {
            LoadingComponent
        }
    }
</script>
