<template>
    <div>
        <template v-if="loading">
            <loading-component :show-text="true" :text="'Loading'"></loading-component>
        </template>
        <template v-else>
            <div class="m-auto py-5">
                <div class="border border-cream p-5">
                    <p class="text-blue text-center f-bold fs-7 mb-5">Reset Password</p>
                    <div class="alert alert-primary text-center" role="alert">
                        If you did not request a password reset, <br> no further action is required.
                    </div>
                    <form @submit="resetPassword">
                        <div class="form-group vuelidate" :class="{ 'form-group-error': $v.email.$error }">
                            <label for="newPassword" class="f-bold">Email</label>
                            <input v-model="$v.email.$model" type="email" name="email" class="form-control horizon">
                            <p v-if="!$v.email.required" class="status-text">
                                {{ $t('vue-validation.required', { attribute: 'Email' }) }}
                            </p>
                            <p v-if="!$v.email.email" class="status-text">
                                {{ $t('vue-validation.email', { attribute: 'Email' }) }}
                            </p>
                        </div>
                        <div class="form-group vuelidate" :class="{ 'form-group-error': $v.password.$error }">
                            <label for="newPassword" class="f-bold">New password</label>
                            <input v-model.trim="$v.password.$model" class="form-control horizon" type="password">
                            <p v-if="!$v.password.required" class="status-text">
                                {{ $t('vue-validation.required', { attribute: 'Password' }) }}
                            </p>
                            <p v-if="!$v.password.minLength" class="status-text">
                                {{ $t('vue-validation.gte.string', { attribute: 'Password', value: '6' }) }}
                            </p>
                        </div> 
                        <div class="form-group vuelidate" :class="{ 'form-group-error': $v.passwordConfirmation.$error }">
                            <label for="newPassword" class="f-bold">New password confirmation</label>
                            <input v-model="$v.passwordConfirmation.$model" type="password" name="password_confirmation" class="form-control horizon">
                            <p v-if="!$v.passwordConfirmation.required" class="status-text">
                                {{ $t('vue-validation.required', { attribute: 'Password confirmation' }) }}
                            </p>
                            <p v-if="!$v.passwordConfirmation.sameAsPassword" class="status-text">
                                {{ $t('vue-validation.same', { attribute: 'Password confirmation', other: 'password' }) }}
                            </p>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-cream btn-block">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import LoadingComponent from '../Loading/LoadingComponent'
    import { required, email, sameAs, minLength } from 'vuelidate/lib/validators';

    export default {
        props: ['user', 'token', 'bus'],
        data() {
            return {
                loading: false,
                email: '',
                password: '',
                passwordConfirmation: '',
            }
        },
        validations: {
            email: {
                required,
                email
            },
            password: {
                required,
                minLength: minLength(6)
            },
            passwordConfirmation: {
                required,
                sameAsPassword: sameAs('password')
            }
        },
        mounted() {
            let self = this;
            $(document).ready(function() {
                // 
            });
        },
        methods: {
            validateForm() {
                this.$v.$touch();
                return this.$v.$invalid;
            },
            resetPassword(e) {
                let self = this;
                e.preventDefault();

                if (!this.validateForm()) {
                    return;
                }

                let data = {
                    'token': this.$route.params.token,
                    'email': this.email,
                    'password': this.password,
                    'password_confirmation': this.passwordConfirmation
                };

                self.loading = true;
                window.axios.post(this.$root.api.resetPassword, data)
                    .then((response)  =>  {
                        let res = response.data;
                        self.bus.$emit('success', res.message);
                        self.loading = false;
                        this.$router.push({ name: 'dashboard' });
                    }, (error) => {
                        let response = error.response;
                        self.bus.$emit('error', error);
                        self.loading = false;
                    });
            }
        },
        components: {
            LoadingComponent
        }
    }
</script>
