<style>
@media print {
  /* body * {
        visibility: hidden !important;
    }

    #printArea, #printArea * {
        visibility: visible !important;
    }

    #printArea {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    } */

  @page {
    width: 21cm;
    height: 29.7cm;
    margin: 0;
  }
}
</style>

<template>
  <div>
    <template v-if="loading">
      <loading-component
        :custom-class="'p-5'"
        :show-text="true"
        :text="loadingText"
        :fullscreen="fullscreen"
      ></loading-component>
    </template>
    <template v-else>
      <div class="container">
        <template v-if="order">
          <div class="my-4">
            <template v-if="order.status == 1">
              <div class="alert alert-info" role="alert">
                <font-awesome-icon icon="exclamation-circle" class="mr-2"></font-awesome-icon>Please Complete The Order!
              </div>
            </template>
            <template v-if="order.status == 2">
              <div class="alert alert-success" role="alert">
                <font-awesome-icon icon="exclamation-circle" class="mr-2"></font-awesome-icon>Order Completed!
              </div>
            </template>
            <template v-if="order.status == 3">
              <div class="alert alert-danger" role="alert">
                <font-awesome-icon icon="exclamation-circle" class="mr-2"></font-awesome-icon>Techinal Issue, Please try again later!
              </div>
            </template>
            <template v-if="order.status == 4">
              <div class="alert alert-danger" role="alert">
                <font-awesome-icon icon="exclamation-circle" class="mr-2"></font-awesome-icon>Order Expired!
              </div>
            </template>
          </div>
          <template v-if="order.status == 2">
            <div class="mt-4 mb-5 complete-view">
              <p class="f-secondary text-blue fs-7 f-super-bold mb-3">Payment Successful</p>
              <p
                class="h-4 f-super-bold mb-4"
              >Your booking reference is: {{ order.reference_number }}</p>
              <template v-if="'wifi_only' in order.options && order.options.wifi_only">
                <p>
                  Please collect your Wifi device at
                  <b>Batam Horizon Fast Ferry Counter</b>
                </p>
              </template>
              <template v-if="departDetails.length">
                <div class="d-flex mb-3">
                  <p>
                    Please print out your E-Boarding Pass and proceed directly to custom for check-in. <br/> Those without a physical E-Boarding Pass will need to visit
                    <b>Horizon Fast Ferry counter 40 minutes before their departure.</b>
                  <br><br>If you did not receive an E-Boarding Pass for your departure or return trip, please visit the respective 
                  <b>Singapore or Batam Horizon Fast Ferry counter 40 minutes before your departure.</b>
                  </p>
                  <div class="ml-4 pointer" v-on:click="print">
                    <div class="border border-blue p-2">
                      <font-awesome-icon icon="print" class="text-blue fs-7"></font-awesome-icon>
                    </div>
                    <p class="mb-0 text-center text-blue mt-1 fs-0 f-bold">Print</p>
                  </div>
                </div>
              </template>
              <div id="printArea">
                <template v-if="departDetails.length">
                  <div class="bg-dark-blue py-3 px-4">
                    <p class="mb-0 text-white h4">
                      <b>FERRY BOOKING</b>
                    </p>
                  </div>
                  <div class="bg-light-cream py-2 px-4">
                    <p
                      class="mb-0 f-super-bold"
                    >Transaction Ref: {{ order.options.departure_booking_reference }}</p>
                  </div>
                  <div class="bg-cream-2 py-2 px-4">
                    <p class="mb-0">
                      <b>Departure:</b>
                      {{ order.options.departure_from == 'batam' ? 'Batam, Harbour Bay' : 'SG, Harbourfront' }}
                      <b>&nbsp;&nbsp;Date/time:</b>
                      {{ order.options.departure_date | moment("DD MMM YYYY") }} {{ order.options.departure_time }} ({{ order.options.departure_from == 'batam' ? 'ID time' : 'SG time' }})
                    </p>
                  </div>
                  <template v-if="order.options.two_way">
                    <div class="bg-light-cream py-2 px-4">
                      <p
                        class="mb-0 f-super-bold"
                      >Transaction Ref: {{ order.options.return_booking_reference }}</p>
                    </div>
                    <div class="bg-cream-2 py-2 px-4">
                      <p class="mb-0">
                        <b>Return:</b>
                        {{ order.options.return_from == 'batam' ? 'Batam, Harbour Bay' : 'SG, Harbourfront' }}
                        <b>&nbsp;&nbsp;Date/time:</b>
                        {{ order.options.return_date | moment("DD MMM YYYY") }} {{ order.options.return_time }} ({{ order.options.return_from == 'batam' ? 'ID time' : 'SG time' }})
                      </p>
                    </div>
                  </template>
                  <div class="bg-grey py-2 px-4">
                    <p class="mb-0">
                      <b>Seat Class:</b>
                      {{ TicketType.getString(order.options.type) }} x {{ order.options.quantity }} pax
                    </p>
                  </div>
                  <div class="bg-light-grey px-4 py-30">
                    <div class="passenger">
                      <p
                        v-for="(departDetail, key) in departDetails"
                        v-bind:key="key"
                        :class="key == departDetails.length - 1 ? 'mb-0' : ''"
                      >
                        <b>Passenger detail:</b>
                        <span
                          class="text-uppercase"
                        >{{ departDetail.passenger.name }}</span>
                      </p>
                    </div>
                  </div>
                  <br />
                  <p
                    class="f-italic f-super-bold text-red px-4"
                  >All tickets sold are non refundable. Reschedule of travel dates need to be made 72 hour in advance. Seats are subject to availability.</p>
                </template>
                <template v-if="wifiDetail && (wifiDetail.status == 1 || wifiDetail.status == 2)">
                  <div class="bg-dark-blue py-3 px-4">
                    <p class="mb-0 text-white h4">
                      <b>WIFI DEVICE BOOKING</b>
                    </p>
                  </div>
                  <div class="wifi-booking">
                    <table width="100%" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="wifi">
                          <img class="wifi-img" src="/assets/icons/wifi.png" alt="wifi" />
                        </td>
                        <td class="text-left">
                          <p>
                            <b>WIFI Device rental:</b> Yes
                          </p>
                          <p>
                            <b>Duration:</b>
                            {{ wifiDetail.options.number_of_days }} days
                            <b>&nbsp;&nbsp;Date:</b>
                            {{ wifiDetail.start_date | moment("DD MMM YYYY") }} - {{ wifiDetail.end_date | moment("DD MMM YYYY") }}
                          </p>
                          <p>
                            <b>Due Date:</b>
                            {{ wifiDetail.end_date | moment("add", "1 day", "DD MMM YYYY") }}
                            <b>&nbsp;&nbsp;No.of devices:</b>
                            {{ wifiDetail.quantity }}
                          </p>
                          <p>
                            <b>Pick up and return</b>
                            device at Batam Horizon Ferry Counter Level 2 Bayfront Mall, #02-10 Harbour Bay Terminal
                          </p>
                          <p>
                            Penalty of
                            <b class="italic">SGD {{ wifiPenaltyPrice }}/day</b> for late return of device.
                          </p>
                        </td>
                      </tr>
                    </table>
                    <img class="mb-3" width="100%" src="/assets/icons/route.png" alt="route" />
                    <p class="mb-0 f-italic">
                      <b>Cancellation should be made 72 hours in advance for refund. Please email to wifi@horizonfastferry.com</b>
                    </p>
                  </div>
                </template>
                <template v-else-if="wifiDetail && wifiDetail.status == 5">
                  <div class="alert alert-danger">
                    <h5 class="text-center f-super-bold text-red mb-0">
                      Wifi booking failed due to insufficient fund
                      <br />
                      <small>(Your credit card will not be charged)</small>
                    </h5>
                  </div>
                </template>
                <template v-if="carDetail && (carDetail.status == 1 || carDetail.status == 2)">
                  <br />
                  <div class="bg-dark-blue py-3 px-4">
                    <p class="mb-0 text-white h4">
                      <b>CAR CHARTER BOOKING</b>
                    </p>
                  </div>
                  <div class="wifi-booking">
                    <table width="100%" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="wifi">
                          <img class="wifi-img" src="/assets/icons/car.png" alt="car" />
                        </td>
                        <td class="text-left">
                          <p>
                            <b>From:</b>
                            {{ carDetail.start_date | moment("DD MMM YYYY") }}
                            <b>&nbsp;&nbsp;Till:</b>
                            {{ carDetail.end_date | moment("DD MMM YYYY") }}
                          </p>
                          <p>
                            <b>Duration:</b>
                            {{ carDetail.options.number_of_days }} days (10 hours/day)
                          </p>
                          <p>
                            <b>Pick up time:</b>
                            {{ carDetail.options.car_pick_up_at }} (Batam time)
                          </p>
									        <p>
                            <b>Pick up point:</b> 
                            Will wait for you at {{ order.options.car_checkpoint }}
                          </p>
                        </td>
                      </tr>
                    </table>
						        <br/>
                    <p>
							        Thank you for booking with us. We will contact you shortly for your driver detail.
                    </p>
                    <p class="text-blue f-bold">
                      Overtime fees of IDR50.000 per hour will apply if you exceed the duration of this charter service, payable directly to the driver.
                      <br>
                      <br>
                      For pick ups between 00:00-06:00 there will be a surcharge of IDR250.000 payable directly in cash to the driver.
                    </p>
                    <p class="mb-0 f-italic">
                      A admin charge of SGD 5 will be charged for any cancelations. Cancelation need to be made at least 72 hours prior to the activity, if not the full amount will be charged. Please email to 
                      <b>carcharter@horizonfastferry.com</b>
                    </p>
                  </div>
                </template>
                <template v-else-if="carDetail && carDetail.status == 5">
                  <div class="alert alert-danger">
                    <h5 class="text-center f-super-bold text-red mb-0">
                      Car charter failed due to insufficient fund
                      <br />
                      <small>(Your credit card will not be charged)</small>
                    </h5>
                  </div>
                </template>
              </div>
              <div class="mt-5 px-4">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <p class="text-blue f-super-bold">Singapore Ticketing & Check-in Counter</p>
                    <p class>
                      <b>Address:</b> 1 Maritime Square #03-47, Harbourfront Centre, Singapore 099253
                    </p>
                    <p class>
                      <b>Operation Hours:</b> 7.00am to 9.35pm
                    </p>
                    <p class>
                      <b>Phone:</b> +65 6276 6711
                    </p>
                    <p class>
                      <b>Email:</b> hff@horizonfastferry.com
                    </p>
                  </div>
                  <div class="col-12 col-md-6">
                    <p class="text-blue f-super-bold">Batam Ticketing & Check-in Counter</p>
                    <p class>
                      <b>Address:</b> 2nd Level, Bayfront @Harbour Bay, Unit 02-10
                    </p>
                    <p class>
                      <b>Operation Hours (ID Time):</b> 5.30am to 9.00pm
                    </p>
                    <p class>
                      <b>Phone:</b> +62 778 741 5100
                    </p>
                    <p class>
                      <b>Email:</b> batam@horizonfastferry.com
                    </p>
                  </div>
                </div>
              </div>
              <router-link :to="{ name: 'dashboard' }">
                <span class="mb-0 text-blue">
                  <u>Go back to home</u>
                </span>
              </router-link>
            </div>
          </template>
          <template v-else-if="order.status == 3">
            <div class="mt-4 mb-5">
              <p
                class="h-4 f-bold mb-3"
              >{{ order.options.cancel_reason ? order.options.cancel_reason : 'Unkown Issue, Please Contact Us' }}</p>
              <router-link :to="{ name: 'dashboard' }">
                <span class="mb-0 text-blue">
                  <u>Go back to home</u>
                </span>
              </router-link>
            </div>
          </template>
          <template v-else>
            <div class="row mt-4 mb-5">
              <div class="col">
                <p class="f-secondary text-blue fs-7 f-bold mb-3">Payment Details</p>
                <div class="mb-5">
                  <div class="border outline-grey px-5 py-3 mb-4">
                    <div class="row">
                      <div class="col-7">
                        <p class="f-super-bold mb-2">Reference no:</p>
                        <template v-if="departDetails && departDetails.length > 0">
                          <p class="mb-2">Ferry Fare for {{ bookingSummary.total_adult }} Adult(s):</p>
                          <p
                            v-if="bookingSummary.total_infant"
                            class="mb-2"
                          >Ferry Fare for {{ bookingSummary.total_infant }} Infant(s):</p>
                        </template>
                        <template v-if="wifiDetail">
                          <p class="mb-2">Wifi Rental Price per device & day:</p>
                          <p class="mb-2">Wifi Rental Day(s):</p>
                          <p class="mb-2">Wifi Rental Device(s):</p>
                        </template>
                        <template v-if="carDetail">
                          <p class="mb-2">Car Charter Total:</p>
                        </template>
                        <p class="f-super-bold mb-0">Grand Total:</p>
                      </div>
                      <div class="col-5">
                        <p class="f-super-bold mb-2">{{ order.reference_number }}</p>
                        <template v-if="departDetails && departDetails.length > 0">
                          <p
                            class="mb-2"
                          >{{ bookingSummary.total_adult_ticket_price | currency('S$', 2) }}</p>
                          <p
                            v-if="bookingSummary.total_infant"
                            class="mb-2"
                          >{{ bookingSummary.total_infant_ticket_price | currency('S$', 2) }}</p>
                        </template>
                        <template v-if="wifiDetail">
                          <p
                            class="mb-2"
                          >{{ (wifiDetail.price / wifiDetail.options.number_of_days) | currency('S$', 2) }}</p>
                          <p
                            class="mb-2"
                          >{{ wifiDetail.options && wifiDetail.options.number_of_days ? wifiDetail.options.number_of_days : 'unknown' }}</p>
                          <p class="mb-2">{{ wifiDetail.quantity }}</p>
                        </template>
                        <template v-if="carDetail">
                          <p class="mb-2">{{ carDetail.total | currency('S$', 2) }}</p>
                        </template>
                        <p class="f-super-bold mb-0">{{ order.total | currency('S$', 2) }}</p>
                      </div>
                    </div>
                    <!-- <div class="d-flex">
                                            <p class="mb-0">Status: <span class="text-blue f-bold">{{ order.status_string }}</span></p>
                                            <div class="ml-auto"><a class="pointer text-blue f-bold" @click="reloadOrder">Click to Reload <font-awesome-icon icon="sync"></font-awesome-icon></a></div>
                    </div>-->
                  </div>
                </div>
                <p class="f-secondary text-red fs-7 f-bold mb-3">Contact Person</p>
                <div class="border border-red outline-red px-5 py-3 mb-4">
                  <div class="row">
                    <div class="col-7">
                      <p class="f-super-bold mb-2">Email:</p>
                      <p class="mb-0">Phone No:</p>
                    </div>
                    <div class="col-5">
                      <p class="mb-2">{{ order.contact_person.email }}</p>
                      <p class="mb-0">{{ order.contact_person.phone_number }}</p>
                    </div>
                  </div>
                </div>
                <div v-for="(departDetail, i) in departDetails" v-bind:key="i" class="mb-4">
                  <div class="border border-blue outline-blue">
                    <div
                      class="d-flex align-items-center p-3 border-bottom border-blue bg-light-grey"
                    >
                      <img
                        v-if="departDetail.passenger.type === PassengerType.ADULT"
                        class="booking-passenger-img"
                        src="/assets/images/booking/passenger.png"
                        alt
                      />
                      <img
                        v-if="departDetail.passenger.type === PassengerType.INFANT"
                        class="booking-passenger-img"
                        src="/assets/images/booking/infant.png"
                        alt
                      />
                      <p
                        class="fs-2 f-super-bold text-blue mb-0"
                      >Passenger - {{ PassengerType.getString(departDetail.passenger.type) }}</p>
                    </div>
                    <div class="py-3 px-5">
                      <p class="mb-2 text-uppercase fs-1">{{ departDetail.passenger.name }}</p>
                      <div class="row fs-0">
                        <div class="col-5">
                          <p class="mb-0">
                            Passport No:
                            <span
                              class="text-blue f-super-bold"
                            >{{ departDetail.passenger.passport_number }}</span>
                          </p>
                        </div>
                        <div class="col-7">
                          <p class="mb-0">
                            Expiry Date:
                            <span
                              class="text-blue f-super-bold"
                            >{{ departDetail.passenger.passport_expiry | moment("DD/MM/YY") }}</span>
                          </p>
                        </div>
                      </div>
                      <!-- <div class="d-flex my-4" v-if="order.status == 2">
                                                <p class="mb-0 text-uppercase">BOARDING PASS&nbsp;</p>
                                                <p class="mb-0 text-uppercase text-green boarding-pass-number ml-auto"><b>{{ departDetail.options.boarding_pass_number }}</b></p>
                      </div>-->
                      <!-- <div class="d-flex mb-2">
                                                <p class="mb-0">Passport No&nbsp;</p>
                                                <p class="mb-0 text-blue ml-auto f-bold">{{ departDetail.passenger.passport_number }}</p>
                                            </div>
                                            <div class="d-flex mb-0">
                                                <p class="mb-0">Expiry Date&nbsp;</p>
                                                <p class="mb-0 text-blue ml-auto f-bold">{{ departDetail.passenger.passport_expiry | moment("DD-MM-YYYY") }}</p>
                      </div>-->
                      <!-- <div class="d-flex mt-3 mb-0" v-if="order.status == 2 && 'error_description' in departDetail.options">
                                                <p class="mb-0 text-red">{{ departDetail.options.error_description }}</p>
                      </div>-->
                    </div>
                  </div>
                </div>
                <div class="mb-5">
                  <div v-if="order.status == 1" class="d-inline-flex mb-5">
                    <input
                      v-model="accept"
                      id="accept"
                      type="checkbox"
                      class="mr-2 horizon blue pointer"
                    />
                    <label
                      for="accept"
                      class="mb-0 text-blue pointer"
                    >I understand and accept all rules and conditions associated with this fare</label>
                  </div>
                  <button
                    v-if="order.status == 1"
                    :disabled="!accept"
                    v-on:click="this.continuePaymentClick"
                    class="btn btn-blue btn-block py-4 fs-3"
                    data-toggle="modal"
                    data-target="#secureModal"
                  >Continue Payment</button>
                  <!-- <button v-if="order.status == 1" :disabled="!accept" @click="payment" class="btn btn-blue btn-block py-4 fs-3">Continue Payment</button> -->
                </div>
              </div>
              <div class="col booking-summary">
                <div class="sticky-summary">
                  <div class="border border-red mb-5">
                    <div class="bg-light-red py-1 px-4">
                      <p class="text-center f-secondary text-blue f-bold mb-0 fs-5">Summary</p>
                    </div>
                    <div class="p-3">
                      <div class="mb-4">
                        <template v-if="departDetails && departDetails.length > 0">
                          <div>
                            <p class="f-bold text-blue mb-2">Ferry ticket(s)</p>
                            <div class="d-flex justify-content-between mb-1">
                              <p class="text-blue mb-0">Passengers(s)</p>
                              <p class="mb-0">{{ bookingSummary.total_adult }} Adult(s)</p>
                            </div>
                            <div
                              v-if="bookingSummary.total_infant"
                              class="d-flex justify-content-between mb-1"
                            >
                              <p class="text-blue mb-0"></p>
                              <p class="mb-0">{{ bookingSummary.total_infant }} Infant(s)</p>
                            </div>
                            <div class="d-flex justify-content-between mb-1">
                              <p class="text-blue mb-0">Ticket price</p>
                              <p
                                class="mb-0"
                              >{{ bookingSummary.total_ticket_price | currency('S$', 2) }}</p>
                            </div>
                            <div class="d-flex justify-content-between mb-1">
                              <p class="text-blue mb-0">Surcharge(s)</p>
                              <p
                                class="mb-0"
                              >{{ bookingSummary.total_surcharge | currency('S$', 2) }}</p>
                            </div>
                            <div class="d-flex justify-content-between mb-1">
                              <p class="text-blue mb-0">Terminal Fee(s)</p>
                              <p
                                class="mb-0"
                              >{{ bookingSummary.total_terminal_fee | currency('S$', 2) }}</p>
                            </div>
                          </div>
                          <hr />
                        </template>
                        <template v-if="wifiDetail">
                          <div>
                            <p class="f-bold text-blue mb-2">Wifi Rental</p>
                            <div class="d-flex justify-content-between mb-1">
                              <p
                                class="text-blue mb-0"
                              >{{ daysBetween(wifiDetail.start_date, wifiDetail.end_date) }} days unlimited</p>
                              <p
                                class="mb-0"
                              >{{ wifiDetail.quantity * wifiDetail.price | currency('S$', 2) }}</p>
                            </div>
                            <div class="d-flex justify-content-between mb-1">
                              <p class="text-blue mb-0">No. of devices</p>
                              <p class="mb-0">{{ wifiDetail.quantity }}</p>
                            </div>
                            <!-- <div v-if="bookingSummary.refundable_deposit != 0" class="d-flex justify-content-between mb-1">
                                <p class="text-red mb-0">Refundable Deposit</p>
                                <p class="text-red mb-0">{{ bookingSummary.refundable_deposit | currency('S$', 2) }}</p>
                            </div>-->
                          <hr />
                          </div>
                        </template>
                        <template v-if="carDetail">
                          <div>
                            <p class="f-bold text-blue mb-2">Car Charter ({{ order.options.selected_car == 'car_5_seater' ? '5' : '10' }} seater)</p>
                            <div class="d-flex justify-content-between mb-1">
                              <p class="text-blue mb-0">{{ daysBetween(order.options.car_start_date, order.options.car_end_date) }} days (10 hrs/day)</p>
                              <p class="mb-0">{{ carDetail.total | currency('S$', 2) }}</p>
                            </div>
                          </div>
                          <hr />
                        </template>
                      </div>
                      <div
                        class="bg-red text-white p-3 d-flex align-items-center justify-content-center"
                        :class="departDetails && departDetails.length > 0 ? 'mb-4' : ''"
                      >
                        <div class="mr-1 f-bold">GRAND TOTAL</div>
                        <div class="f-secondary fs-3xl mx-1">{{ order.total | currency('S$', 2) }}</div>
                      </div>
                      <template v-if="departDetails && departDetails.length > 0">
                        <div>
                          <div class="mb-4">
                            <p class="f-super-bold text-blue mb-2">
                              DEPART TRIP
                              <span
                                class="text-black f-bold"
                              >({{ order.options.departure_from == 'batam' ? 'ID time' : 'SG time' }})</span>
                            </p>
                            <p
                              class="f-bold mb-1"
                            >{{ order.options.departure_date | moment("ddd, D MMM YYYY") }}</p>
                            <p class="mb-0">
                              <span class="f-bold">
                                <span>{{ order.options.departure_time }}</span>
                              </span>
                              <span class="label label-red">
                                <span
                                  class="f-bold"
                                >{{ order.options.departure_from == 'batam' ? 'BTM' : 'SG' }}</span>
                                {{ order.options.departure_from == 'batam' ? 'Harbour Bay' : 'HarbourFront' }}
                              </span>
                            </p>
                            <p class="mb-1 text-red fs-5 text-center">
                              <font-awesome-icon icon="caret-down"></font-awesome-icon>
                            </p>
                            <p class="mb-1">
                              <span class="f-bold">
                                <span>{{ createDate(order.options.departure_time) }}</span>
                              </span>
                              <span class="label label-red">
                                <span
                                  class="f-bold"
                                >{{ order.options.return_from == 'batam' ? 'BTM' : 'SG' }}</span>
                                {{ order.options.return_from == 'batam' ? 'Harbour Bay' : 'HarbourFront' }}
                              </span>
                            </p>
                            <p class="mb-1">Class {{ TicketType.getString(order.options.type) }}</p>
                          </div>
                          <div v-if="order.options.two_way" class>
                            <p class="f-super-bold text-blue mb-2">
                              RETURN TRIP
                              <span
                                class="text-black f-bold"
                              >({{ order.options.return_from == 'batam' ? 'ID time' : 'SG time' }})</span>
                            </p>
                            <p
                              class="f-bold mb-1"
                            >{{ order.options.return_date | moment("ddd, D MMM YYYY") }}</p>
                            <p class="mb-0">
                              <span class="f-bold">
                                <span>{{ order.options.return_time }}</span>
                              </span>
                              <span class="label label-red">
                                <span
                                  class="f-bold"
                                >{{ order.options.return_from == 'batam' ? 'BTM' : 'SG' }}</span>
                                {{ order.options.return_from == 'batam' ? 'Harbour Bay' : 'HarbourFront' }}
                              </span>
                            </p>
                            <p class="mb-1 text-red fs-5 text-center">
                              <font-awesome-icon icon="caret-down"></font-awesome-icon>
                            </p>
                            <p class="mb-1">
                              <span class="f-bold">
                                <span>{{ createDate(order.options.return_time) }}</span>
                              </span>
                              <span class="label label-red">
                                <span
                                  class="f-bold"
                                >{{ order.options.departure_from == 'batam' ? 'BTM' : 'SG' }}</span>
                                {{ order.options.departure_from == 'batam' ? 'Harbour Bay' : 'HarbourFront' }}
                              </span>
                            </p>
                            <p class="mb-1">Class {{ TicketType.getString(order.options.type) }}</p>
                          </div>
                        </div>
                      </template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </template>
        </template>
        <template v-else>
          <div class="py-5 text-center">
            <div v-if="searched">
              <p class="fs-3xl f-light mb-0">Order Not Found</p>
              <hr class="my-5">
            </div>
            <p class="text-blue f-secondary fs-xxl">Find my bookings</p>
            <div class="find-bookings-wrapper">
              <div class="text-left form-group vuelidate" :class="{ 'form-group-error': $v.referenceNumber.$error }">
                <label for="referenceNumber" class="f-bold text-blue">Reference Number</label>
                <label class="select-block big-block half-opacity-pc pc-right grey with-input">
                  <input v-model.trim.lazy="$v.referenceNumber.$model" id="referenceNumber" class="horizon" type="text" placeholder="H..." spellcheck="false">
                </label>
                <p v-if="!$v.referenceNumber.required" class="status-text">{{ $t('vue-validation.required', {attribute: 'Reference number'}) }}</p>
              </div>
              <div class="text-left mb-0 form-group vuelidate" :class="{ 'form-group-error': $v.email.$error }">
                <label for="email" class="f-bold text-blue">Email</label>
                <label class="select-block big-block half-opacity-pc pc-right grey with-input">
                  <input v-model.trim.lazy="$v.email.$model" id="email" class="horizon" type="text" placeholder="Example@mail.com">
                </label>
                <p v-if="!$v.email.required" class="status-text">{{ $t('vue-validation.required', {attribute: 'Email'}) }}</p>
                <p v-if="!$v.email.email" class="status-text">{{ $t('vue-validation.email', {attribute: 'Email'}) }}</p>
              </div>
              <div class="find-bookings-btn">
                <button class="btn btn-blue f-bold" @click="findOrder">
                  <font-awesome-icon icon="search"></font-awesome-icon> Find My Order
                </button>
              </div>
            </div>
          </div>
        </template>
      </div>
    </template>
    <div class="modal fade" id="secureModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header bg-success rounded-0 border-0 justify-content-center">
            <h4 class="font-weight-bold my-0 text-white">Checkout</h4>
          </div>
          <div class="modal-body border-0">
            <div class="payment-cell example example2" id="example-2">
              <form action="#" v-on:submit="continuePayment">
                <div data-locale-reversible>
                  <div class="row">
                    <div class="field half-width">
                      <input
                        id="cardholder-name"
                        data-tid="elements_examples.form.name_placeholder"
                        class="input empty"
                        type="text"
                        placeholder="Cardholder Name"
                        required
                        autocomplete="name"
                        name="cardholder_name"
                      />
                      <label
                        for="cardholder-name"
                        data-tid="elements_examples.form.name_label"
                      >Name</label>
                      <div class="baseline"></div>
                    </div>
                    <div class="field half-width">
                      <input
                        id="cardholder-email"
                        data-tid="elements_examples.form.email_placeholder"
                        class="input empty"
                        type="email"
                        placeholder="Email Address"
                        required
                        autocomplete="email"
                        name="cardholder_email"
                      />
                      <label
                        for="cardholder-email"
                        data-tid="elements_examples.form.email_label"
                      >Email</label>
                      <div class="baseline"></div>
                    </div>
                  </div>
                </div>
                <div class="row flex-wrap flex-md-nowrap">
                  <div class="field credit-card-wrapper">
                    <div id="card-element" class="input empty"></div>
                    <label
                      for="card-element"
                      data-tid="elements_examples.form.card_label"
                    >Credit or Debit Card</label>
                    <div class="baseline"></div>
                  </div>
                  <div class="field postal-code-wrapper">
                    <input id="postal-code" data-tid="elements_examples.form.postal_code_placeholder" class="input empty" name="postal-code" type="text" placeholder="Postal Code" required="" autocomplete="postal-code">
                    <label for="postal-code" data-tid="elements_examples.form.postal_code_label">Postal Code</label>
                    <div class="baseline"></div>
                  </div>
                </div>
                <div class="alert alert-danger d-none" id="card-errors"></div>
                <button type="submit" data-tid="elements_examples.form.pay_button">Pay {{ order ? order.total : 0 | currency('S$', 2) }}</button>
              </form>
              <div class="success">
                <div class="icon">
                  <svg width="84px" height="84px" viewBox="0 0 84 84" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <circle class="border" cx="42" cy="42" r="40" stroke-linecap="round" stroke-width="4" stroke="#000" fill="none"></circle>
                    <path class="checkmark" stroke-linecap="round" stroke-linejoin="round" d="M23.375 42.5488281 36.8840688 56.0578969 64.891932 28.0500338" stroke-width="4" stroke="#000" fill="none"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer border-0 powered-by">
              <div class="">
                <span>
                  Powered by
                </span>
                <img width="55" src="/assets/images/stripe-blue.svg" alt="stripe-logo">
              </div>
              <div class="supported-card">
                <img height="20" src="/assets/images/visa-logo.png" alt="">
                <img height="30" class="ml-1" src="/assets/images/master-card-logo.png" alt="">
                <img height="30" class="ml-1" src="/assets/images/american-express-logo.png" alt="">
              </div>
          </div>
          <!-- <div class="modal-body">
              <div class="row">
                  <div class="col-12 col-md-6 d-flex flex-column" v-if="order">
                      <template v-if="departDetails && departDetails.length > 0">
                          <p class="text-grey f-bold fs-2 mb-1">
                              {{ `Ferry Ticket - ${bookingSummary.total_adult} Adult(s)` + (bookingSummary.total_infant ? ` ${bookingSummary.total_infant} Infant(s)` : '') }}
                          </p>
                      </template>
                      <template v-else>
                          <p class="text-grey f-bold fs-2 mb-1">
                              {{ `Wifi Rent - ${wifiDetail.quantity} Device(s)` }}
                          </p>
                      </template>
                      <h1 class="font-weight-bold">{{ order.total | currency('S$', 2) }}</h1>
                      <p class="text-grey mt-auto mb-0">Powered by <img width="55" style="margin-bottom: 2px;margin-left: -4px;" src="/assets/images/stripe-blue.svg" alt="stripe-logo"></p>
                  </div>
                  <div class="col-12 col-md-6">
                      <h4 class="f-bold mb-4">Pay with card</h4>
                      <form action="#" v-on:submit="continuePayment">
                          <div class="form-group">
                              <label for="cardholder-email">
                                  Email
                              </label>
                              <input class="form-control horizon" type="text" name="email_el" id="cardholder-email" placeholder="youremail@email.com">
                          </div>
                          <div class="form-group">
                              <label for="card-element">
                                  Credit or debit card
                              </label>
                              <div id="card-element" class="form-control rounded-0 border-blue "></div>
                          </div>
                          <div class="alert alert-danger d-none" id="card-errors"></div>
                          <div class="form-group">
                              <label for="cardholder-name">
                                  Name on card
                              </label>
                              <input class="form-control horizon" type="text" name="cardholder_name" id="cardholder-name" placeholder="Name">
                          </div>
                          <button class="btn btn-block btn-blue btn-lg f-bold fs-2" style="margin-top: 30px" type="submit">Pay {{ order ? order.total : 0 | currency('S$', 2) }}</button>
                      </form>
                  </div>
              </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PassengerType from "../../enums/PassengerType";
import TicketType from "../../enums/TicketType";
import LoadingComponent from "../Loading/LoadingComponent.vue";
import { required, email } from "vuelidate/lib/validators";

export default {
  props: ["user", "token", "bus"],
  data() {
    return {
      PassengerType: PassengerType,
      TicketType: TicketType,
      loading: false,
      loadingText: "Loading...",
      fullscreen: false,
      order: null,
      departDetails: null,
      returnDetails: null,
      wifiDetail: null,
      carDetail: null,
      bookingSummary: null,
      referenceNumber: this.$route.query.reference_number,
      email: this.$route.query.email,
      searched: false,
      stripeHandler: null,
      stripeV3: null,
      checkStripeInterval: null,
      accept: false,
      wifiPenaltyPrice: 0,
      cardElement: null
    };
  },
  created() {
    let self = this;
    if (this.referenceNumber && this.email)
      this.searchOrder(this.referenceNumber, this.email);
    if (window.StripeCheckout === undefined) {
      this.checkStripeInterval = setInterval(function() {
        self.loadStripeHandler();
      }, 500);
    } else {
      this.loadStripeHandler();
    }

    $(document).ready(function() {
      self.loadStripeV3();
      $("#secureModal").on("shown.bs.modal", function() {
        $("input:text:visible:first", this).focus();
      });
    });

    // window.addEventListener('beforeunload', this.beforeUnload);
    // window.addEventListener('unload', this.unload);
  },
  validations: {
    referenceNumber: {
      required
    },
    email: {
      required,
      email
    }
  },
  mounted() {
    //
  },
  destroyed() {
    this.stripeHandler.close();
  },
  methods: {
    loadStripeHandler() {
      let self = this;
      this.stripeHandler = StripeCheckout.configure({
        key: "pk_test_NE4cTL2L0D7t6tFtmACY1luo",
        image: "https://stripe.com/img/documentation/checkout/marketplace.png",
        locale: "auto",
        token: function(token, args) {
          // console.log('token', token);
          self.stripeCharge(token.id, token.email, token.card, args);
          // You can access the token ID with `token.id`.
          // Get the token ID to your server-side code for use.
        }
      });
      if (this.checkStripeInterval !== null) {
        clearInterval(this.checkStripeInterval);
      }
    },
    reloadOrder() {
      this.searchOrder(this.referenceNumber, this.email);
    },
    searchOrder(referenceNumber, email) {
      this.loading = true;
      window.axios
        .get(
          this.$root.api.searchOrder +
            `?reference_number=${referenceNumber}&email=${email}`
        )
        .then(
          response => {
            let res = response.data;
            this.order = res.data.order;
            this.departDetails = res.data.departDetails;
            this.returnDetails = res.data.returnDetails;
            this.bookingSummary = res.data.bookingSummary;
            this.wifiDetail = res.data.wifiDetail;
            this.carDetail = res.data.carDetail;
            this.wifiPenaltyPrice = res.data.wifiPenaltyPrice;

            this.loading = false;
            this.searched = true;
          },
          error => {
            this.loading = false;
            this.searched = true;
          }
        );
    },
    loadStripeV3() {
      this.stripeV3 = Stripe(window.stripeKey);
      var elements = this.stripeV3.elements({
        fonts: [
          {
            cssSrc: "https://fonts.googleapis.com/css?family=Source+Code+Pro"
          }
        ],
      });
      // Floating labels
      var inputs = document.querySelectorAll(".payment-cell.example.example2 .input");
      Array.prototype.forEach.call(inputs, function(input) {
        input.addEventListener("focus", function() {
          input.classList.add("focused");
        });
        input.addEventListener("blur", function() {
          input.classList.remove("focused");
        });
        input.addEventListener("keyup", function() {
          if (input.value.length === 0) {
            input.classList.add("empty");
          } else {
            input.classList.remove("empty");
          }
        });
      });

      var elementStyles = {
        base: {
          color: "#32325D",
          fontWeight: 500,
          fontFamily: "Source Code Pro, Consolas, Menlo, monospace",
          fontSize: "16px",
          fontSmoothing: "antialiased",
          "::placeholder": {
            color: "#CFD7DF"
          },
          ":-webkit-autofill": {
            color: "#e39f48"
          }
        },
        invalid: {
          color: "#E25950",

          "::placeholder": {
            color: "#FFCCA5"
          }
        }
      };

      var elementClasses = {
        focus: "focused",
        empty: "empty",
        invalid: "invalid"
      };

      var card = elements.create("card", {
        style: elementStyles,
        classes: elementClasses,
        hidePostalCode: true
      });
      this.cardElement = card;
      card.mount("#card-element");

      card.addEventListener("change", function(event) {
        var displayError = document.getElementById("card-errors");
        if (event.error) {
          displayError.textContent = event.error.message;
          displayError.classList.add("d-block");
        } else {
          displayError.textContent = "";
          displayError.classList.remove("d-block");
        }
      });
    },
    // cancelOrder(orderId, referenceNumber, email) {
    //     this.loading = true;
    //     let data = {
    //         'order_id': String(orderId),
    //         'reference_number': referenceNumber
    //     };

    //     console.log('cancelling order');

    //     window.axios.post(this.$root.api.cancelOrder, data)
    //         .then((response)  =>  {
    //             let res = response.data;
    //             console.log('success', res);
    //             this.order = res.data.order;

    //             this.loading = false;
    //             // this.searched = true;
    //         }, (error) => {
    //             console.log('error', error);
    //             this.loading = false;
    //             // this.searched = true;
    //         });
    // },
    findOrder() {
      if (this.validateForm()) return;
      this.searchOrder(this.referenceNumber, this.email);
      this.$router.push({
        query: { reference_number: this.referenceNumber, email: this.email }
      });
    },
    validateForm: function() {
      this.$v.$touch();
      return this.$v.$invalid;
    },
    continuePayment(event) {
      event.preventDefault();
      let self = this;
      var cardholderName = document.getElementById("cardholder-name");
      var cardholderEmail = document.getElementById("cardholder-email");
      var postalCode = document.getElementById("postal-code");
      var clientSecret = this.order.payment.client_secret;
      $('#example-2').addClass('submitting');
      this.stripeV3
        .handleCardPayment(clientSecret, self.cardElement, {
          payment_method_data: {
            billing_details: {
              name: cardholderName.value,
              email: cardholderEmail.value,
              address: {
                postal_code: postalCode.value,
              },
            }
          }
        })
        .then(function(result) {
          $('#example-2').removeClass('submitting');
          if (result.error) {
            self.bus.$emit("error", result.error);
            // Display error.message in your UI.
          } else {
            // The payment has succeeded. Display a success message.
            $("#secureModal").modal("hide");
            self.confirmPayment(
              result,
              cardholderEmail.value,
              cardholderName.value
            );
          }
        });
    },
    confirmPayment(result, email, name) {
      this.fullscreen = true;
      this.loading = true;
      this.loadingText =
        "Please do not close or refresh your browser! We are processing your booking.<br>It may take up to <b><u>5 min</u></b>.";
      var data = {
        order_id: this.order.id,
        response: JSON.stringify(result),
        email: email,
        name: name
      };
      window.axios.post(this.$root.api.stripePaymentIntent, data).then(
        response => {
          let res = response.data;
          let resOrder = res.data.order;

          this.reloadOrder();
          this.fullscreen = false;
          // this.loading = false;
          this.loadingText = "Loading...";
        },
        error => {
          this.reloadOrder();
          this.fullscreen = false;
          // this.loading = false;
          this.loadingText = "Loading...";
          this.bus.$emit("error", error);
        }
      );
    },
    payment() {
      if (!this.accept) {
        return;
      }

      let self = this;
      // let snapToken = this.order.options.snap_token;
      let snapToken;
      if (snapToken) {
        snap.pay(snapToken, {
          onSuccess: function(result) {
            console.log("success");
            console.log(result);
            console.log(self.bus);
            self.bus.$emit("success", result.status_message);
            self.reloadOrder();
          },
          onPending: function(result) {
            console.log("pending");
            console.log(result);
          },
          onError: function(result) {
            console.log("error");
            console.log(result);
          },
          onClose: function() {
            console.log(
              "customer closed the popup without finishing the payment"
            );
          }
        });
      } else {
        this.stripeHandler.open({
          name: "Horizon Fast Ferry",
          description: "",
          currency: "sgd",
          amount: this.order.total * 100
        });
      }
    },
    stripeCharge(token, email, card, args) {
      this.fullscreen = true;
      this.loading = true;
      this.loadingText =
        "Please do not close or refresh your browser! We are processing your booking.<br>It may take up to <b><u>5 min</u></b>.";
      let data = {
        order_id: this.order.id,
        token: token,
        email: email,
        card: card
      };
      window.axios.post(this.$root.api.stripeCharge, data).then(
        response => {
          let res = response.data;
          let resOrder = res.data.order;

          if (resOrder.status == 2) {
            this.gtag_report_conversion(resOrder.id);
          }
          this.reloadOrder();
          this.fullscreen = false;
          // this.loading = false;
          this.loadingText = "Loading...";
        },
        error => {
          this.reloadOrder();
          this.fullscreen = false;
          // this.loading = false;
          this.loadingText = "Loading...";
          this.bus.$emit("error", error);
        }
      );
    },
    createDate(time) {
      let createdDate = moment("1970-01-01 " + time)
        .add(1, "hours")
        .format("HH:mm");
      return createdDate;
    },
    daysBetween(date1, date2) {
      var a = moment(date1);
      var b = moment(date2);
      return b.diff(a, "days") + 1;
    },
    print() {
      window.print();
    },
    continuePaymentClick(e) {
      console.log('running gtag report conversion');
      return this.gtag_report_conversion();
    },
    gtag_report_conversion(orderId = null) {
      let asd = gtag('event', 'conversion', {
        'send_to': 'AW-772522198/P5TTCOiJv5oBENaBr_AC',
        'transaction_id': orderId
      });
      console.log('Runned with response', asd);
    },
    // gtag_report_conversion(url) {
    // var callback = function () {
    //   if (typeof(url) != 'undefined') {
    //     window.location = url;
    //   }
    // };
    // gtag('event', 'conversion', {
    //     'send_to': 'AW-772522198/P5TTCOiJv5oBENaBr_AC',
    //     'transaction_id': '',
    //     'event_callback': callback
    // });
  //   return false;
  // }
  },
  components: {
    LoadingComponent
  }
};
</script>
