<template>
    <div class="sticky-summary">
        <div class="border border-red mb-5">
            <div class="bg-light-red py-1 px-4">
                <p class="text-center f-secondary text-blue f-bold mb-0 fs-5">Summary</p>
            </div>
            <div class="p-3">
                <div class="mb-4">
                    <div>
                        <p class="f-bold text-blue mb-2">Wifi Rental</p>
                        <div class="d-flex justify-content-between mb-1">
                            <p class="text-blue mb-0">{{ daysBetween(bookingWifi.wifiRentalDate[0], bookingWifi.wifiRentalDate[1]) }} days unlimited</p>
                            <p class="mb-0">{{ totalWifiPrice | currency('S$', 2) }}</p>
                        </div>
                        <div class="d-flex justify-content-between mb-1">
                            <p class="text-blue mb-0">No. of devices</p>
                            <p class="mb-0">{{ bookingWifi.noOfDevices }}</p>
                        </div>
                        <div class="d-flex justify-content-between mb-1">
                            <p class="text-blue mb-0">From:</p>
                            <p class="mb-0">{{ bookingWifi.wifiRentalDate[0] | moment('DD MMM YYYY') }}</p>
                        </div>
                        <div class="d-flex justify-content-between mb-1">
                            <p class="text-blue mb-0">Till:</p>
                            <p class="mb-0">{{ bookingWifi.wifiRentalDate[1] | moment('DD MMM YYYY') }}</p>
                        </div>
                        <!-- <div v-if="wifiRefundableDeposit != 0" class="d-flex justify-content-between mb-1">
                            <p class="text-red mb-0">Refundable Deposit</p>
                            <p class="text-red mb-0">{{ wifiRefundableDeposit | currency('S$', 2) }}</p>
                        </div> -->
                    </div>
                </div>
                <div class="bg-red text-white p-3 d-flex align-items-center justify-content-center">
                    <div class="mr-1 f-bold">TOTAL</div>
                    <div class="f-secondary fs-3xl mx-1">{{ total | currency('S$', 2) }}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['bookingWifi', 'wifiPrice'],
        computed: {
            totalWifiPrice: function() {
                return this.bookingWifi.noOfDevices * this.wifiPrice * this.daysBetween(this.bookingWifi.wifiRentalDate[0], this.bookingWifi.wifiRentalDate[1])
            },
            total: function() {
                let result = Number(this.totalWifiPrice);
                return result;
            },
        },
        methods: {
            daysBetween(date1, date2) {
                var a = moment(date1);
                var b = moment(date2);
                return b.diff(a, 'days') + 1
            },
        }
    }
</script>
