<template>
    <div>
        <div class="border border-blue mb-4">
            <div class="bg-dark-blue px-4 py-2">
                <p class="mb-0 text-white f-bold">Booking Requirement</p>
            </div>
            <div class="p-4">
                <p class="text-grey">Your contact information is required for notifications e.g trip amendments, booking cancellations, travel insurance details, exclusive deals, etc.</p>
                <div class="row form-group">
                    <div class="col-12 mb-2 mb-xl-0 col-xl-6">
                        <label for="emailAddress" class="f-bold">Email Address</label>
                        <input autocomplete="off" id="emailAddress" v-model="contactPerson.emailAddress" v-on:change="updateContactPerson('emailAddress', $event.target.value)" class="form-control horizon" type="text" placeholder="me@email.com">
                        <p class="status-text">{{ contactPerson.errors.emailAddress }}</p>
                    </div>
                    <div class="col-12 mb-2 mb-xl-0 col-xl-6">
                        <label for="confirmEmailAddress" class="f-bold">Confirm email address</label>
                        <input autocomplete="off" id="confirmEmailAddress" v-model="contactPerson.confirmEmailAddress" v-on:change="updateContactPerson('confirmEmailAddress', $event.target.value)" class="form-control horizon" type="text" placeholder="retype@gmail.com">
                        <p class="status-text">{{ contactPerson.errors.confirmEmailAddress }}</p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12 col-xl-6">
                        <label for="mobile" class="f-bold">Mobile</label>
                        <input autocomplete="off" id="mobile" v-model="contactPerson.mobile" v-on:change="updateContactPerson('mobile', $event.target.value)" class="form-control horizon" type="text">
                        <p class="status-text">{{ contactPerson.errors.mobile }}</p>
                    </div>
                </div>
                <p class="text-grey mb-0">Country Code + Mobile number, ex: +65123456789</p>
            </div>
        </div>
        <div class="">
            <div class="border border-cream p-4 mt-4">
                <div class="d-flex align-items-center mb-3">
                    <img class="booking-passenger-img" src="/assets/images/booking/passenger.png" alt="">
                    <p class="f-secondary fs-7 text-blue mb-0">Passenger Information</p>
                </div>
                <div class="row form-group">
                    <!-- <div class="col-12 mb-2 mb-xl-0 col-xl-3">
                        <label :for="'adultPassportNumber' + i" class="f-bold">Passport No.</label>
                        <v-autocomplete :items="items" :min-len='0' v-model="passenger.passportNumber" :auto-select-one-item='false' @update-items='update' :get-label="getLabel" @item-selected="updateBookingDataByAutoComplete(i, $event)" @change="testt(i, $event)" :component-item='template' :input-attrs="{'class': 'form-control horizon'}"></v-autocomplete>
                        <p class="status-text">{{ passenger.errors.passportNumber }}</p>
                    </div> -->
                    <div class="col-12 mb-2 mb-xl-0 col-xl-4">
                        <label for="adultPassportName" class="f-bold">Name (As In Passport)</label>
                        <input autocomplete="off" v-model="passenger.name" v-on:change="updatePassenger('name', $event.target.value)" id="adultPassportName" class="form-control horizon" type="text">
                        <p class="status-text">{{ passenger.errors.name }}</p>
                    </div>
                    <div class="col-12 mb-2 mb-xl-0 col-xl">
                        <label for="adultNationality" class="f-bold">Nationality</label>
                        <model-select autocomplete="off" v-model="passenger.nationality" :options="countries" @input="updatePassenger('nationality', $event)" for="adultNationality" :class="'form-control border border-form rounded-0'"></model-select>
                        <p class="status-text">{{ passenger.errors.nationality }}</p>
                    </div>
                    <div class="col-12 mb-2 mb-xl-0 col-xl">
                        <label for="adultGender" class="f-bold">Gender</label>
                        <select v-model="passenger.gender" v-on:change="updatePassenger('gender', $event.target.value)" class="form-control horizon bordered">
                            <option value="0">Male</option>
                            <option value="1">Female</option>
                            <option value="2">Other</option>
                        </select>
                        <p class="status-text">{{ passenger.errors.gender }}</p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12 mb-2 mb-xl-0 col-xl-6">
                        <label class="f-bold">Date Of Birth</label>
                        <div class="row no-gutters">
                            <div class="col mb-0">
                                <select v-model="passenger.dobDay" v-on:change="updatePassenger('dobDay', $event.target.value)" class="form-control horizon bordered">
                                    <option value="" selected disabled>Day</option>
                                    <option v-for="(n, i) in 31" v-bind:key="i" :value="n >= 0 && n <= 9 ? '0' + n : n">{{ n }}</option>
                                </select>
                                <p class="status-text">{{ passenger.errors.dobDay }}</p>
                            </div>
                            <div class="col mb-0 ml-2">
                                <select v-model="passenger.dobMonth" v-on:change="updatePassenger('dobMonth', $event.target.value)" class="form-control horizon bordered">
                                    <option value="" selected disabled>Month</option>
                                    <option v-for="month in months" v-bind:key="month.value" :value="month.value">{{ month.text }}</option>
                                </select>
                                <p class="status-text">{{ passenger.errors.dobMonth }}</p>
                            </div>
                            <div class="col mb-0 ml-2">
                                <select v-model="passenger.dobYear" v-on:change="updatePassenger('dobYear', $event.target.value)" class="form-control horizon bordered dob-year">
                                    <option value="" selected disabled>Year</option>
                                    <!-- <option :value="year">{{ year }}</option>
                                    <option v-for="(n, i) in 100" v-bind:key="i" :value="year - n">{{ year - n }}</option> -->
                                </select>
                                <p class="status-text">{{ passenger.errors.dobYear }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-2 mb-xl-0 col-xl-6">
                        <label for="adultIssuingCountry" class="f-bold">Travel Document Issuing Country</label>
                        <model-select autocomplete="off" v-model="passenger.issuingCountry" :options="issuingCountries" @input="updatePassenger('issuingCountry', $event)" id="adultIssuingCountry" class="form-control border border-form rounded-0"></model-select>
                        <p class="status-text">{{ passenger.errors.issuingCountry }}</p>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</template>

<script>
    import PassengerType from '../../enums/PassengerType'
    import Autocomplete from 'v-autocomplete'
    import AutoCompleteTemplate from '../Booking/AutoCompleteTemplate.vue'
    import PassengerCollection from '../../collections/PassengerCollection'
    import Passenger from '../../models/PassengerTwo'
    import DatePicker from 'vue2-datepicker'
    import Countries from '../../../../../storage/app/public/country.json'
    import IssuingCountries from '../../../../../storage/app/public/issuing-country.json'
    import { ModelSelect } from 'vue-search-select'

    export default {
        props: ['bookingWifi', 'user', 'contactPerson', 'passenger', 'bus'],
        data() {
            let sortedCountries = Countries.sort(function (a, b) {
                return a.text.localeCompare(b.text);
            });
            return {
                PassengerType: PassengerType,
                suggestionPassengers: new PassengerCollection,
                template: AutoCompleteTemplate,
                suggestionPassportNumber: [],
                items: [],
                countries: sortedCountries,
                issuingCountries: IssuingCountries,
                ownedContactPersons: [],
                
                months: [
                    {value: '01', text: 'January'},
                    {value: '02', text: 'February'},
                    {value: '03', text: 'March'},
                    {value: '04', text: 'April'},
                    {value: '05', text: 'May'},
                    {value: '06', text: 'June'},
                    {value: '07', text: 'July'},
                    {value: '08', text: 'August'},
                    {value: '09', text: 'September'},
                    {value: '10', text: 'October'},
                    {value: '11', text: 'November'},
                    {value: '12', text: 'December'}
                ],
                year: moment().format('YYYY'),
            }
        },
        mounted() {
            let dobOptions = [];
            for (let i = 0; i <= 120; i++) {
                let dobOption = $("<option></option>").attr("value", this.year - i).text(this.year - i)
                dobOptions.push(dobOption);
            }
            $('.dob-year').append(dobOptions);

            if (this.user) {
                this.getContactPerson();
                this.getPassengers();
            }
            this.passenger.validate();
        },
        methods: {
            updateBookingData: function(field, val) {
                this.$emit('updateBookingData', field, val);
            },
            updatePassenger: function(field, val) {
                this.$emit('updatePassenger', field, val);
            },
            updateObjectPassenger: function(i, val) {
                this.$emit('updateObjectPassenger', i, val);
            },
            updateContactPerson: function(field, val) {
                this.$emit('updateContactPerson', field, val);
            },
            setDefaultContactPerson() {
                if (Array.isArray(this.ownedContactPersons) && this.ownedContactPersons.length > 0) {
                    let contactPerson = this.ownedContactPersons[0];
                    this.contactPerson.id = contactPerson.id;
                    this.contactPerson.emailAddress = contactPerson.email;
                    this.contactPerson.confirmEmailAddress = contactPerson.email;
                    this.contactPerson.mobile = contactPerson.phone_number;

                    this.updateContactPerson('id', contactPerson.id);
                    this.updateContactPerson('emailAddress', contactPerson.email);
                    this.updateContactPerson('confirmEmailAddress', contactPerson.email);
                    this.updateContactPerson('mobile', contactPerson.phone_number);
                } else {
                    this.contactPerson.id = null;
                    this.contactPerson.emailAddress = this.user.email;
                    this.contactPerson.confirmEmailAddress = this.user.email;
                    this.contactPerson.mobile = this.user.phone_number;

                    this.updateContactPerson('id', null);
                    this.updateContactPerson('emailAddress', this.user.email);
                    this.updateContactPerson('confirmEmailAddress', this.user.email);
                    this.updateContactPerson('mobile', this.user.phone_number);
                }
            },
            getContactPerson: function() {
                window.axios.get(this.$root.api.getContactPerson)
                    .then((response)  =>  {
                        let res = response.data;
                        this.ownedContactPersons = res.data.contact_persons;
                        this.setDefaultContactPerson();
                    }, (error) => {
                        let response = error.response;
                        this.bus.$emit('error', error);
                    });
            },
            getPassengers: function() {
                window.axios.get(this.$root.api.getPassengers)
                    .then((response)  =>  {
                        let res = response.data;
                        this.suggestionPassengers = new PassengerCollection(this.underscoreKeysToCamelCase(res.data.passengers));
                        this.suggestionPassportNumber = this.suggestionPassengers.map('passportNumber');
                        this.items = this.suggestionPassportNumber
                        // let asdasd = this.suggestionPassengers.models[0]._attributes;
                        // console.log('d', this.suggestionPassengers.models[0]._attributes);
                        // this.passengers.models[0].set(asdasd)
                        // console.log('asd', this.passengers.models[0]);
                    }, (error) => {
                        let response = error.response;
                        this.$emit('error', error);
                    });
            },
            underscoreKeysToCamelCase(obj){
                if (typeof(obj) != "object") return obj;

                for(var oldName in obj){

                    // underscore to camel
                    // let newName = oldName.replace(/([A-Z])/g, function($1){return "_"+$1.toLowerCase();});
                    let newName = oldName.replace(/(\_\w)/g, function(m){return m[1].toUpperCase();});

                    // Only process if names are different
                    if (newName != oldName) {
                        // Check for the old property name to avoid a ReferenceError in strict mode.
                        if (obj.hasOwnProperty(oldName)) {
                            obj[newName] = obj[oldName];
                            delete obj[oldName];
                        }
                    }

                    // Recursion
                    if (typeof(obj[newName]) == "object") {
                        obj[newName] = this.underscoreKeysToCamelCase(obj[newName]);
                    }

                }
                return obj;
            },

            // AutoComplete
            getLabel: function (item) {
                if (item) {
                    return item
                }
                return ''
            },
            updateBookingDataByAutoComplete: function (index, val) {
                if (val) {
                    let data = this.suggestionPassengers.find({passportNumber: val});
                    if (data) {
                        let foundedPassenger = new Passenger({
                            passportNumber: data._attributes.passportNumber,
                            name: data._attributes.name,
                            nationality: data._attributes.nationality,
                            gender: data._attributes.gender,
                            dobDay: data._attributes.dobDay,
                            dobMonth: data._attributes.dobMonth,
                            dobYear: data._attributes.dobYear,
                            passportExpiryDay: data._attributes.passportExpiryDay,
                            passportExpiryMonth: data._attributes.passportExpiryMonth,
                            passportExpiryYear: data._attributes.passportExpiryYear,
                            issuingCountry: data._attributes.issuingCountry,
                            passportIssueDay: data._attributes.passportIssueDay,
                            passportIssueMonth: data._attributes.passportIssueMonth,
                            passportIssueYear: data._attributes.passportIssueYear,
                            type: data._attributes.type,
                            
                        });
                        this.passengers.models[index].set(foundedPassenger._attributes);
                        
                        this.updateObjectPassenger(index, foundedPassenger._attributes);
                    }
                }
            },
            testt: function (index, val) {
                this.passengers.models[index].set('passportNumber', val);
                this.updatePassenger(index, 'passportNumber', val)
            },
            update: function (text) {
                this.items = this.suggestionPassportNumber.filter((item) => {
                    return (new RegExp(text.toLowerCase())).test(item.toLowerCase())
                })
            },
        },
        components: {
            'v-autocomplete': Autocomplete,
            ModelSelect,
            DatePicker
        },
    }
</script>
