<template>
    <div>
        <div class="border border-cream mb-3">
            <div class="bg-table-cream">
                <div class="row no-gutters align-items-center py-1 px-3">
                    <div class="d-flex align-items-xl-center flex-column align-items-start flex-xl-row">
                        <p class="f-secondary fs-3xl text-blue mb-0">Portable wifi</p>
                        <div class="booking-y-vertical d-none d-xl-block"></div>
                        <p class="text-blue mb-2 mb-xl-0">4G Unlimited. Connect up <br> to 5 devices per router</p>
                    </div>
                    <div class="col text-right">
                        <div class="d-inline-flex align-items-center justify-content-end text-dark-grey pointer">
                            <span class="d-none d-xl-inline-block f-bold">Cancel</span><font-awesome-icon class="ml-2 fs-7" icon="window-close"></font-awesome-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-light-cream-2 border-bottom border-cream">
                <div class="p-3">
                    <div class="row no-gutters align-items-center justify-content-center mb-3 fs-2">
                        <div class="mb-3 mb-xl-0 mr-0 mr-xl-3">
                            <img class="booking-wifi-img" src="/assets/images/wifi.png"/>
                        </div>
                        <div class="col-12 col-xl px-0">
                            <p class="text-blue f-bold mb-2">Per day SGD {{ wifiPrice }} for usage in {{ this.bookingWifi.usagePlace == 1 ? 'Batam' : 'Singapore' }}</p>
                            <div class="d-flex flex-column flex-xl-row justify-content-between mb-2">
                                <div class="d-flex flex-column flex-xl-row mb-3 mb-xl-0 custom-date-picker">
                                    <div class="select-block grey mb-3 mb-xl-0 d-flex align-items-center">
                                        <span class="f-bold">Start</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 200 200" class="custom-calendar-icon mx-2">
                                            <rect x="13" y="29" rx="14" ry="14" width="174" height="158" fill="transparent" />
                                            <line x1="46" x2="46" y1="8" y2="50" />
                                            <line x1="154" x2="154" y1="8" y2="50" />
                                            <line x1="13" x2="187" y1="70" y2="70" />
                                            <text x="50%" y="135" font-size="90" stroke-width="1" text-anchor="middle" dominant-baseline="middle">{{new Date().getDate()}}</text>
                                        </svg>
                                        <span>{{ bookingWifi.wifiRentalDate[0] | moment("D/M/YYYY") }}</span>
                                        <font-awesome-icon class="ml-2" icon="angle-down"></font-awesome-icon>
                                    </div>
                                    <div class="select-block grey ml-xl-3 d-flex align-items-center">
                                        <span class="f-bold">End</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 200 200" class="custom-calendar-icon mx-2">
                                            <rect x="13" y="29" rx="14" ry="14" width="174" height="158" fill="transparent" />
                                            <line x1="46" x2="46" y1="8" y2="50" />
                                            <line x1="154" x2="154" y1="8" y2="50" />
                                            <line x1="13" x2="187" y1="70" y2="70" />
                                            <text x="50%" y="135" font-size="90" stroke-width="1" text-anchor="middle" dominant-baseline="middle">{{new Date().getDate()}}</text>
                                        </svg>
                                        <span>{{ bookingWifi.wifiRentalDate[1] | moment("D/M/YYYY") }}</span>
                                        <font-awesome-icon class="ml-2" icon="angle-down"></font-awesome-icon>
                                    </div>
                                    <date-picker range v-model="bookingWifi.wifiRentalDate" :not-before="now" :lang="'en'" :editable="false" :clearable="false">
                                        <template slot="header">
                                            <p class="mx-custom-header">Wifi Rental Date Range</p>
                                        </template>
                                    </date-picker>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="f-bold mr-1">No. of devices:</span>
                                    <div class="select-block grey custom-passengers-dropdown no-select d-flex justify-content-center" tabindex="0">
                                        <span>{{ bookingWifi.noOfDevices }}</span>
                                        <div class="dropdown-content">
                                            <div class="d-flex content-wrapper">
                                                <div class="button-minus" v-on:click="minus">
                                                    <font-awesome-icon icon="minus" class="fs-0"></font-awesome-icon>
                                                </div>
                                                <div class="input-wrapper">
                                                    <input v-model="bookingWifi.noOfDevices" maxlength="1" readonly disabled type="text">
                                                </div>
                                                <div class="button-plus" v-on:click="plus">
                                                    <font-awesome-icon icon="plus" class="fs-0"></font-awesome-icon>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-column flex-xl-row">
                                <span class="f-bold mr-xl-3 text-blue mb-2">Total price:
                                    <span class="text-red">
                                        {{ totalWifiPrice }} SGD 
                                        <!-- {{ wifiRefundableDeposit != 0 ? ` + ${wifiRefundableDeposit} SGD Refundable depost` : '' }} -->
                                    </span>
                                </span>
                                <span class="f-bold text-blue mb-2">Duration:  <span class="text-red">{{ daysBetween(bookingWifi.wifiRentalDate[0], bookingWifi.wifiRentalDate[1]) }} days</span></span>
                            </div>
                        </div>
                    </div>
                    <p v-if="this.bookingWifi.usagePlace == 2" class="mb-0"><span class="f-super-bold text-blue">Collect:</span> Singapore Horizon Ferry Counter. <span class="f-super-bold text-blue">Return:</span> Singapore Horizon Ferry Counter.<br>(Singapore Horizon Ferry Counter, 1 Maritime Square #03-47, Harbourfront Centre)</p>
                    <p v-if="this.bookingWifi.usagePlace == 1" class="mb-0"><span class="f-super-bold text-blue">Collect:</span> Batam Horizon Ferry Counter. <span class="f-super-bold text-blue">Return:</span> Batam Horizon Ferry Counter.<br>(Batam Horizon ferry counter, 2nd Level, Bayfront Mall @Harbour Bay Terminal, Unit 02-10)</p>
                </div>
            </div>
            <div class="p-3">
                <p><b>Connect up to 5 devices, unlimited Quota.</b></p>
                <p>Coverage: Nationwide (works well in both main city & rural area)</p>
                <p>Speed: 4G LTE Up to 72 Mbps</p>
                <p>Data Plan: Unlimited with Fair Usage Policy(FUP) applies to your daily data allowance. If the data you use exceeds 1 GB per day, the connection speed will be throttled down to 3G speed, which is still good for chatting/lite web browsing/social media. There are no quota caps - it's completely unlimited. Speed will back to normal on 00:00 local country time every day.</p>
                <p>• Rental charges are based on full days. For example, if the device is collected on 1st Aug and returned to Horizon Fast Ferry counter on 5th August, you will be charged 5 days rental</p>
                <p>• Rental billing starts on the day the Wi-Fi router is collected and ends on the day of return despite of timing. Rental charges will be based on full days (not fractional days). For example, if the device is collected on 1st Aug and returned to Horizon Fast Ferry counter on 5th August, you will be charged 5 days rental</p>
                <p>• You will be charged the days that you are in possession of the WiFi device, whether or not you are using the service</p>
                <p>• A cancellation fee of $3 will be imposed per device for cancellation of wifi service</p>
                <!-- <p>• <b>You will be required to make an 'AUTHORIZATION HOLD' for an amount of <b>SGD 50</b> per device on a credit card as a deposit. No actual charge is made on your credit card by Horizon Fast Ferry. The authorization hold is released from your account when you return the device.</b></p> -->
                <p class="mb-0">
                    For damages/lost/stolen items, the following charges will apply:
                    <br>
                    • WiFi router SGD 110
                    <br>
                    • SIM card SGD 20
                    <br>
                    • USB cable and plug SGD 15
                    <br>
                    • Bag holder SGD 5
                </p>
            </div>
        </div>
        <div>
            <div class="d-flex mb-2">
                <input id="agree1" v-model="bookingWifi.agreeRisks" type="checkbox" class="horizon grey"/>
                <label for="agree1" class="mb-0 fs-2 no-select">I am aware that the device might not be able to connect to internet for mountainous, underground and coastal areas.</label>
            </div>
            <div class="d-flex">
                <input id="agree2" v-model="bookingWifi.agreeTerms" type="checkbox" class="horizon grey"/>
                <label for="agree2" class="mb-0 fs-2 no-select">I agree to the <span class="f-bold">Terms and conditions</span> and the <span class="f-bold">Privacy Policy</span>.</label>
            </div>
        </div>
    </div>
</template>

<script>
    import DatePicker from 'vue2-datepicker'
    import LoadingComponent from '../Loading/LoadingComponent.vue'

    export default {
        props: ['bookingWifi', 'bus', 'wifiPrice', 'wifiRefundableDeposit'],
        data() {
            return {
                now: moment().startOf('day').toISOString(),
            }
        },
        computed: {
            totalWifiPrice: function() {
                return this.bookingWifi.noOfDevices * this.wifiPrice * this.daysBetween(this.bookingWifi.wifiRentalDate[0], this.bookingWifi.wifiRentalDate[1])
            }
        },
        methods: {
            updateBookingData: function(field, val) {
                this.$emit('updateBookingData', field, val);
            },
            plus: function(e) {
                if (this.bookingWifi.noOfDevices < 10) {
                    this.bookingWifi.noOfDevices++;
                }
            },
            minus: function(e) {
                if (this.bookingWifi.noOfDevices > 1) {
                    this.bookingWifi.noOfDevices--;
                }
            },
            daysBetween(date1, date2) {
                var a = moment(date1);
                var b = moment(date2);
                return b.diff(a, 'days') + 1
            },
        },
        components: {
            LoadingComponent,
            DatePicker
        }
    }
</script>
