<template>
    <div>
        <div class="container">
            <div class="booking-bc">
                <div class="booking-bc-item" v-on:click="goToPage(1)" v-bind:class="{'active': latestStep(1), 'show': showStep(1)}">
                    1 SELECT
                </div>
                <div class="booking-bc-item" v-on:click="goToPage(2)" v-bind:class="{'active': latestStep(2), 'show': showStep(2)}">
                    2 PASSENGER
                </div>
                <div class="booking-bc-item" v-on:click="goToPage(3)" v-bind:class="{'active': false, 'show': showStep(3)}">
                    3 PAYMENT
                </div>
            </div>
            <div class="booking-container">
                <div class="row">
                    <div class="col-12 col-xl d-flex flex-column">
                        <div class="mb-4">
                            <step-one
                            :bookingWifi="bookingWifi"
                            :wifiPrice="wifiPrice"
                            :wifiRefundableDeposit="wifiRefundableDeposit"
                            :bus="bus"
                            v-show="showStep(1)"></step-one>
                            <!-- <step-one
                            :bookingWifi="bookingWifi"
                            :wifiPrice="wifiPrice"
                            :wifiRefundableDeposit="wifiRefundableDeposit"
                            v-on:updateBookingData="updateBookingData"
                            v-bind:bus="bus"
                            v-show="showStep(1)"></step-one> -->
                            <step-two
                            :bookingWifi="bookingWifi"
                            :bus="bus"
                            :user="user"
                            :passenger="passenger"
                            :contactPerson="contactPerson"
                            v-on:updateContactPerson="updateContactPerson"
                            v-on:updatePassenger="updatePassenger"
                            v-show="showStep(2)"></step-two>
                            <!-- <step-two
                            :bookingWifi="bookingWifi"
                            v-bind:bus="bus"
                            :user="user"
                            v-on:updateBookingData="updateBookingData"
                            v-on:updatePassenger="updatePassenger"
                            v-on:updateObjectPassenger="updateObjectPassenger"
                            v-on:updateContactPerson="updateContactPerson"
                            v-show="showStep(2)"></step-two> -->
                        </div>
                        <div class="d-flex justify-content-between mb-5">
                            <a @click="back" v-if="backable" class="btn-arrow px-4 left pointer">Back</a>
                            <a v-else class="btn-arrow px-4 left disabled">Back</a>
                            <a @click="next" v-if="passable" class="btn-arrow px-4 right pointer">Next</a>
                            <a v-else class="btn-arrow px-4 right disabled">Next</a>
                        </div>
                    </div>
                    <div class="col-12 col-xl booking-summary">
                        <booking-wifi-summary
                        :bookingWifi="bookingWifi"
                        :wifiPrice="wifiPrice"
                        :wifiRefundableDeposit="wifiRefundableDeposit"></booking-wifi-summary>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import BookingWifiStepOne from './BookingWifiStepOne.vue';
    import BookingWifiStepTwo from './BookingWifiStepTwo.vue';
    import BookingWifiSummaryComponent from './BookingWifiSummaryComponent.vue';
    import Passenger from '../../models/PassengerTwo'
    import ContactPerson from '../../models/ContactPerson'

    export default {
        props: ['user', 'token', 'bus'],
        data() {
            let bookingWifi = sessionStorage.getItem('bookingWifi') ? JSON.parse(sessionStorage.getItem('bookingWifi')) : '';

            return {
                bookingWifi: bookingWifi,
                currentPage: sessionStorage.getItem('currentPage') ? Number(sessionStorage.getItem('currentPage')) : 1,
                latestPage: sessionStorage.getItem('latestPage') ? Number(sessionStorage.getItem('latestPage')) : 1,
                totalPage: 2,
                passenger: bookingWifi ? new Passenger(bookingWifi.passenger) : new Passenger({type: 0}),
                contactPerson: bookingWifi ? new ContactPerson(bookingWifi.contactPerson) : new ContactPerson,
                wifiPrice: 0,
                wifiRefundableDeposit: 0,
            }
        },
        computed: {
            passable: function() {
                switch (this.currentPage) {
                    case 1:
                        return this.validatePageOne();
                        break;
                    case 2:
                        return this.validatePageTwo();
                        break;
                    default:
                        return false;
                        break;
                }
            },
            backable: function() {
                return true
            },
        },
        watch: {
            bookingWifi:  {
                handler (val) {
                    console.log('watched')
                    sessionStorage.setItem('bookingWifi', JSON.stringify(val));
                },
                deep: true
            }
        },
        created() {
            if (!this.bookingWifi) {
                this.$router.push({ name: 'dashboard'});
            }
            this.getWifiPrice();
        },
        methods: {
            showStep(page) {
                return this.currentPage == page;
            },
            latestStep(page) {
                return this.latestPage == page;
            },
            next: function() {
                if (this.currentPage == this.totalPage) {
                    this.reserve();
                } else if (this.currentPage < this.totalPage) {
                    this.currentPage++;
                    this.updateLatestPage();
                    sessionStorage.setItem('currentPage', this.currentPage);
                }
                
                let dropdown = $('.dropdown-toggler.login, .dropdown-toggler.logged-in, .dropdown-toggler.signup');
                dropdown.removeClass('open');
            },
            back: function() {
                if (this.currentPage > 1) {
                    this.currentPage--;
                    sessionStorage.setItem('currentPage', this.currentPage);
                } else if (this.currentPage == 1) {
                    this.$router.push({ name: 'dashboard'});
                }
                
                let dropdown = $('.dropdown-toggler.login, .dropdown-toggler.logged-in, .dropdown-toggler.signup');
                dropdown.removeClass('open');
            },
            goToPage: function(val) {
                if (val <= this.latestPage) {
                    this.currentPage = val;
                    sessionStorage.setItem('currentPage', this.currentPage);
                }
                
                let dropdown = $('.dropdown-toggler.login, .dropdown-toggler.logged-in, .dropdown-toggler.signup');
                dropdown.removeClass('open');
            },
            updateLatestPage: function() {
                if (this.latestPage < this.currentPage) {
                    this.latestPage = this.currentPage;
                    sessionStorage.setItem('latestPage', this.latestPage);
                }
            },
            updateBookingWifi(field, val) {
                this.bookingWifi[field] = val;
                sessionStorage.setItem('bookingWifi', JSON.stringify(this.bookingWifi));
            },
            updateContactPerson(field, val) {
                this.bookingWifi.contactPerson[field] = val;
            },
            updatePassenger(field, val) {
                this.bookingWifi.passenger[field] = val;
            },
            validatePageOne() {
                let pass = true;

                if (!this.bookingWifi.agreeRisks) {
                    pass = false;
                }
                if (!this.bookingWifi.agreeTerms) {
                    pass = false;
                }

                return pass;
            },
            validatePageTwo(){
                let pass = true;

                if (!this.contactPerson.validate()) {
                    pass = false;
                };

                if (!this.passenger.validate()) {
                    pass = false;
                };
                return pass;
            },
            getWifiPrice() {
                window.axios.get(this.$root.api.getWifiPrice)
                    .then((response)  =>  {
                        let res = response.data;
                        
                        if (this.bookingWifi.usagePlace == 1) {
                            this.wifiPrice = res.data.wifi_price_batam;
                        } else {
                            this.wifiPrice = res.data.wifi_price_sg;
                        }
                        this.wifiRefundableDeposit = res.data.wifi_refundable_deposit;
                        // this.wifiPrice = res.data.wifi_price_sg;
                    }, (error) => {
                        console.log('Unable to get Wifi Rental Price')
                    });
            },
            reserve() {
                let data = {
                    "wifi_only": true,
                    "departure_from": this.bookingWifi.usagePlace == 1 ? 'singapore' : 'batam',
                    "contact_person": {
                        "id": this.bookingWifi.contactPerson.id,
                        "email": this.bookingWifi.contactPerson.emailAddress,
                        "email_confirmation": this.bookingWifi.contactPerson.confirmEmailAddress,
                        "phone_number": this.bookingWifi.contactPerson.mobile
                    },
                    "passenger": {
                        "id": this.bookingWifi.passenger.id,
                        "passport_number": this.bookingWifi.passenger.passportNumber,
                        "name": this.bookingWifi.passenger.name,
                        "nationality": this.bookingWifi.passenger.nationality,
                        "gender": this.bookingWifi.passenger.gender,
                        "dob": moment(String(this.bookingWifi.passenger.dobYear) + String(this.bookingWifi.passenger.dobMonth) + String(this.bookingWifi.passenger.dobDay)).tz(moment.tz.guess()).format('YYYY-MM-DD'),
                        "passport_expiry": this.bookingWifi.passenger.passportExpiryYear ? moment(String(this.bookingWifi.passenger.passportExpiryYear) + String(this.bookingWifi.passenger.passportExpiryMonth) + String(this.bookingWifi.passenger.passportExpiryDay)).tz(moment.tz.guess()).format('YYYY-MM-DD') : '',
                        "issuing_country": this.bookingWifi.passenger.issuingCountry,
                        "passport_issue": this.bookingWifi.passenger.passportIssueYear ? moment(String(this.bookingWifi.passenger.passportIssueYear) + String(this.bookingWifi.passenger.passportIssueMonth) + String(this.bookingWifi.passenger.passportIssueDay)).tz(moment.tz.guess()).format('YYYY-MM-DD') : '',
                        "type": this.bookingWifi.passenger.type
                    },
                    'wifi_start_date' : moment(this.bookingWifi.wifiRentalDate[0]).tz(moment.tz.guess()).format('YYYY-MM-DD'),
                    'wifi_end_date' : moment(this.bookingWifi.wifiRentalDate[1]).tz(moment.tz.guess()).format('YYYY-MM-DD'),
                    'wifi_devices' : this.bookingWifi.noOfDevices,
                }
                
                this.bus.$emit('fsLoading', true);
                window.axios.post(this.$root.api.reserveWifiBooking, data)
                    .then((response)  =>  {
                        let res = response.data;
                        let order = res.data.order;
                        this.bus.$emit('fsLoading', false);
                        
                        this.$router.push({ name: 'order', query: { reference_number: order.reference_number, email: order.contact_person.email }});
                    }, (error) => {
                        let response = error.response;
                        this.bus.$emit('error', error);
                        this.bus.$emit('fsLoading', false);
                    });
            }
        },
        components: {
            'step-one': BookingWifiStepOne,
            'step-two': BookingWifiStepTwo,
            'booking-wifi-summary':  BookingWifiSummaryComponent,
        }
    }
</script>
