<template>
    <div class="sticky-summary">
        <div class="border border-red mb-5">
            <div class="bg-light-red py-1 px-4">
                <p class="text-center f-secondary text-blue f-bold mb-0 fs-5">Summary</p>
            </div>
            <div class="p-3">
                <div class="mb-4">
                    <div>
                        <p class="f-bold text-blue mb-2">Car Charter ({{ this.bookingCar.selectedCar == 'car_5_seater' ? '5' : '10' }} seater)</p>
                        <div class="d-flex justify-content-between mb-1">
                            <p class="text-blue mb-0">{{ daysBetween(bookingCar.carRentalDate[0], bookingCar.carRentalDate[1]) }} days (10 hrs/day)</p>
                            <p class="mb-0">{{ totalCarPrice | currency('S$', 2) }}</p>
                        </div>
                    </div>
                </div>
                <div class="bg-red text-white p-3 d-flex align-items-center justify-content-center">
                    <div class="mr-1 f-bold">TOTAL</div>
                    <div class="f-secondary fs-3xl mx-1">{{ total | currency('S$', 2) }}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['bookingCar', 'car5Price', 'car10Price'],
        computed: {
            totalCarPrice: function() {
                let price = this.car10Price;
                if (this.bookingCar.selectedCar == 'car_5_seater') price = this.car5Price;
                return price * this.daysBetween(this.bookingCar.carRentalDate[0], this.bookingCar.carRentalDate[1])
            },
            total: function() {
                let result = Number(this.totalCarPrice);
                return result
            },
        },
        methods: {
            daysBetween(date1, date2) {
                var a = moment(date1);
                var b = moment(date2);
                return b.diff(a, 'days') + 1
            },
        }
    }
</script>
