<template>
    <div>
        <div class="container">
            <div class="booking-bc">
                <div class="booking-bc-item" v-on:click="goToPage(1)" v-bind:class="{'active': latestStep(1), 'show': showStep(1)}">
                    1 CAR RENTAL
                </div>
                <div class="booking-bc-item" v-on:click="goToPage(2)" v-bind:class="{'active': latestStep(2), 'show': showStep(2)}">
                    2 PASSENGER
                </div>
                <div class="booking-bc-item" v-on:click="goToPage(3)" v-bind:class="{'active': false, 'show': showStep(3)}">
                    3 PAYMENT
                </div>
            </div>
            <div class="booking-container">
                <div class="row">
                    <div class="col-12 col-xl d-flex flex-column">
                        <div class="mb-4">
                            <step-one
                            :bookingCar="bookingCar"
                            :car5Price="car5Price"
                            :car10Price="car10Price"
                            v-show="showStep(1)"></step-one>
                            <step-two
                            :bookingCar="bookingCar"
                            :bus="bus"
                            :user="user"
                            :passenger="passenger"
                            :contactPerson="contactPerson"
                            v-on:updateContactPerson="updateContactPerson"
                            v-on:updatePassenger="updatePassenger"
                            v-show="showStep(2)"></step-two>
                        </div>
                        <div class="d-flex justify-content-between mb-5">
                            <a @click="back" v-if="backable" class="btn-arrow px-4 left pointer">Back</a>
                            <a v-else class="btn-arrow px-4 left disabled">Back</a>
                            <a @click="next" v-if="passable" class="btn-arrow px-4 right pointer">Next</a>
                            <a v-else class="btn-arrow px-4 right disabled">Next</a>
                        </div>
                    </div>
                    <div class="col-12 col-xl booking-summary">
                        <booking-car-summary
                        :bookingCar="bookingCar"
                        :car5Price="car5Price" 
                        :car10Price="car10Price"
                        ></booking-car-summary>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import BookingCarStepOne from './BookingCarStepOne.vue';
    import BookingCarStepTwo from './BookingCarStepTwo.vue';
    import BookingCarSummaryComponent from './BookingCarSummaryComponent.vue';
    import Passenger from '../../models/PassengerTwo'
    import ContactPerson from '../../models/ContactPerson'

    export default {
        props: ['user', 'token', 'bus'],
        data() {
            let bookingCar = sessionStorage.getItem('bookingCar') ? JSON.parse(sessionStorage.getItem('bookingCar')) : '';

            return {
                bookingCar: bookingCar,
                currentPage: sessionStorage.getItem('currentPage') ? Number(sessionStorage.getItem('currentPage')) : 1,
                latestPage: sessionStorage.getItem('latestPage') ? Number(sessionStorage.getItem('latestPage')) : 1,
                totalPage: 2,
                passenger: bookingCar ? new Passenger(bookingCar.passenger) : new Passenger({type: 0}),
                contactPerson: bookingCar ? new ContactPerson(bookingCar.contactPerson) : new ContactPerson,
                car5Price: 0,
                car10Price: 0,
            }
        },
        computed: {
            passable: function() {
                switch (this.currentPage) {
                    case 1:
                        return this.validatePageOne();
                        break;
                    case 2:
                        return this.validatePageTwo();
                        break;
                    default:
                        return false;
                        break;
                }
            },
            backable: function() {
                return true
            },
        },
        watch: {
            bookingCar:  {
                handler (val) {
                    sessionStorage.setItem('bookingCar', JSON.stringify(val));
                },
                deep: true
            }
        },
        created() {
            if (!this.bookingCar) {
                this.$router.push({ name: 'dashboard'});
            }
            this.getCarPrice();
        },
        methods: {
            showStep(page) {
                return this.currentPage == page;
            },
            latestStep(page) {
                return this.latestPage == page;
            },
            next: function() {
                if (this.currentPage == this.totalPage) {
                    this.reserve();
                } else if (this.currentPage < this.totalPage) {
                    this.currentPage++;
                    this.updateLatestPage();
                    sessionStorage.setItem('currentPage', this.currentPage);
                }
                
                let dropdown = $('.dropdown-toggler.login, .dropdown-toggler.logged-in, .dropdown-toggler.signup');
                dropdown.removeClass('open');
            },
            back: function() {
                if (this.currentPage > 1) {
                    this.currentPage--;
                    sessionStorage.setItem('currentPage', this.currentPage);
                } else if (this.currentPage == 1) {
                    this.$router.push({ name: 'dashboard'});
                }
                
                let dropdown = $('.dropdown-toggler.login, .dropdown-toggler.logged-in, .dropdown-toggler.signup');
                dropdown.removeClass('open');
            },
            goToPage: function(val) {
                if (val <= this.latestPage) {
                    this.currentPage = val;
                    sessionStorage.setItem('currentPage', this.currentPage);
                }
                
                let dropdown = $('.dropdown-toggler.login, .dropdown-toggler.logged-in, .dropdown-toggler.signup');
                dropdown.removeClass('open');
            },
            updateLatestPage: function() {
                if (this.latestPage < this.currentPage) {
                    this.latestPage = this.currentPage;
                    sessionStorage.setItem('latestPage', this.latestPage);
                }
            },
            updateBookingCar(field, val) {
                this.bookingCar[field] = val;
                sessionStorage.setItem('bookingCar', JSON.stringify(this.bookingCar));
            },
            updateContactPerson(field, val) {
                this.bookingCar.contactPerson[field] = val;
            },
            updatePassenger(field, val) {
                this.bookingCar.passenger[field] = val;
            },
            validatePageOne() {
                let pass = true;

                return pass;
            },
            validatePageTwo(){
                let pass = true;

                if (!this.contactPerson.validate()) {
                    pass = false;
                };

                if (!this.passenger.validate()) {
                    pass = false;
                };
                return pass;
            },
            getCarPrice() {
                window.axios.get(this.$root.api.getTicketPrice + `?two_way=0&type=1`)
                    .then((response)  =>  {
                        let res = response.data;
                        this.car5Price = res.data.car_5_seater;
                        this.car10Price = res.data.car_10_seater;
                    }, (error) => {
                    });
            },
            reserve() {
                let data = {
                    "car_only": true,
                    "departure_from": this.bookingCar.usagePlace == 1 ? 'singapore' : 'batam',
                    "contact_person": {
                        "id": this.bookingCar.contactPerson.id,
                        "email": this.bookingCar.contactPerson.emailAddress,
                        "email_confirmation": this.bookingCar.contactPerson.confirmEmailAddress,
                        "phone_number": this.bookingCar.contactPerson.mobile
                    },
                    "passenger": {
                        "id": this.bookingCar.passenger.id,
                        "passport_number": this.bookingCar.passenger.passportNumber,
                        "name": this.bookingCar.passenger.name,
                        "nationality": this.bookingCar.passenger.nationality,
                        "gender": this.bookingCar.passenger.gender,
                        "dob": moment(String(this.bookingCar.passenger.dobYear) + String(this.bookingCar.passenger.dobMonth) + String(this.bookingCar.passenger.dobDay)).tz(moment.tz.guess()).format('YYYY-MM-DD'),
                        "passport_expiry": this.bookingCar.passenger.passportExpiryYear ? moment(String(this.bookingCar.passenger.passportExpiryYear) + String(this.bookingCar.passenger.passportExpiryMonth) + String(this.bookingCar.passenger.passportExpiryDay)).tz(moment.tz.guess()).format('YYYY-MM-DD') : '',
                        "issuing_country": this.bookingCar.passenger.issuingCountry,
                        "passport_issue": this.bookingCar.passenger.passportIssueYear ? moment(String(this.bookingCar.passenger.passportIssueYear) + String(this.bookingCar.passenger.passportIssueMonth) + String(this.bookingCar.passenger.passportIssueDay)).tz(moment.tz.guess()).format('YYYY-MM-DD') : '',
                        "type": this.bookingCar.passenger.type
                    },
                    'car_start_date' : moment(this.bookingCar.carRentalDate[0]).tz(moment.tz.guess()).format('YYYY-MM-DD'),
                    'car_end_date' : moment(this.bookingCar.carRentalDate[1]).tz(moment.tz.guess()).format('YYYY-MM-DD'),
                    'selected_car' : this.bookingCar.selectedCar,
                    'car_pick_up_at': moment(this.bookingCar.pickUpAt).tz(moment.tz.guess()).format('HH:mm'),
                    'car_checkpoint': this.bookingCar.checkpoint,
                }
                
                this.bus.$emit('fsLoading', true);
                window.axios.post(this.$root.api.reserveCarBooking, data)
                    .then((response)  =>  {
                        let res = response.data;
                        let order = res.data.order;
                        this.bus.$emit('fsLoading', false);
                        
                        this.$router.push({ name: 'order', query: { reference_number: order.reference_number, email: order.contact_person.email }});
                    }, (error) => {
                        let response = error.response;
                        this.bus.$emit('error', error);
                        this.bus.$emit('fsLoading', false);
                    });
            }
        },
        components: {
            'step-one': BookingCarStepOne,
            'step-two': BookingCarStepTwo,
            'booking-car-summary':  BookingCarSummaryComponent,
        }
    }
</script>
