<template>
    <div>
        <template v-if="loading">
            <div class="d-flex py-3">
                <loading-component :show-text="true" :text="'Logging in'"></loading-component>
            </div>
        </template>
        <template v-else>
            <div class="d-flex flex-column flex-xl-row">
                <div class="d-flex flex-column justify-content-center">
                    <button type="button" class="btn btn-facebook btn-lg btn-block d-flex align-items-center" @click="openFbLoginDialog">
                        <font-awesome-icon :icon="['fab','facebook-f']" class="fs-3 mr-3"></font-awesome-icon><span class="f-bold">Login with Facebook</span>
                    </button>
                    <button type="button" class="btn btn-google btn-lg btn-block d-flex align-items-center" @click="onGoogleSignIn">
                        <i class="google-icon mr-3"></i><span class="f-bold">Login with Google</span>
                    </button>
                </div>
                <div class="d-flex flex-row flex-xl-column align-items-center my-4 px-xl-3 my-xl-0">
                    <div class="vertical-line mr-3 mr-xl-0"></div>
                    <div class="f-bold text-grey py-2 fs-1">OR</div>
                    <div class="vertical-line ml-3 ml-xl-0"></div>
                </div>
                <div>
                    <form @submit="login" class="login">
                        <div class="mb-2" id="usernameInput">
                            <!-- <label for="username">Email</label> -->
                            <input v-model="username" type="email" class="form-control f-bold" id="username" placeholder="EMAIL">
                            <p class="status-text fs-0"></p>
                        </div>
                        <div class="mb-2" id="passwordInput">
                            <!-- <label for="password">Password</label> -->
                            <input v-model="password" type="password" class="form-control f-bold" id="password" placeholder="PASSWORD">
                            <p class="status-text fs-0"></p>
                        </div>
                        <router-link :to="{ name: 'forgot-password' }">
                            <p class="text-center text-red fs-0 mb-2 f-bold">Forgot Password?</p>
                        </router-link>
                        <!-- <button @click="authenticate('facebook')">auth Facebook</button>
                        <button @click="authenticate('google')">auth Google</button> -->
                        <div class="text-center">
                            <button type="submit" class="btn btn-cream btn-block">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import LoadingComponent from '../Loading/LoadingComponent'
    import { library } from '@fortawesome/fontawesome-svg-core'
    import { faFacebookF } from '@fortawesome/free-brands-svg-icons/faFacebookF'

    library.add(faFacebookF);

    export default {
        props: ['user', 'token', 'bus'],
        data() {
            return {
                loading: false,
                username: '',
                password: ''
            }
        },
        mounted() {
            let self = this;
            $(document).ready(function() {
                window.gapi.load('auth2', function() {});
            });
        },
        methods: {
            validateForm() {
                let errors = false;

                if (!this.username) {
                    let el = $('#usernameInput').find('.status-text');
                    el.html(this.$t('vue-validation.required', {attribute: 'Username'}));
                    errors = true;
                }

                if (!this.password) {
                    let el = $('#passwordInput').find('.status-text');
                    el.html(this.$t('vue-validation.required', {attribute: 'Password'}));
                    errors = true;
                }

                if (!errors) {
                    return true;
                }
                
                return false;
            },
            login(e) {
                let self = this;
                e.preventDefault();
                
                if (!this.validateForm()) {
                    return;
                }

                let data = {
                    'username': this.username,
                    'password': this.password
                };

                let username = this.username;
                let password = this.password;

                self.loading = true;
                this.$store.dispatch('account/login', { username, password })
                    .then((res) => {
                        self.loading = false;
                    }, (error) => {
                        self.bus.$emit('error', error);
                        self.loading = false;
                    });

                // self.loading = true;
                // window.axios.post(this.$root.api.login, data)
                //     .then((response)  =>  {
                //         let res = response.data;
                //         self.$emit('loggedIn', res.data.token, res.data.user);
                //         self.loading = false;
                //     }, (error) => {
                //         let response = error.response;
                //         self.$emit('error', error);
                //         self.loading = false;
                //     });
            },
            authenticate: function(provider) {
                this.$auth.authenticate(provider).then(function() {
                    console.log('test');
                    // Execute application logic after successful social authentication
                });
            },
            openFbLoginDialog() {
                let self = this;
                if (!window.FB) {
                    self.$emit('error', "Facebook not initialized, please reload page.");
                    return
                }
                self.loading = true;
                FB.login(function(response) {
                    if (response.authResponse) {
                        console.log('Welcome!  Fetching your information.... ');
                        console.log(response);
                        // Login API call is successful
                        // let data = {
                        //     'access_token': response.authResponse.accessToken
                        // };
                        let type = 'facebook';
                        let accessToken = response.authResponse.accessToken;
                        self.$store.dispatch('account/socialLogin', { type, accessToken })
                            .then((res)  =>  {
                                // self.$emit('loggedIn', res.data.token, res.data.user);
                                self.loading = false;
                            }, (error) => {
                                let response = error.response;
                                self.bus.$emit('error', error);
                                self.loading = false;
                            });
                        FB.api('/me', function(response) {
                            console.log(response);
                            console.log('Good to see you, ' + response.name + '.');
                        });
                    } else {
                        self.loading = false;
                        console.log('User cancelled login or did not fully authorize.');
                    }
                }, { scope: 'public_profile,user_birthday,email', auth_type: 'rerequest' });
            },
            onGoogleSignIn: function() {
                let self = this;
                if (!gapi.auth2.getAuthInstance()) {
                    gapi.auth2.init({
                        client_id: '288236375664-fvfncjntpuqiadn2na0fglnu86evf4i3.apps.googleusercontent.com',
                        fetch_basic_profile: true,
                        scope: 'profile https://www.googleapis.com/auth/user.birthday.read https://www.googleapis.com/auth/user.phonenumbers.read https://www.googleapis.com/auth/userinfo.profile'
                    });
                }
                self.loading = true;
                gapi.auth2.getAuthInstance().signIn().then(
                    function(googleUser) {
                        let authResponse = googleUser.getAuthResponse(true);
                        let idToken = authResponse.id_token;
                        let basicProfile = googleUser.getBasicProfile();
                        console.log(basicProfile);
                        console.log('ID: ' + basicProfile.getId()); // Do not send to your backend! Use an ID token instead.
                        console.log('Name: ' + basicProfile.getName());
                        console.log('Image URL: ' + basicProfile.getImageUrl());
                        console.log('Email: ' + basicProfile.getEmail());
                        // Login API call is successful
                        // let data = {
                        //     'access_token': idToken
                        // };
                        let type = 'google';
                        let accessToken = idToken;
                        self.$store.dispatch('account/socialLogin', { type, accessToken })
                            .then((res)  =>  {
                                // self.$emit('loggedIn', res.data.token, res.data.user);
                                self.loading = false;
                            }, (error) => {
                                let response = error.response;
                                self.bus.$emit('error', error);
                                self.loading = false;
                            });
                    },
                    function(err) {
                        // Error occurred
                        if (err.error != "popup_closed_by_user") {
                            self.bus.$emit('error', err);
                        }
                        self.loading = false;
                        console.log(err) // to find the reason
                    }
                );
            }
        },
        components: {
            LoadingComponent
        }
    }
</script>
