<template>
    <div>
        <template v-if="loading">
            <div class="d-flex py-3">
                <loading-component :show-text="true" :text="'Logging in'"></loading-component>
            </div>
        </template>
        <template v-else>
            <div class="d-flex flex-column flex-xl-row">
                <div class="d-flex flex-column justify-content-center">
                    <button type="button" class="btn btn-facebook btn-lg btn-block d-flex align-items-center" @click="openFbLoginDialog">
                        <font-awesome-icon :icon="['fab','facebook-f']" class="fs-3 mr-3"></font-awesome-icon><span class="f-bold">Sign up with Facebook</span>
                    </button>
                    <button type="button" class="btn btn-google btn-lg btn-block d-flex align-items-center" @click="onGoogleSignIn">
                        <i class="google-icon mr-3"></i><span class="f-bold">Sign up with Google</span>
                    </button>
                </div>
                <div class="d-flex flex-row flex-xl-column align-items-center my-4 px-xl-3 my-xl-0">
                    <div class="vertical-line mr-3 mr-xl-0"></div>
                    <div class="f-bold text-grey py-2 fs-1">OR</div>
                    <div class="vertical-line ml-3 ml-xl-0"></div>
                </div>
                <div>
                    <form @submit="signUp" class="login">
                        <div class="form-group mb-2 vuelidate" :class="{ 'form-group-error': $v.email.$error }">
                            <div class="d-flex align-items-center position-relative">
                                <input v-model.trim.lazy="$v.email.$model" type="email" class="form-control f-bold" placeholder="EMAIL">
                                <font-awesome-icon v-show="checkEmail" :icon="['fas', 'circle-notch']" spin class="ml-1 check-unique"></font-awesome-icon>
                            </div>
                            <p v-if="!$v.email.required" class="status-text">{{ $t('vue-validation.required', {attribute: 'Email'}) }}</p>
                            <p v-if="!$v.email.email" class="status-text">{{ $t('vue-validation.email', {attribute: 'Email'}) }}</p>
                            <p v-if="!$v.email.exists" class="status-text">Email already used</p>
                        </div>
                        <div class="form-group mb-2 vuelidate" :class="{ 'form-group-error': $v.password.$error }">
                            <input v-model.trim="$v.password.$model" type="password" class="form-control f-bold" placeholder="PASSWORD">
                            <p v-if="!$v.password.required" class="status-text">{{ $t('vue-validation.required', {attribute: 'Password'}) }}</p>
                            <p v-if="!$v.password.minLength" class="status-text">{{ $t('vue-validation.gte.string', {attribute: 'Password', value: '6'}) }}</p>
                        </div>
                        <div class="form-group mb-2 vuelidate" :class="{ 'form-group-error': $v.passwordConfirmation.$error }">
                            <input v-model.trim="$v.passwordConfirmation.$model" type="password" class="form-control f-bold" placeholder="RE TYPE PASSWORD">
                            <p v-if="!$v.passwordConfirmation.required" class="status-text">{{ $t('vue-validation.required', {attribute: 'Password confirmation'}) }}</p>
                            <p v-if="!$v.passwordConfirmation.sameAsPassword" class="status-text">{{ $t('vue-validation.same', {attribute: 'Password confirmation', other: 'Password'}) }}</p>
                        </div>
                        <p class="text-center mb-2">By clicking "SIGN UP" I agree to Horizon Fast Ferry Privacy Policy</p>
                        <div class="text-center">
                            <button type="submit" :disabled="checkEmail" class="btn btn-cream btn-block">Sign up</button>
                        </div>
                    </form>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import LoadingComponent from '../Loading/LoadingComponent'
    import { library } from '@fortawesome/fontawesome-svg-core'
    import { faFacebookF } from '@fortawesome/free-brands-svg-icons/faFacebookF'
    import { required, email, sameAs, minLength } from 'vuelidate/lib/validators';
    import API from '../../api';

    library.add(faFacebookF);

    const checkExists = function(field, value, vueComponent) {
        if (value === '') return true;
        vueComponent.checkEmail = true;
        let data = {
            field: field,
            value: value
        };
        return new Promise((resolve, reject) => {
            window.axios.post(API.checkExists, data)
                .then((response)  =>  {
                    let res = response.data;
                    vueComponent.checkEmail = false;
                    resolve(!res.data.exists);
                }, (error) => {
                    vueComponent.checkEmail = false;
                    reject(error);
                });
        });
    };

    export default {
        props: ['user', 'token', 'bus'],
        data() {
            return {
                loading: false,
                checkEmail: false,
                email: '',
                password: '',
                passwordConfirmation: '',
            }
        },
        validations: {
            email: {
                required,
                email,
                exists: function (value) {
                    let self = this;
                    return checkExists('email', value, self)
                }
            },
            password: {
                required,
                minLength: minLength(6)
            },
            passwordConfirmation: {
                required,
                sameAsPassword: sameAs('password')
            },
        },
        mounted() {
            $(document).ready(function() {
                window.gapi.load('auth2', function() {});
            });
        },
        methods: {
            validateForm: function() {
                this.$v.$touch()
                return this.$v.$invalid
            },
            signUp: function(e) {
                e.preventDefault();
                if (this.validateForm()) return;
                let data = {
                    email: this.email,
                    password: this.password,
                    password_confirmation: this.passwordConfirmation
                }
                
                this.loading = true;
                let self = this;

                this.$store.dispatch('account/register', { data })
                    .then((res) => {
                        self.loading = false;
                        this.$router.push({ name: 'my-account.account'});
                    }, (error) => {
                        self.bus.$emit('error', error);
                        self.loading = false;
                    });
            },
            openFbLoginDialog() {
                let self = this;
                if (!window.FB) {
                    self.$emit('error', "Facebook not initialized, please reload page.");
                    return
                }
                self.loading = true;
                FB.login(function(response) {
                    if (response.authResponse) {
                        console.log('Welcome!  Fetching your information.... ');
                        console.log(response);
                        // Login API call is successful
                        // let data = {
                        //     'access_token': response.authResponse.accessToken
                        // };
                        let type = 'facebook';
                        let accessToken = response.authResponse.accessToken;
                        self.$store.dispatch('account/socialLogin', { type, accessToken })
                            .then((res)  =>  {
                                // self.$emit('loggedIn', res.data.token, res.data.user);
                                self.loading = false;
                            }, (error) => {
                                let response = error.response;
                                self.bus.$emit('error', error);
                                self.loading = false;
                            });
                        FB.api('/me', function(response) {
                            console.log(response);
                            console.log('Good to see you, ' + response.name + '.');
                        });
                    } else {
                        self.loading = false;
                        console.log('User cancelled login or did not fully authorize.');
                    }
                }, { scope: 'public_profile,user_birthday,email', auth_type: 'rerequest' });
            },
            onGoogleSignIn: function() {
                let self = this;
                if (!gapi.auth2.getAuthInstance()) {
                    gapi.auth2.init({
                        client_id: '288236375664-fvfncjntpuqiadn2na0fglnu86evf4i3.apps.googleusercontent.com',
                        fetch_basic_profile: true,
                        scope: 'profile https://www.googleapis.com/auth/user.birthday.read https://www.googleapis.com/auth/user.phonenumbers.read https://www.googleapis.com/auth/userinfo.profile'
                    });
                }
                self.loading = true;
                gapi.auth2.getAuthInstance().signIn().then(
                    function(googleUser) {
                        let authResponse = googleUser.getAuthResponse(true);
                        let idToken = authResponse.id_token;
                        let basicProfile = googleUser.getBasicProfile();
                        console.log(basicProfile);
                        console.log('ID: ' + basicProfile.getId()); // Do not send to your backend! Use an ID token instead.
                        console.log('Name: ' + basicProfile.getName());
                        console.log('Image URL: ' + basicProfile.getImageUrl());
                        console.log('Email: ' + basicProfile.getEmail());
                        // Login API call is successful
                        // let data = {
                        //     'access_token': idToken
                        // };
                        let type = 'google';
                        let accessToken = idToken;
                        self.$store.dispatch('account/socialLogin', { type, accessToken })
                            .then((res)  =>  {
                                // self.$emit('loggedIn', res.data.token, res.data.user);
                                self.loading = false;
                            }, (error) => {
                                let response = error.response;
                                self.bus.$emit('error', error);
                                self.loading = false;
                            });
                    },
                    function(err) {
                        // Error occurred
                        if (err.error != "popup_closed_by_user") {
                            self.bus.$emit('error', err);
                        }
                        self.loading = false;
                        console.log(err) // to find the reason
                    }
                );
            }
        },
        components: {
            LoadingComponent
        }
    }
</script>
