<template>
    <div class="d-flex h-100vh">
        <div class="row no-gutters flex-1">
            <div class="col-xl-6">
                <div class="sign-up">
                    <div class="content d-flex flex-column justify-content-between">
                        <!-- <div class="logo"></div> -->
                        <div class="flex-1" v-show="socialLoading">
                            <div class="d-flex h-100">
                                <loading-component :customClass="'white'" :showText="true" :text="'Signing up'"></loading-component>
                            </div>
                        </div>
                        <div v-show="!socialLoading" class="form">
                            <p class="welcome-text">Welcome to Horizon Ferry</p>
                            <p class="sign-in-text">Sign up with social network</p>
                            <div class="social-button">
                                <button type="button" class="btn btn-facebook btn-lg d-flex align-items-center mb-3" @click="openFbLoginDialog">
                                    <font-awesome-icon :icon="['fab','facebook-f']" class="fs-3 mr-3"></font-awesome-icon><span class="f-bold">Sign up with Facebook</span>
                                </button>
                                <button type="button" class="btn btn-google btn-lg d-flex align-items-center" @click="onGoogleSignIn">
                                    <i class="google-icon mr-3"></i><span class="f-bold">Sign up with Google</span>
                                </button>
                            </div>
                        </div>
                        <div class="social-icon d-flex justify-content-center">
                            <a href="#" class="icon">
                                <font-awesome-icon :icon="['fab','facebook-f']" class="text-white fs-5"></font-awesome-icon>
                            </a>
                            <a href="#" class="icon">
                                <font-awesome-icon :icon="['fab','twitter']" class="text-white fs-5"></font-awesome-icon>
                            </a>
                            <a href="#" class="icon">
                                <font-awesome-icon :icon="['fab','whatsapp']" class="text-white fs-5"></font-awesome-icon>
                            </a>
                            <a href="#" class="icon">
                                <font-awesome-icon :icon="['fab','google-plus-g']" class="text-white fs-5"></font-awesome-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <form class="sign-up-form" @submit="signUp">
                    <div class="content border border-cream d-flex flex-column justify-content-center">
                        <loading-component v-show="loading" :customClass="'blue'" :showText="true" :text="'Signing up'"></loading-component>
                        <div v-show="!loading">
                            <p class="sign-up-text">Sign Up</p>
                            <div class="row">
                                <div class="col-xl-6 col-12">
                                    <div class="form-group vuelidate" :class="{ 'form-group-error': $v.firstName.$error }">
                                        <label for="firstName" class="f-bold">First Name</label>
                                        <input v-model.trim="$v.firstName.$model" id="firstName" class="form-control horizon" type="text">
                                        <p v-if="!$v.firstName.required" class="status-text">{{ $t('vue-validation.required', {attribute: 'First name'}) }}</p>
                                        <p v-if="!$v.firstName.alpha" class="status-text">{{ $t('vue-validation.alpha', {attribute: 'First name'}) }}</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-12">
                                    <div class="form-group vuelidate" :class="{ 'form-group-error': $v.lastName.$error }">
                                        <label for="lastName" class="f-bold">Last Name</label>
                                        <input v-model.trim="$v.lastName.$model" id="lastName" class="form-control horizon" type="text">
                                        <p v-if="!$v.lastName.required" class="status-text">{{ $t('vue-validation.required', {attribute: 'Last name'}) }}</p>
                                        <p v-if="!$v.lastName.alpha" class="status-text">{{ $t('vue-validation.alpha', {attribute: 'Last name'}) }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-12">
                                    <div class="form-group vuelidate" :class="{ 'form-group-error': $v.email.$error }">
                                        <label for="email" class="f-bold">Email</label>
                                        <input v-model.trim="$v.email.$model" id="email" class="form-control horizon" type="text">
                                        <p v-if="!$v.email.required" class="status-text">{{ $t('vue-validation.required', {attribute: 'Email'}) }}</p>
                                        <p v-if="!$v.email.email" class="status-text">{{ $t('vue-validation.email', {attribute: 'Email'}) }}</p>
                                        <p v-if="!$v.email.exists" class="status-text">Email already used</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-12">
                                    <div class="row no-gutters">
                                        <div class="col-3">
                                            <div class="form-group vuelidate" :class="{ 'form-group-error': $v.countryCode.$error }">
                                                <label for="countryCode" class="f-bold">C. Code</label>
                                                <select v-model="countryCode" id="countryCode" class="form-control horizon bordered">
                                                    <option value="" selected disabled>Code</option>
                                                    <option value="+65">+65</option>
                                                    <option value="+62">+62</option>
                                                </select>
                                                <p v-if="!$v.countryCode.required" class="status-text">Please select</p>
                                            </div>
                                        </div>
                                        <div class="col-9">
                                            <div class="form-group vuelidate ml-1" :class="{ 'form-group-error': $v.phoneNumber.$error }">
                                                <label for="phoneNumber" class="f-bold">Phone Number</label>
                                                <input v-model.trim="$v.phoneNumber.$model" id="phoneNumber" class="form-control horizon" type="text" placeholder="8xxxxxxxxxx">
                                                <p v-if="!$v.phoneNumber.required" class="status-text">{{ $t('vue-validation.required', {attribute: 'Phone number'}) }}</p>
                                                <p v-if="!$v.phoneNumber.numeric" class="status-text">{{ $t('vue-validation.numeric', {attribute: 'Phone number'}) }}</p>
                                                <p v-if="!$v.phoneNumber.exists" class="status-text">Phone number already used</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-12">
                                    <div class="form-group vuelidate" :class="{ 'form-group-error': $v.password.$error }">
                                        <label for="newPassword" class="f-bold">Password</label>
                                        <input v-model.trim="$v.password.$model" id="newPassword" class="form-control horizon" type="password">
                                        <p v-if="!$v.password.required" class="status-text">{{ $t('vue-validation.required', {attribute: 'Password'}) }}</p>
                                        <p v-if="!$v.password.minLength" class="status-text">{{ $t('vue-validation.gte.string', {attribute: 'Password', value: '6'}) }}</p>
                                    </div> 
                                </div>
                                <div class="col-xl-6 col-12">
                                    <div class="form-group vuelidate" :class="{ 'form-group-error': $v.passwordConfirmation.$error }">
                                        <label for="newPasswordConfirmation" class="f-bold">Password Confirmation</label>
                                        <input v-model.trim="$v.passwordConfirmation.$model" id="newPasswordConfirmation" class="form-control horizon" type="password">
                                        <p v-if="!$v.passwordConfirmation.required" class="status-text">{{ $t('vue-validation.required', {attribute: 'Password confirmation'}) }}</p>
                                        <p v-if="!$v.passwordConfirmation.sameAsPassword" class="status-text">{{ $t('vue-validation.same', {attribute: 'Password confirmation', other: 'Password'}) }}</p>
                                    </div>
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="f-bold" :class="{'text-red': $v.dob.date.$error || $v.dob.month.$error || $v.dob.year.$error}">Date Of Birth</label>
                                <div class="row">
                                    <div class="col-6 d-flex">
                                        <div class="form-group vuelidate mb-0" :class="{ 'form-group-error': $v.dob.date.$error }">
                                            <select v-model="dob.date" class="form-control horizon bordered">
                                                <option value="" selected disabled>Date</option>
                                                <option v-for="(n, i) in 31" v-bind:key="i" :value="n">{{ n }}</option>
                                            </select>
                                            <p v-if="!$v.dob.date.required" class="status-text">{{ $t('vue-validation.required', {attribute: 'Date'}) }}</p>
                                        </div>
                                        <div class="form-group vuelidate mb-0 ml-2" :class="{ 'form-group-error': $v.dob.month.$error }">
                                            <select v-model="dob.month" class="form-control horizon bordered">
                                                <option value="" selected disabled>Month</option>
                                                <option v-for="month in months" v-bind:key="month.value" :value="month.value">{{ month.text }}</option>
                                            </select>
                                            <p v-if="!$v.dob.month.required" class="status-text">{{ $t('vue-validation.required', {attribute: 'Month'}) }}</p>
                                        </div>
                                        <div class="form-group vuelidate mb-0 ml-2" :class="{ 'form-group-error': $v.dob.year.$error }">
                                            <select v-model="dob.year" id="dobYear" class="form-control horizon bordered">
                                                <option value="" selected disabled>Year</option>
                                                <!-- <option :value="year">{{ year }}</option>
                                                <option v-for="(n, i) in 100" v-bind:key="i" :value="year - n">{{ year - n }}</option> -->
                                            </select>
                                            <p v-if="!$v.dob.year.required" class="status-text">{{ $t('vue-validation.required', {attribute: 'Year'}) }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="gender" class="f-bold">Gender</label>
                                <div class="d-flex">
                                    <label class="d-flex align-items-center mb-0" for="man">
                                        <input id="man" type="radio" name="gender" v-model="gender" value="0">
                                        <span class="ml-1">Male</span>
                                    </label>
                                    <label class="d-flex align-items-center mb-0 ml-2" for="woman">
                                        <input id="woman" type="radio" name="gender" v-model="gender" value="1">
                                        <span class="ml-1">Female</span>
                                    </label>
                                </div>
                                <p class="status-text"></p>
                            </div>
                            <button type="submit" class="btn btn-block btn-lg btn-cream mt-4">SIGN UP NOW</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import LoadingComponent from '../Loading/LoadingComponent.vue';
    import { required, alpha, email, numeric, sameAs, minLength } from 'vuelidate/lib/validators';
    import API from '../../api';
    import { library } from '@fortawesome/fontawesome-svg-core'
    import { faFacebookF } from '@fortawesome/free-brands-svg-icons/faFacebookF'
    import { faTwitter } from '@fortawesome/free-brands-svg-icons/faTwitter'
    import { faWhatsapp } from '@fortawesome/free-brands-svg-icons/faWhatsapp'
    import { faGooglePlusG } from '@fortawesome/free-brands-svg-icons/faGooglePlusG'

    library.add(faFacebookF, faTwitter, faWhatsapp, faGooglePlusG);

    const checkExists = function(field, value) {
        if (value === '') return true;
        let data = {
            field: field,
            value: value
        };
        return new Promise((resolve, reject) => {
            window.axios.post(API.checkExists, data)
                .then((response)  =>  {
                    let res = response.data;
                    resolve(!res.data.exists);
                }, (error) => {
                    reject(error);
                });
        });
    };

    export default {
        props: ['user', 'token', 'bus'],
        data() {
            return {
                firstName: '',
                lastName: '',
                email: '',
                countryCode: '',
                phoneNumber: '',
                password: '',
                passwordConfirmation: '',
                dob: {
                    date: '',
                    month: '',
                    year: '',
                },
                gender: 0,

                months: [
                    {value: '01', text: 'January'},
                    {value: '02', text: 'February'},
                    {value: '03', text: 'March'},
                    {value: '04', text: 'April'},
                    {value: '05', text: 'May'},
                    {value: '06', text: 'June'},
                    {value: '07', text: 'July'},
                    {value: '08', text: 'August'},
                    {value: '09', text: 'September'},
                    {value: '10', text: 'October'},
                    {value: '11', text: 'November'},
                    {value: '12', text: 'December'}
                ],
                year: moment().format('YYYY'),

                loading: false,
                socialLoading: false,
            }
        },
        validations: {
            firstName: {
                required,
                alpha
            },
            lastName:  {
                required,
                alpha
            },
            email: {
                required,
                email,
                exists: function(value) { return checkExists('email', value) }
            },
            countryCode: {
                required
            },
            phoneNumber: {
                required,
                numeric,
                exists: function(value) {
                    let phoneNumber = this.countryCode + value;
                    return checkExists('phone_number',  phoneNumber);
                }
            },
            password: {
                required,
                minLength: minLength(6)
            },
            passwordConfirmation: {
                required,
                sameAsPassword: sameAs('password')
            },
            dob: {
                date: { required },
                month:  { required },
                year:  { required },
            },
            gender:  { required },
        },
        created() {
            // console.log(this.user);
            // if (this.user) {
            //     this.$router.push({ name: 'dashboard'});
            // }
        },
        mounted() {
            // CREATED FOR LAGGING ISSUE
            let options = [];
            for (let i = 0; i <= 120; i++) {
                if (i === 0) {
                    let asd = $("<option></option>").attr("value", this.year).text(this.year)
                    options.push(asd);
                } else {
                    let asd = $("<option></option>").attr("value", this.year - i).text(this.year - i)
                    options.push(asd);
                }
            }
            $('#dobYear').append(options);
        },
        computed: {
            dateOfBirth: function() {
                let date = String(this.dob.date).length == 1 ? '0' + this.dob.date : this.dob.date;
                return this.dob.year + '-' + this.dob.month + '-' + date;
            }
        },
        methods: {
            signUp: function(e) {
                e.preventDefault();
                if (this.validateForm()) return;
                let data = {
                    first_name: this.firstName,
                    last_name: this.lastName,
                    email: this.email,
                    phone_number: this.countryCode + this.phoneNumber,
                    password: this.password,
                    password_confirmation: this.passwordConfirmation,
                    dob: this.dateOfBirth,
                    gender: this.gender
                }
                
                this.loading = true;
                window.axios.post(this.$root.api.register, data)
                    .then((response)  =>  {
                        let res = response.data;
                        console.log(res);
                        this.loggedIn(res.data.token, res.data.user);
                        this.loading = false;
                        this.$router.push({ name: 'dashboard'});
                    }, (error) => {
                        let response = error.response;
                        console.log(response);
                        this.error(error);
                        this.loading = false;
                    });
            },
            validateForm: function() {
                this.$v.$touch()
                return this.$v.$invalid
            },
            loggedIn(token, user) {
                this.bus.$emit('loggedIn', token, user);
            },
            error(error) {
                this.bus.$emit('error', error);
            },
            openFbLoginDialog() {
                let self = this;
                if (!window.FB) {
                    self.$emit('error', "Facebook not initialized, please reload page.");
                    return
                }
                self.socialLoading = true;
                FB.login(function(response) {
                    if (response.authResponse) {
                        console.log('Welcome!  Fetching your information.... ');
                        console.log(response);
                        // Login API call is successful
                        let data = {
                            'access_token': response.authResponse.accessToken
                        };
                        window.axios.post(self.$root.api.socialLogin + '/facebook', data)
                            .then((response)  =>  {
                                let res = response.data;
                                self.$emit('loggedIn', res.data.token, res.data.user);
                                self.socialLoading = false;
                            }, (error) => {
                                let response = error.response;
                                self.$emit('error', error);
                                self.socialLoading = false;
                            });
                        FB.api('/me', function(response) {
                            console.log(response);
                            console.log('Good to see you, ' + response.name + '.');
                        });
                    } else {
                        self.socialLoading = false;
                        console.log('User cancelled login or did not fully authorize.');
                    }
                }, { scope: 'public_profile,user_birthday,email', auth_type: 'rerequest' });
            },
            onGoogleSignIn: function() {
                let self = this;
                if (!gapi.auth2.getAuthInstance()) {
                    gapi.auth2.init({
                        client_id: '952617231666-3sdbtg30rojjep536nbh6d5hllt8ib3s.apps.googleusercontent.com',
                        fetch_basic_profile: true,
                        scope: 'profile https://www.googleapis.com/auth/user.birthday.read https://www.googleapis.com/auth/user.phonenumbers.read https://www.googleapis.com/auth/userinfo.profile'
                    });
                }
                self.socialLoading = true;
                gapi.auth2.getAuthInstance().signIn().then(
                    function(googleUser) {
                        let authResponse = googleUser.getAuthResponse(true);
                        let idToken = authResponse.id_token;
                        let basicProfile = googleUser.getBasicProfile();
                        console.log(basicProfile);
                        console.log('ID: ' + basicProfile.getId()); // Do not send to your backend! Use an ID token instead.
                        console.log('Name: ' + basicProfile.getName());
                        console.log('Image URL: ' + basicProfile.getImageUrl());
                        console.log('Email: ' + basicProfile.getEmail());
                        // Login API call is successful
                        let data = {
                            'access_token': idToken
                        };
                        window.axios.post(self.$root.api.socialLogin + '/google', data)
                            .then((response)  =>  {
                                let res = response.data;
                                self.$emit('loggedIn', res.data.token, res.data.user);
                                self.socialLoading = false;
                            }, (error) => {
                                let response = error.response;
                                self.$emit('error', error);
                                self.socialLoading = false;
                            });
                    },
                    function(err) {
                        // Error occurred
                        if (err.error != "popup_closed_by_user") {
                            self.$emit('error', err);
                        }
                        self.socialLoading = false;
                        console.log(err) // to find the reason
                    }
                );
            }
        },
        components: {
            LoadingComponent
        }
    }
</script>
