<template>
    <div class="batam-highlights">
        <template v-if="loading">
            <loading-component :show-text="true" :text="'Loading'"></loading-component>
        </template>
        <template v-else>
            <template v-if="article">
                <div class="container">
                    <div class="row py-4">
                        <div class="col-xl-8">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <router-link :to="{ name: 'dashboard' }">Home</router-link>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <router-link :to="{ name: 'batam-highlights' }">Batam Highlights</router-link>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">{{ article.title }}</li>
                                </ol>
                            </nav>
                            <div class="article-detail clearfix">
                                <p class="mb-1 text-uppercase text-grey">{{ article.tags.replace(/,/g, ', ') }}</p>
                                <p class="mb-0 text-blue f-secondary fs-xl">{{ article.title }}</p>
                                <p class="text-cream fs-3">{{ article.publisher_name }} - {{ article.created_at | moment("MMMM D, YYYY") }}</p>
                                <p class="description fs-2" v-html="article.desc"></p>
                            </div>
                            <hr class="my-4">
                            <div class="share-section">
                                <div class="share-container">
                                    <div class="share-btn">
                                        <div class="share-blog">
                                            <div class="icon">
                                                <font-awesome-icon icon="share-alt"></font-awesome-icon>
                                            </div>
                                            <div class="separator"></div>
                                            <div class="text">
                                                <b>Share</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="share-app">
                                        <a :href="`https://www.facebook.com/sharer/sharer.php?u=${shareUrl}`" target="_blank" class="share-blog" OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=350'); return false;">
                                            <div class="icon">
                                                <font-awesome-icon class="text-facebook" :icon="['fab','facebook-f']"></font-awesome-icon>
                                            </div>
                                            <div class="separator"></div>
                                            <div class="text">
                                                <span>Facebook</span>
                                            </div>
                                        </a>
                                        <a :href="`https://twitter.com/home?status=${shareUrl}`" target="_blank" class="share-blog" OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=350'); return false;">
                                            <div class="icon">
                                                <font-awesome-icon class="text-twitter" :icon="['fab','twitter']"></font-awesome-icon>
                                            </div>
                                            <div class="separator"></div>
                                            <div class="text">
                                                <span>Twitter</span>
                                            </div>
                                        </a>
                                        <a :href="`https://plus.google.com/share?url=${shareUrl}`" target="_blank" class="share-blog" OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=350'); return false;">
                                            <div class="icon">
                                                <font-awesome-icon class="text-google-plus" :icon="['fab','google-plus-g']"></font-awesome-icon>
                                            </div>
                                            <div class="separator"></div>
                                            <div class="text">
                                                <span>Google+</span>
                                            </div>
                                        </a>
                                        <a :href="`https://pinterest.com/pin/create/button/?url=${shareUrl}&media=${article.cover_url}&description=`" target="_blank" class="share-blog" OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=350'); return false;">
                                            <div class="icon">
                                                <font-awesome-icon class="text-pinterest" :icon="['fab','pinterest-p']"></font-awesome-icon>
                                            </div>
                                            <div class="separator"></div>
                                            <div class="text">
                                                <span>Pinterest</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4">
                            <div class="other-article mb-4">
                                <div class="row no-gutters">
                                    <div class="col-6 text-left pr-3">
                                        <p class="text-grey mb-1">Previous article</p>
                                        <router-link v-if="prevArticle" :to="{ name: 'article-detail', params: {slug: prevArticle.slug} }" class="text-blue f-secondary fs-3">{{ prevArticle.title }}</router-link>
                                    </div>
                                    <div class="col-6 text-right pl-3">
                                        <p class="text-grey mb-1">Next article</p>
                                        <router-link v-if="nextArticle" :to="{ name: 'article-detail', params: {slug: nextArticle.slug} }" class="text-blue f-secondary fs-3">{{ nextArticle.title }}</router-link>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4">
                            <div class="comments">
                                <div class="mb-4" v-if="article.comments.length">
                                    <p class="fs-2"><b>COMMENTS</b></p>
                                    <div class="mb-4" v-for="(comment, i) in article.comments" v-bind:key="i">
                                        <p class="f-bold mb-1">{{ comment.name }} <span class="text-grey fs-0">• {{ comment.created_at | moment('D MMM YYYY') }}</span></p>
                                        <p class="mb-0">{{ comment.desc }}</p>
                                    </div>
                                </div>
                                <form @submit="postComment">
                                    <p class="fs-2"><b>LEAVE A REPLY</b></p>
                                    <div class="form-group vuelidate" :class="{ 'form-group-error': $v.comment.$error }">
                                        <textarea v-model.trim="$v.comment.$model" id="comment" class="form-control" placeholder="Comment:" :disabled="posting"></textarea>
                                        <p v-if="!$v.comment.required" class="status-text">{{ $t('vue-validation.required', {attribute: 'Comment'}) }}</p>
                                    </div>
                                    <div class="form-group vuelidate" :class="{ 'form-group-error': $v.name.$error }">
                                        <input v-model.trim.lazy="$v.name.$model" id="name" class="form-control" type="text" placeholder="Name:*" :disabled="posting">
                                        <p v-if="!$v.name.required" class="status-text">{{ $t('vue-validation.required', {attribute: 'Name'}) }}</p>
                                        <p v-if="!$v.name.alpha" class="status-text">{{ $t('vue-validation.alpha', {attribute: 'Name'}) }}</p>
                                    </div>
                                    <div class="form-group vuelidate" :class="{ 'form-group-error': $v.email.$error }">
                                        <input v-model.trim.lazy="$v.email.$model" id="email" class="form-control" type="text" placeholder="Email:*" :disabled="posting">
                                        <p v-if="!$v.email.required" class="status-text">{{ $t('vue-validation.required', {attribute: 'Email'}) }}</p>
                                        <p v-if="!$v.email.email" class="status-text">{{ $t('vue-validation.email', {attribute: 'Email'}) }}</p>
                                    </div>
                                    <button type="submit" class="btn btn-black f-bold" :disabled="posting">Post Comment</button>
                                </form>
                            </div>
                        </div>
                        <!-- <div class="col-xl-4">
                            <div class="py-5">
                                <div class="mb-4">
                                    <p class="text-cream f-secondary fs-3 mb-1">Horizon Ferry</p>
                                    <p>Sophia is a long time coffee enthusiast and blogger, so the project started naturally five years ago. You can find useful information about coffee typees, plantations, equipment and even tips and tricks or fun facts.</p>
                                </div>
                                <div class="mb-4">
                                    <p class="text-cream f-secondary fs-3 mb-2">Don't miss</p>
                                    <div v-for="i in 5" v-bind:key="i" class="mb-3">
                                        <p class="mb-0">Instant coffe was invented by a brilliant man</p>
                                        <div>
                                            <span class="f-bold fs-0">Sophia Green - <span class="text-grey f-normal">January 25, 2018</span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </template>
            <template v-else>
                <p class="text-center fs-7 text-dark-grey py-5 mt-5">We are out of article, please come back later</p>
            </template>
        </template>
    </div>
</template>

<script>
    import LoadingComponent from '../Loading/LoadingComponent.vue'
    import { library } from '@fortawesome/fontawesome-svg-core'
    import { faShareAlt } from '@fortawesome/free-solid-svg-icons/faShareAlt'
    import { faFacebookF } from '@fortawesome/free-brands-svg-icons/faFacebookF'
    import { faTwitter } from '@fortawesome/free-brands-svg-icons/faTwitter'
    import { faGooglePlusG } from '@fortawesome/free-brands-svg-icons/faGooglePlusG'
    import { faPinterestP } from '@fortawesome/free-brands-svg-icons/faPinterestP'
    import { required, email } from 'vuelidate/lib/validators';

    library.add(faShareAlt, faFacebookF, faTwitter, faGooglePlusG, faPinterestP);

    export default {
        props: ['user', 'token', 'bus'],
        data() {
            return {
                slug: this.$route.params.slug,
                loading: false,
                article: null,
                shareUrl: window.location.href,
                prevArticle: '',
                nextArticle: '',

                comment: '',
                name: '',
                email: '',
                posting: false,
            }
        },
        validations: {
            comment: {
                required
            },
            name: {
                required
            },
            email: {
                required,
                email
            }
        },
        created() {
            this.getArticle(this.slug);
        },
        beforeRouteUpdate (to, from, next) {
            // react to route changes...
            // don't forget to call next()
            next(true);
            this.reloadArticle(to.params.slug);
        },
        methods: {
            getArticle(slug) {
                this.loading = true;
                window.axios.get(this.$root.api.getArticle + `/${slug}`)
                    .then((response)  =>  {
                        let res = response.data;
                        this.article = res.data.article;
                        this.prevArticle = res.data.prevArticle;
                        this.nextArticle = res.data.nextArticle;

                        this.loading = false;
                    }, (error) => {
                        if (error.response.status == 404) {
                            this.bus.$emit('error', 'Article Not Found');
                        } else {
                            this.bus.$emit('error', error);
                        }

                        this.loading = false;
                    });
            },
            reloadArticle(slug) {
                this.slug = slug;
                this.loading = true;
                this.article = null;
                this.shareUrl = window.location.href;
                this.prevArticle = '';
                this.nextArticle = '';

                this.comment = '';
                this.name = '';
                this.email = '';
                this.$v.$reset();
                this.posting = false;
                this.getArticle(this.slug);
            },
            postComment: function(e) {
                e.preventDefault();
                if (this.validateForm()) return;
                let data = {
                    desc: this.comment,
                    name: this.name,
                    email: this.email,
                }

                this.posting = true;
                window.axios.post(this.$root.api.baseUrl + `/article/${this.slug}/post-comment`, data)
                    .then((response)  =>  {
                        let res = response.data;
                        this.bus.$emit('success', 'Comment Posted');

                        this.reloadArticle(this.slug);
                        this.posting = false;
                    }, (error) => {
                        let response = error.response;
                        this.bus.$emit('error', error);

                        this.posting = false;
                    });
            },
            validateForm: function() {
                this.$v.$touch()
                return this.$v.$invalid
            },
        },
        components: {
            LoadingComponent,
        }
    }
</script>
